/*///////////////////////////////////RESET///////////////////////////////////////*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
/*///////////////////////////////////GLOBAl////////////////////////////////////*/
html,
body {
	height: 100%;
}
body {
  overflow-x: hidden;
	min-width: 320px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #222221;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
.rub {
  font-family: 'Inter', sans-serif, ’Arial’, ’Helvetica Neue’, sans-serif;
  white-space: nowrap;
}

/*///////////////////////////////////FONTS///////////////////////////////////////*/
/*Extra-Light 200*/
/*Light 300*/
/*Regular, Normal 400*/
/*Medium 500*/
/*Semi-bold 600/*
/*Bold 700*/
/*Black 900*/
/*

font-family: 'Inter', sans-serif;
*/

/*///////////////////////////////////Header///////////////////////////////////////*/
.header {
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}
.header__inner {
  display: flex;
}
.logo {
  flex: 0 0 152px;
  margin: 0px 45px 0px 0px;
}
.logo img {
  width: 152px;
  height: 154px;
  image-rendering: -webkit-optimize-contrast;
}
.header__content {
}
.content-header {
  flex: 1 1 auto;
}
.top-header {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0px 0px 24px 0px;
}
.top-header__text,
.top-header__address,
.top-header__worktime {
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
}
.top-header__text {
 flex: 0 0 170px;
 margin: 0px 50px 0px 0px;
}
.top-header__address {
  flex: 0 0 190px;
  margin: 0px 50px 0px 0px;
}
.top-header__worktime {
  flex: 0 0 112px;
  margin: 0px 50px 0px 0px;
}
.top-header__box {
  display: flex;
  flex: 0 1 470px;
  justify-content: flex-end;
}
.top-header__social {
  display: flex;
  margin: 2px 0px 0px 0px;
  flex: 0 0 100px;
}
.top-header__social-link {
  margin: 0px 10px 0px 0px;
}
._whatsapp {
}
._viber {
}
._telegram {
}
.top-header__contacts {
  margin: 0px 15px 0px 0px;
}
.top-header__phone {
  font-weight: 700;
  font-size: 18px;
  display: block;
  color: #222221;
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
}
.top-header__mail {
  font-size: 12px;
  line-height: 16px;
  color: #5C5C5C;
  font-weight: 400;
  display: block;
  margin-left: auto;
  width: 134px;
  border-bottom: 1px solid #5C5C5C;
  transition: all .3s;
}
.top-header__mail:hover {
  border-bottom: 1px solid transparent;
}
.top-header__callback {
  flex: 0 0 46px;
}
.header-bottom {
  background: linear-gradient(180deg, #EEF6F9 0%, #EFF4F5 100%);
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  border-radius: 32px;
  padding: 22px 40px;
}
.header-bottom__navigation {
}
.header-bottom__navigation-list {
  display: flex;
  justify-content: space-between;
}
.header-bottom__navigation-list li {
  margin: 0px 20px 0px 0px;
}
.header-bottom__navigation-list li:last-child {
  margin: 0px 0px 0px 0px;
}
.header-bottom__navigation-list li a {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.header-bottom__navigation-list li a::after {
  content: "";
  display: block;
  background-color: #000000;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header-bottom__navigation-list li a:hover::after {
  width: 100%;
}
/*///////////////////////////////////Main///////////////////////////////////////*/

.page__main {
  padding: 215px 0px 0px 0px;
}
.main-page {
  background: url('../img/main-bg.png') center no-repeat;
  height: 100vh;
  background-size: cover;
}
.main-page__inner {
  display: flex;
  align-items: center;
}
.main-page__title {
  font-weight: 900;
  font-size: 53px;
  line-height: 64px;
  text-transform: uppercase;
  color: #434345;
  margin: 0px 40px 0px 0px;
}
.orange {
  text-transform: lowercase;
  font-weight: 700;
  display: block;
  font-size: 36px;
  line-height: 44px;
  color: #F65118;
}
.main-page__box {
  width: 200px;
}
.main-page__text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 0px 22px 0px;
}
.main-page__price {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #434345;
}
.form__inner {
  display: flex;
}
.main-page__form {
  margin: 55px 0px 0px 0px;
}
.form-page {
}
.modal-block {
}
.modal-wrap {
}
.block-form {
}
.main-page__form .block-form__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #5C5C5C;
  margin: 0px 0px 25px 0px;
}
.main-page__form .item-input input {
  padding: 15px 20px 15px 10px;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #fff;
  border-left: 10px solid transparent;

  /*
  border-left: 10px solid transparent;
  */
  margin: 0px 18px 15px 0px;
}
.main-page__form .item-input input:focus {
  border-left: 10px solid #F65118;
  background-color: rgba(255, 255, 255, 0.95);
  outline: none;
}
/*
.main-page__form .item-input input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px solid #fff;
  width: 100px;
  height: 100px;

}
*/

.input-phone {
}
.checkbox-wrap {
}
.checkbox {
}
.btn-main {
}