/*///////////////////////////////////RESET///////////////////////////////////////*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
/*///////////////////////////////////GLOBAl////////////////////////////////////*/
html,
body {
	height: 100%;
}
body {
  overflow-x: hidden;
	min-width: 320px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #222221;
  background-color: #fcfbfb;
}
body._no-scroll {
  position: relative;
  overflow-y: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
.rub {
  font-family: 'Inter', sans-serif, ’Arial’, ’Helvetica Neue’, sans-serif;
  white-space: nowrap;
}
.title-2 {
  position: relative;
  font-size: 75px;
  line-height: 90px;
  font-weight: 600;
  color: #434345;
  padding: 0px 0px 0px 110px;
}
.title-2::before {
  content:"";
  position: absolute;
  height: 3px;
  width: 60px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #434345;
}
.btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #F65118;
  border-radius: 32px;
  border: 1px solid #F65118;
  height: 48px;
  padding: 0 28px;
  transition: all .3s;
}
.btn-1:hover {
  background-color: #F65118;
  color: #fff;
}
.btn-2 {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 50px;
  background-image: linear-gradient(to left, #FF6732 0%, #F65118 100%);
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  border-radius: 32px;
  transition: all .4s ease-in-out; 
  background-size: 300% 100%;
}
.btn-2:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
} 
.btn-2::before {
  content: "";
  position: absolute;
  background: url('../img/icons/callback2.svg') 0 0 no-repeat;
  width: 38px;
  height: 38px;
  left: 15px;
  transition: all .5s;
}
.btn-2:hover::before {
  transform: rotate(360deg);
}
.modal-block {
  width: 400px;
  padding: 40px 64px 50px;
  background: linear-gradient(180deg, #FF6732 0%, #F65118 100%);
  color: #fff;
  border-radius: 32px;
}
.block-form__title {
  text-align: center;
  font-size: 24px;
  line-height: 25px;
  font-weight: 600;
  color: #fff;
  margin: 0px 0px 15px 0px;
}
.block-form__subtitle {
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.item-input {
  margin: 0px 0px 10px 0px;
}
.item-input input {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  padding: 15px 25px;
  border: 0;
}
.item-input input::placeholder {
  font-weight: 300;
  color: #838383;
  opacity: 1;
}
.checkbox label span {
  font-weight: 500;
  color: #fff;
}
.btn-main {
  cursor: pointer;
  margin: 30px 0px 0px 0px;
  border: 0;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  background-color: #414245;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  transition: all .3s;
}
.btn-main:hover {
  background-color: #000;
} 
.checkbox-wrap {
  width: 260px;
}
.checkbox label input {
  position: absolute;
  z-index: -1;
  height: 1px !important;
  width: 1px !important;
  opacity: 0 !important;
  margin: 12px 2px 0 7px !important;
}
.checkbox label span {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding: 0px 0px 0px 39px;
  display: block;
  cursor: pointer;
}
.checkbox label span:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #fff;
  transition: .2s;
}
.checkbox label span:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: url('../img/icons/check.svg') center no-repeat;
  opacity: 0;
  transition: .2s;
} 
.checkbox label input:checked + span:after {
  opacity: 1;
}
.contacts-page__map._map-grey#map {
  height: 582px;
  width: 100%;
}
.contacts-page__map._map-grey#map [class*="ymaps-2-1"][class*="-ground-pane"] {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}
[class$='-copyrights-pane'] {
  display: none;
}
.text-map {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  max-width: 240px;
  padding: 0 5px;
}
.text-map span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.menu-toggle {
  flex: 0 0 40;
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  transition: .25s ease-in-out;
}
.menu-toggle .hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}
.menu-toggle .hamburger span {
  display: block;
  background: #000;
  border-radius: 3px;
  width: 30px;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
  margin: 8px 0;
  transition: .25s ease-in-out;
}
.menu-toggle .hamburger span:nth-child(1) {
  margin: 4px 0px 5px 0px;
  transition-delay: .5s;
}
.menu-toggle .hamburger span:nth-child(2) {
  transition-delay: .625s;
}
.menu-toggle .hamburger span:nth-child(3) {
  transition-delay: .75s;
  margin: 0px 0px 4px 0px;
}
.menu-toggle .cross span {
  background: #000;
  transition: .25s ease-in-out;
}
.menu-toggle .cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
.menu-toggle .cross span:nth-child(1) {
  height: 0%;
  width: 2px;
  position: absolute;
  top: -1px;
  left: 14px;
  transition-delay: 0s;
}
.menu-toggle .cross span:nth-child(2) {
  width: 0%;
  height: 2px;
  position: absolute;
  right: -1px;
  top: 14px;
  transition-delay: .25s;
}
.menu-toggle.open .hamburger span {
  width: 0%;
}
.menu-toggle.open .hamburger span:nth-child(1) {
  transition-delay: 0s;
}
.menu-toggle.open .hamburger span:nth-child(2) {
  transition-delay: .125s;
}
.menu-toggle.open .hamburger span:nth-child(3) {
  transition-delay: .25s;
}
.menu-toggle.open .cross span:nth-child(1) {
  height: 32px;
  transition-delay: .625s;
}
.menu-toggle.open .cross span:nth-child(2) {
  width: 32px;
  transition-delay: .375s;
}
.top-btn {
  display: none;	
  position: relative;
  filter: alpha(opacity=50);
  position: fixed;
  right: 20px;
  bottom: 70px;
  z-index: 9;			
  transition: all .3s;
  background-color: #F65118;
  border: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  padding: 0;
  z-index: 10;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.7);
}
.top-btn::before,
.top-btn::after {
  content:"";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #fff;
}
.top-btn::before {
  left: 12px;
  transform: rotate(-45deg);
}
.top-btn::after {
  right: 12px;
  transform: rotate(45deg);
}
.top-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
}
.top-btn._disabled {
  display: none !important;
} 
.modal-block.visually-hidden {
  display: none;
}
.fancybox-skin {
  border-radius: 32px !important;
}
.fancybox-skin {
  padding: 0 !important;
}
/*///////////////////////////////////FONTS///////////////////////////////////////*/
/*Extra-Light 200*/
/*Light 300*/
/*Regular, Normal 400*/
/*Medium 500*/
/*Semi-bold 600/*
/*Bold 700*/
/*Black 900*/
/*

font-family: 'Inter', sans-serif;
*/

/*///////////////////////////////////Header///////////////////////////////////////*/
.header {
  padding-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}
.header__inner {
  display: flex;
}
.header .logo {
  flex: 0 0 152px;
  margin: 0px 45px 0px 0px;
}
.logo img {
  width: 152px;
  height: 154px;
  image-rendering: -webkit-optimize-contrast;
}
.content-header {
  flex: 1 1 auto;
}
.top-header {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0px 0px 24px 0px;
}
.top-header__text,
.top-header__address,
.top-header__worktime {
  font-size: 12px;
  line-height: 15px;
  color: #5C5C5C;
}
.top-header__text {
 flex: 0 0 170px;
 margin: 0px 50px 0px 0px;
}
.top-header__address {
  flex: 0 0 190px;
  margin: 0px 50px 0px 0px;
}
.top-header__worktime {
  flex: 0 0 112px;
  margin: 0px 50px 0px 0px;
}
.top-header__box {
  display: flex;
  flex: 0 1 470px;
  justify-content: flex-end;
  align-items: flex-start;
}
.top-header__social {
  display: flex;
  margin: 2px 0px 0px 0px;
  flex: 0 0 100px;
}
.top-header__social-link {
  margin: 0px 10px 0px 0px;
}
.top-header__social-link img {
  transition: all .3s;
}
.top-header__social-link:hover img {
  transform: scale(1.2);
}
.top-header__contacts {
  margin: 0px 15px 0px 0px;
}
.top-header__phone {
  font-weight: 700;
  font-size: 18px;
  display: block;
  color: #222221;
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
}
.top-header__mail {
  font-size: 12px;
  line-height: 16px;
  color: #5C5C5C;
  font-weight: 400;
  display: block;
  margin-left: auto;
  width: 134px;
  border-bottom: 1px solid #5C5C5C;
  transition: all .3s;
}
.top-header__mail:hover {
  border-bottom: 1px solid transparent;
}
.top-header__callback {
  transition: all .5s;
  flex: 0 0 46px;
}
.top-header__callback:hover {
  transform: rotate(360deg);
} 
.bottom-header {
  background: linear-gradient(180deg, #EEF6F9 0%, #EFF4F5 100%);
  /*
  border: 2px solid rgba(252, 251, 251, 0.9);
  background-clip: padding-box;
  */
  border-radius: 32px;
  padding: 22px 22px;
  box-shadow: 0px 5px 20px -10px rgba(29, 156, 184, 0.4);
}
.bottom-header__navigation-list {
  display: flex;
  justify-content: space-between;
}
.bottom-header__navigation-list li {
  margin: 0px 0px 0px 0px;
}
.bottom-header__navigation-list li:last-child {
  margin: 0px 0px 0px 0px;
}
.bottom-header__navigation-list li a {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding: 10px 18px;
  transition: all .3s;
  border-radius: 32px;
}
.bottom-header__navigation-list li a:hover {
  background: #74B9D7;
  color: #fff;
}
.bottom-header__navigation-list li a._active {
  background: #74B9D7;
  color: #fff;
}
.bottom-header._active {
  position: fixed;
  transform: translateY(-84px);
  z-index: 10;
  width: 1093px;
}
/*
.header-bottom__navigation-list li a::after {
  content: "";
  display: block;
  background-color: #000000;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header-bottom__navigation-list li a:hover::after {
  width: 100%;
}
*/
/*///////////////////////////////////Main///////////////////////////////////////*/

.page__main {
  padding: 215px 0px 0px 0px;
}
.main-page {
  background: url('../img/main-bg.jpg') center no-repeat;
  height: 100vh;
  background-size: cover;
}
.main-page__inner {
  display: flex;
  align-items: center;
}
.main-page__title {
  font-weight: 900;
  font-size: 53px;
  line-height: 64px;
  text-transform: uppercase;
  color: #434345;
  margin: 0px 40px 0px 0px;
}
.orange {
  text-transform: lowercase;
  font-weight: 700;
  display: block;
  font-size: 36px;
  line-height: 44px;
  color: #F65118;
}
.main-page__box {
  width: 200px;
}
.main-page__text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 0px 22px 0px;
}
.main-page__price {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #434345;
}
.form__inner {
  display: flex;
}
.main-page__form {
  margin: 55px 0px 0px 0px;
}
.main-page__form .modal-block {
  padding: 0;
  width: 540px;
  background: transparent;
}
.main-page__form .block-form__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #5C5C5C;
  margin: 0px 0px 25px 0px;
}
.main-page__form .form__inner {
  margin: 0px 0px 10px 0px;
}
.main-page__form .item-input {
  margin: 0px 18px 15px 0px;
}
.form__column:last-child .item-input {
  margin: 0px 0px 15px 0px;
}
.main-page__form .item-input input {
  padding: 15px 20px 15px 10px;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #fff;
  border-left: 10px solid transparent;
  width: 260px;
}
.main-page__form .item-input input:focus {
  border: none;
  padding: 16px 21px 16px 10px;
  border-left: 10px solid #F65118;
  background-color: rgba(255, 255, 255, 0.95);
  outline: none;
}
.main-page__form .block-form__title {
  text-align: left;
}
.main-page__form .checkbox label span {
  padding: 5px 0px 0px 39px;
}
.main-page__form .btn-main {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 50px;
  background-image: linear-gradient(to left, #FF6732 0%, #F65118 100%);
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  border-radius: 32px;
  transition: all .4s ease-in-out; 
  background-size: 300% 100%;
}
.main-page__form .btn-main:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
} 
.main-page__form .btn-main::before {
  content: "";
  position: absolute;
  background: url('../img/icons/btn-car.svg') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  left: 15px;
}
.main-page__form .checkbox-wrap {
  width: 465px;
  color: #434345;
}
.main-page__form .checkbox label span {
  color: #434345;
}
/*///////////////////////////////////products///////////////////////////////////////*/
.page__products {
  padding: 0px 0px 140px 0px;
}
.products-page {
  background: url('../img/pdoducts-bg.jpg') 0 0 no-repeat;
  background-size: cover;
}
.products-page__title {
  margin: 0px 0px 40px 0px;
}
.products-page__items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.products-page__item {
  box-shadow: 0px 33px 46px -44px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0px 0px 0px 30px;
  max-width: 300px;
}
.products-page__item-img {
  display: block;
}
.products-page__item-inner {
  padding: 25px 35px 30px;
}
.products-page__item-img img {
  border-radius: 20px 20px 0 0;
  object-fit: contain;
  width: 100%;
}
.products-page__item-title {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #222221;
  margin: 0px 0px 30px 0px;
}
.products-page__item-list {
  margin: 0px 0px 30px 0px;
}
.products-page__item-list li {
  position: relative;
  padding: 0px 0px 0px 30px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 0px 0px 15px 0px;
}
.products-page__item-list li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #F65118;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.products-page__item-list li:last-child {
  margin: 0px 0px 0px 0px;
}
.products-page__item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-page__item-link {
  font-weight: 400;
  font-size: 12px;
  color: #5C5C5C;
  border-bottom: 1px solid #5C5C5C;
  transition: all .3s;
}
.products-page__item-link:hover {
  border-bottom: 1px solid transparent;
}
/*///////////////////////////////////products///////////////////////////////////////*/
.page__advantages {
  padding: 60px 0 20px;
}
.advantages-page {
  background: url('../img/advantages-bg.jpg') center no-repeat;
  background-size: cover;
}
.advantages-page .container {
  position: relative;
}
.advantages-page__title {
  position: relative;
  z-index: 2;
  margin: 0px 0px 60px 0px;
}
.advantages-page__list {
  position: relative;
  z-index: 2;
  columns: 2;
  max-width: 850px;
}
.advantages-page__list li {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  max-width: 380px;
  margin: 0px 0px 40px 0px;
}
.advantages-page__list-text {
  position: relative;
  display: block;
  padding: 0px 0px 0px 70px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin: 15px 0px 0px 0px;
}
.advantages-page__list-text::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background: url('../img/icons/plus.svg') 0 0 no-repeat;
  left: 20px;
  top: 7px;
}
.advantages-page__img {
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: 1;
}
.advantages-page__img img {
  position: relative;
  object-fit: contain;
}
/*///////////////////////////////////partners///////////////////////////////////////*/
.page__partners {
  padding: 130px 0 30px;
}
.partners-page {
  position: relative;
  background: url('../img/partners-bg.jpg') 0 0 no-repeat;
  background-size: cover;
}
.partners-page__title {
  margin: 0px 0px 55px 0px;
}
.partners-page__slider {
  position: relative;
  min-width: 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.partners-page__slider-item {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 33px 46px -44px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 290px;
  margin: 10px 15px 30px;
  cursor: pointer;
}
.partners-page__slider-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  height: 230px;
  padding: 10px 0;
}
@media (min-width: 1200px) {
  .partners-page__slider-img img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .5s;
  }
  .partners-page__slider-item:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
.partners-page__slider-img img {
  object-fit: contain;
}
.partners-page__slider-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-75%);
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 2;
}
.partners-page__slider-btnprev {
  left: -10px;
}
.partners-page__slider-btnnext {
  right: 0;
}
.partners-page__slider .slick-arrow.slick-disabled {
  opacity: 0.4;
}
/*///////////////////////////////////order///////////////////////////////////////*/
.page__order {
  position: relative;
  padding: 60px 0 160px;
}
.order-page {
  background: url('../img/order-bg.jpg') 0 0 no-repeat;
  background-size: cover;
}
.order-page__title {
  margin: 0px 0px 25px 0px;
}
.order-page__inner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.order-page__img {
  position: absolute;
  top: 0;
  left: 0;
}
.order-page__img img {
  object-fit: cover;
}
.order-page__list {
  padding: 80px 0px 0px 250px !important;
  flex: 0 1 790px;
}
.order-page__list li {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  margin: 0px 0px 60px 0px;
  padding: 0px 0px 0px 70px;
}
.order-page__list li:last-child {
  margin: 0px 0px 0px 0px;
}
.order-page__list li span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 24px;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 1px solid #F65118;
  border-radius: 50%;
  color: #F65118;
}
.order-page__phone {
  font-weight: 700;
  display: block;
  margin: 15px 0px 0px 0px;
  color: inherit;
  width: 165px;
}
.order-page__form {
  border-radius: 32px;
}
.order-page__form .modal-block {
  box-shadow: 0px 20px 20px -10px rgba(184, 69, 29, 0.4);
}
/*///////////////////////////////////contacts///////////////////////////////////////*/

.page__contacts {
  padding: 90px 0px 0px 0px;
}
.contacts-page {
  background: url('../img/map-bg.jpg') 0 0 no-repeat;
  background-size: contain;
}
.contacts-page__map-title {
  margin: 0px 0px 40px 0px;
}
.contacts-page__map {
}
._map-grey {
}
.contacts-page__box {
  position: relative;
  z-index: 2;
}
.contacts-page__info {
  position: absolute;
  top: 60px;
  left: 0;
  width: 330px;
  padding: 50px 45px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 33px 46px -44px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.contacts-page__info span {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.contacts-page__info-address,
.contacts-page__info-mail,
.contacts-page__info-phone {
  margin: 0px 0px 30px 0px;
  color: inherit;
  display: block;
}
/*///////////////////////////////////footer///////////////////////////////////////*/
.footer {
  padding: 60px 0 70px;
  background: #fff;
}
.footer .logo {
  margin: 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__column:first-child {
  flex: 0 0 152px;
  margin: 0px 30px 0px 0px;
}
.footer__column:nth-child(2) {
  flex: 0 1 705px;
  margin: 0px 30px 0px 0px;
}
.footer__column:last-child {
  flex: 0 0 210px;
}
.footer__column-text {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5C5C5C;
  margin: 15px 0px 0px 0px;
}
.footer__top {
  padding: 0px 0px 30px 0px;
  border-bottom: 3px solid #434345;
  margin: 0px 0px 30px 0px;
}
.footer__top-navigation li {
  position: relative;
}
.footer__top-navigation li::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -57px;
  transform: translateY(-50%) translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: #F65118;
  border-radius: 50%;
}
.footer__top-navigation li:last-child::before {
  display: none;
}
.footer__top-navigation li a {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}
.footer__top-navigation li a::after,
.footer__middle-navigation li a::after {
  content: "";
  display: block;
  background-color: #000000;
  height: 1px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.footer__top-navigation li a:hover::after,
.footer__middle-navigation li a:hover::after {
  width: 100%;
}
.footer__top-navigation,
.footer__middle-navigation,
.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
}
.footer__middle {
  border-bottom: 1px solid #d9d9da;
  padding: 0px 0px 35px 0px;
  margin: 0px 0px 35px 0px;
}
.footer__middle-navigation li {
  position: relative;
}
.footer__middle-navigation li::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -41px;
  transform: translateY(-50%) translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: #5C5C5C;
  border-radius: 50%;
}
.footer__middle-navigation li:last-child::before {
  display: none;
}
.footer__middle-navigation li a {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.footer__bottom-confidentiality,
.footer__bottom-copyright,
.footer__bottom-development {
  color: #5C5C5C;
}
.footer__bottom-confidentiality {
  border-bottom: 1px solid #5C5C5C;
  transition: all .3s;
}
.footer__bottom-confidentiality:hover {
  border-bottom: 1px solid transparent;
}
.footer__bottom-development {
  display: flex;
  align-items: center;
}
.footer__bottom-development img {
  margin: 0px 0px 0px 10px;
  transition: all .5s;
}
.footer__bottom-development:hover img {
  transform: rotate(360deg);
}
.footer__info span {
  display: block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}
.footer__address,
.footer__phone,
.footer__mail {
  margin: 0px 0px 25px 0px;
  color: inherit;
  display: block;
}
.footer__mail {
  margin: 0px 0px 0px 0px;
}
/*///////////////////////////////////adaptive///////////////////////////////////////*/
@media(max-width: 1800px) {
  .order-page__img {
    top: 140px;
    width: 400px;
  }
}
@media(max-width: 1600px) {
  .page__main {
    padding: 200px 0px 0px 0px;
  }
  .main-page__form {
    margin: 25px 0px 0px 0px;
  }
  .main-page__form .block-form__title {
    margin: 0px 0px 15px 0px;
  }
  .main-page__form .btn-main {
    margin: 20px 0px 0px 0px;
  }
  .order-page__img {
    top: 260px;
    width: 300px;
  }
}
@media(max-width: 1366px) {
  .main-page__title {
    font-size: 44px;
    line-height: 50px;
  }
  .products-page__title {
    margin: 0px 0px 30px 0px;
  }
  .title-2 {
    font-size: 60px;
    line-height: 66px;
  }
  .orange {
    font-size: 30px;
    line-height: 36px;
  }
  .main-page__text {
    margin: 0px 0px 10px 0px;
  }
  .main-page__form {
    margin: 10px 0px 0px 0px;
  }
  .main-page__form .block-form__title {
    font-size: 16px;
  }
  .main-page__form .modal-block {
    width: 432px;
  }
  .main-page__form .item-input input {
    width: 206px;
  }
  .main-page__form .btn-main {
    font-size: 20px;
  }
  .main-page__form .form__inner {
    margin: 0px 0px 0px 0px;
  }
  .page__products {
    padding: 0px 0px 70px 0px;
  }
  .advantages-page__img {
    right: 0px;
    width: 350px;
  }
  .order-page__img {
    display: none;
  }
  .order-page__list {
    padding: 80px 0px 0px 0px !important;
  }
}
@media(max-width: 1300px) {
  .bottom-header__navigation-list li a {
    padding: 10px;
  }
  .header .logo {
    margin: 0px 25px 0px 0px;
  }
  .bottom-header._active {
    position: fixed;
    transform: translateY(-84px);
    z-index: 10;
    width: auto;
  }
}
@media(max-width: 1129px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 5px 0;
    /*
    box-shadow: 0px 12px 15px 0px rgba(52, 62, 82, 0.23);
    */
    background: rgba(238, 245, 247, 1);
    box-shadow: 0px 5px 20px -10px rgba(29, 156, 184, 0.4);
  }
  .header .logo {
    flex: none;
    margin: 0px 10px 0px 0px;
  }
  .menu-toggle {
    display: block;
  }
  .header__inner {
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  .header .logo img {
    width: 40px;
    height: auto;
  }
  .bottom-header {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform .5s;
    overflow: auto;
    padding: 90px 0px 0px 0px;
    background: rgba(238, 245, 247, 1);
    border-radius: 0;
    transform: translateY(-100%);
    box-shadow: none;
  }
  .bottom-header._active {
    transform: translateY(0);
    width: 100%;
    z-index: -1;
  }
  .bottom-header__navigation {
    padding: 20px 0;
    overflow-y: auto;
  }
  .bottom-header__navigation-list {
    display: block;
    height: auto;
    margin: 0px 0px 30px 0px;
  }
  .bottom-header__navigation-list li {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
  .bottom-header__navigation-list li a {
    text-transform: uppercase;
  }
  .top-header__text,
  .top-header__address,
  .top-header__worktime {
    display: none;
  }
  .top-header {
    justify-content: center;
    margin: 0px 0px 0px 0px;
  }
  .top-header__box {
    flex: none;
    justify-content: flex-end;
    align-items: center;
  }
  .top-header__social {
    margin: 0;
    flex: none;
  }
  .top-header__mail {
    margin: 0 auto 20px auto;
  }
  .top-header__phone,
  .top-header__contacts {
    margin: 0px 0px 0px 0px;
  }
  .top-header__callback {
    transition: all .5s;
    display: block;
    margin: 0 auto;
    width: 46px;
  }
  .content-header {
    flex: none;
    margin: 0px 10px 0px 0px;
    background: rgba(238, 245, 247, 1);
    padding: 5px 0;
  } 
  .top-header__social {
    justify-content: center;
  }
  .page__main {
    padding: 80px 0px 0px 0px;
  }
  .main-page__inner {
    display: block;
  }
  .main-page__box {
    width: 100%;
  }
  .bottom-header__navigation-list li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  .main-page {
    height: auto;
  }
  .page__main {
    padding: 80px 0px 40px 0px;
  }
  .title-2 {
    font-size: 46px;
    line-height: 52px;
  }
  .page__advantages {
    padding: 60px 0 20px;
  }
  .page__advantages {
    padding: 20px 0 20px;
  }
  .page__products {
    padding: 0px 0px 20px 0px;
  }
  .advantages-page__title {
    margin: 0px 0px 30px 0px;
  }
  .advantages-page__list,
  .advantages-page__list li {
    max-width: 100%;
  }
  .advantages-page__img {
    display: none;
  }
  .page__partners {
    padding: 0px 0 30px;
  }
  .partners-page__title {
    margin: 0px 0px 30px 0px;
  }
  .page__order {
    padding: 20px 0 40px;
  }
  .page__partners {
    padding: 0;
  }
  .order-page__list {
    padding: 60px 0px 0px 0px !important;
    flex: 1 1 600px;
    margin: 0px 30px 0px 0px;
  }
  .page__order {
    padding: 20px 0 20px;
  }
  .page__contacts {
    padding: 20px 0px 0px 0px;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__column {
    margin: 0px 0px 40px 0px;
  }
  .footer__column:nth-child(2) {
    order: 2;
    width: 705px;
    margin: 0px 0px 0px 0px;
  }
  .footer {
    padding: 30px 0;
  }
}
@media(max-width: 1024px) {
  .products-page__items {
    justify-content: flex-start;
  }
  .products-page__item {
    width: calc((100% - 40px) / 3);
    max-width: 100%;
    margin: 0px 20px 20px 0px;
  }
  .products-page__item:last-child {
    margin: 0px 0px 20px 0px;
  }
  .products-page__item-inner {
    padding: 20px 20px 25px;
  }
  .products-page__item-title,
  .products-page__item-list {
    margin: 0px 0px 20px 0px;
  }
  .products-page__item-list li {
    margin: 0px 0px 10px 0px;
  }
  .products-page__item-link {
    margin: 0px 10px 0px 0px;
  }
  .btn-1 {
    padding: 0 20px;
  }
  .order-page__list {
    padding: 20px 0px 0px 0px !important;
    margin: 0px 30px 0px 0px;
  }
}
@media(max-width: 830px) {
  .main-page {
    background-position: left;
  }
  .products-page__item {
    width: calc((100% - 20px) / 2);
  }
  .products-page__item:last-child {
    margin: 0px 0px 20px 0px;
  }
  .products-page__item:nth-child(2) {
    margin: 0px 0px 20px 0px;
  }
  .title-2 {
    font-size: 36px;
    line-height: 42px;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  .title-2::before {
    display: none;
  }
  .advantages-page__list {
    columns: 1;
  }
  .advantages-page__list-text {
    margin: 10px 0px 0px 0px;
  }
  .advantages-page__list li {
    margin: 0px 0px 20px 0px;
  }
  .advantages-page__list-text::before {
    top: 0px;
  }
  .order-page__inner {
    display: block;
  }
  .order-page__list {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 30px 0px;
  }
  .order-page__list li {
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 55px;
  }
  .order-page__phone {
    margin: 10px 0px 0px 0px;
  }
  .order-page__form .modal-block {
    margin: 0 auto;
  }
  .contacts-page__map-title {
    margin: 0px 0px 20px 0px;
  }
  .contacts-page__info {
    position: static;
    width: 100%;
    padding: 20px;
  }
  .contacts-page__box {
    margin: 30px 0px 0px 0px;
  }
  .contacts-page__info-btn {
    width: 240px;
    margin: 0 auto;
  }
  .contacts-page__map._map-grey#map {
    height: 400px;
  }
  .contacts-page__info-address, 
  .contacts-page__info-mail, 
  .contacts-page__info-phone {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    margin: 0px 0px 20px 0px;
  }
  .contacts-page__info span {
    margin: 0px 0px 10px 0px;
  }
  .footer__top-navigation li::before,
  .footer__middle-navigation li::before {
    display: none;
  }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__column:nth-child(2) {
    width: 100%;
    flex: none;
  }
}
@media(max-width: 640px) {
  .footer__bottom-inner {
    display: block;
    text-align: center;
  }
  .footer__bottom-copyright {
    margin: 10px 0px 10px 0px;
  }
  .footer__bottom-development {
    justify-content: center;
  }
  .footer__bottom-development:hover img {
    transform: none;
  }
  .footer__middle {
    margin: 0px 0px 20px 0px;
  }
  .footer {
    padding: 20px 0;
  }
  .top-btn {
    bottom: 20px;
  }
}
@media(max-width: 530px) {
  .main-page__form .btn-main {
    font-size: 16px;
  }
  .form__inner {
    display: block;
  }
  .main-page__form .item-input input {
    width: 100%;
    padding: 10px 20px 10px 10px;
  }
  .main-page__form .item-input {
    margin: 0px 0 10px 0px;
  }
  .form__column:last-child .item-input {
    margin: 0px 0px 10px 0px;
  }
  .main-page__form .item-input input:focus {
    padding: 11px 21px 11px 10px;
  }
  .main-page__form .modal-block,
  .main-page__form .checkbox-wrap {
    width: 100%;
  }
  .main-page__title {
    font-size: 36px;
    line-height: 42px;
    margin: 0px 0px 20px 0px;
  }
  .orange {
    font-size: 24px;
    line-height: 32px;
  }
  .main-page__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0px 0px 10px 0px;
  }
  .main-page__price {
    font-size: 24px;
    line-height: 30px;
  }
  .products-page__item {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .products-page__item:last-child {
    margin: 0px 0px 0px 0px;
  }
  .products-page__item:nth-child(2) {
    margin: 0px 0px 20px 0px;
  }
  .page__main {
    padding: 80px 0px 30px 0px;
  }
  .title-2 {
    font-size: 32px;
    line-height: 38px;
  }
  .products-page__title {
    margin: 0px 0px 20px 0px;
  }
  .page__products {
    padding: 0px 0px 20px 0px;
  }
  .advantages-page__list-text::before {
    left: 0;
  }
  .advantages-page__list-text {
    padding: 0px 0px 0px 35px;
  }
  .advantages-page__title {
    margin: 0px 0px 20px 0px;
  }
  .advantages-page__list li {
    margin: 0px 0px 15px 0px;
  }
  .partners-page__title {
    margin: 0px 0px 20px 0px;
  }
  .order-page__form .modal-block {
    width: 100%;
  }
  .btn-2 {
    font-size: 16px;  
  }
  .footer__top-navigation,
  .footer__middle-navigation {
    display: block;
    text-align: center;
  }
  .footer__top-navigation li,
  .footer__middle-navigation li {
    margin: 0px 0px 10px 0px;
  }
  .footer__top {
    border-bottom: 2px solid #434345;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 10px 0px;
  }
  .footer__middle {
    padding: 0px 0px 10px 0px;
  }
}
@media(max-width: 450px) {
  .modal-block.visually-hidden {
    width: 100%;
    padding: 30px 30px 35px;
  }
}
@media(max-width: 430px) {
  .footer__inner {
    justify-content: center;
  }
  .footer__column:first-child,
  .footer__column:last-child {
    margin: 0px 0px 20px 0px;
  }
  .footer__info {
    text-align: center;
  }
}
@media(max-width: 390px) {
  .top-header__phone {
    font-size: 14px;
  }
  .header .logo {
    margin: 0px 5px 0px 0px;
  }
  .top-header__social {
    margin: 0px 10px 0px 0px;
  }
  .top-header__social-link:last-child {
    margin: 0px 0px 0px 0px;
  }
  .main-page__form .btn-main {
    padding: 0 15px 0 60px;
  }
  .main-page__title {
    font-size: 30px;
  }
  .orange,
  .main-page__price  {
    font-size: 20px;
  }
  .partners-page__slider-img {
    width: 190px;
    height: 190px;
  }
  .order-page__form .modal-block {
    padding: 30px 30px 35px;
  }
  .checkbox-wrap {
    width: 100%;
  }
}
@media(max-width: 350px) {
  .header {
    padding: 10px 0;
  }
  .top-header__social {
    margin: 0px 0px 5px 0px;
  }
  .top-header__box {
    flex-direction: column;
  }
}
