/*///////////////////////////////////RESET///////////////////////////////////////*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
/*///////////////////////////////////GLOBAl////////////////////////////////////*/
html,
body {
	height: 100%;
}
body {
  font-family: 'GothamProRegular';
  font-weight: 400px;
  font-size: 14px;
  color: #fff;
  overflow-x: hidden;
	min-width: 320px;
}
body._no-scroll {
  position: relative;
  overflow-y: hidden;
}
.wrapper {
  overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
}
.jq-selectbox__select {
  font-family: 'GothamProRegular' !important;
  font-weight: 400px !important;
  font-size: 15px !important;
  color: #fff !important;
  padding: 0 20px 0 0px !important;
  text-shadow: none;
}
.jq-selectbox li {
  font-family: 'GothamProRegular' !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #082244 !important;
}
.jq-selectbox li.selected,
.jq-selectbox li:hover {
  background-color: #27134b !important;
  color: #fff !important;
}
.jq-selectbox__select,
.jq-selectbox__select:hover,
.jq-selectbox.focused {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.jq-selectbox.dropdown.opened .jq-selectbox__trigger {
  transform: rotate(-180deg);
}
.jq-selectbox__trigger {
  border-left: none !important;
}
.jq-selectbox__select-text {
  width: 110px !important;
}
.jq-selectbox__trigger {
  background: url('../img/arrow-down.png') 0 0 no-repeat !important;
  width: 9px !important;
  height: 5px !important;
  top: 15px !important;
  right: 0 !important;
  transition: all .3s;
}
.jq-selectbox__trigger-arrow {
  border: transparent !important;
}
.jq-selectbox__dropdown {
  border: none;
}
.title {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.title-2 {
  font-family: 'GothamProBlack';
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.buttons-wrapper1 {
  display: inline-block;
  position: relative;
}
.buttons-wrapper1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-radius: 30px;
  transition: all .3s;
}
.buttons-wrapper1::before {
  box-shadow: 0 6px 0 #8e1181;
}
.buttons-wrapper1:active::before {
  box-shadow: none;
}
.btn-1 {
  position: relative;
  font-family: 'GothamProMedium';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #fff;
  transition: all .3s;
  z-index: 2;
  padding: 0 20px;
}
.btn-1 {
  border-radius: 30px;
  background: -moz-linear-gradient( -82deg, rgb(249,109,109) 0%, rgb(235,39,209) 47%, rgb(18042,222) 78%, rgb(152,17,193) 100%);
  background: -webkit-linear-gradient( -82deg, rgb(249,109,109) 0%, rgb(235,39,209) 47%, rgb(180,42,222) 78%, rgb(152,17,193) 100%);
  background: -ms-linear-gradient( -82deg, rgb(249,109,109) 0%, rgb(235,39,209) 47%, rgb(18042,222) 78%, rgb(152,17,193) 100%);
  box-shadow: 0px 7px 15px 0px rgba(176, 10, 158, 0.69);
}
.btn-1:active {
  transform: translateY(5px);
}
.btn-1:hover {
  box-shadow: 0px 7px 15px 0px rgba(176, 10, 158, 0.9);
}
.menu-toggle {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  transition: .25s ease-in-out;
}
.menu-toggle .hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}
.menu-toggle .hamburger span {
  display: block;
  background: #f441aa;
  border-radius: 3px;
  width: 30px;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
  margin: 8px 0;
  transition: .25s ease-in-out;
}
.menu-toggle .hamburger span:nth-child(1) {
  margin: 4px 0px 5px 0px;
  transition-delay: .5s;
}
.menu-toggle .hamburger span:nth-child(2) {
  transition-delay: .625s;
}
.menu-toggle .hamburger span:nth-child(3) {
  transition-delay: .75s;
  margin: 0px 0px 4px 0px;
}
.menu-toggle .cross span {
  background: #f441aa;
  transition: .25s ease-in-out;
}
.menu-toggle .cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
.menu-toggle .cross span:nth-child(1) {
  height: 0%;
  width: 2px;
  position: absolute;
  top: -1px;
  left: 14px;
  transition-delay: 0s;
}
.menu-toggle .cross span:nth-child(2) {
  width: 0%;
  height: 2px;
  position: absolute;
  right: -1px;
  top: 14px;
  transition-delay: .25s;
}
.menu-toggle.open .hamburger span {
  width: 0%;
}
.menu-toggle.open .hamburger span:nth-child(1) {
  transition-delay: 0s;
}
.menu-toggle.open .hamburger span:nth-child(2) {
  transition-delay: .125s;
}
.menu-toggle.open .hamburger span:nth-child(3) {
  transition-delay: .25s;
}
.menu-toggle.open .cross span:nth-child(1) {
  height: 32px;
  transition-delay: .625s;
}
.menu-toggle.open .cross span:nth-child(2) {
  width: 32px;
  transition-delay: .375s;
}
.mCSB_inside > .mCSB_container {
  margin-right: 20px !important;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff !important;
  background-color: rgba(255,255,255,.75) !important;
  z-index: 1;
}
/*ТАБЫ*/
.tabs-content {
  display: none;
}
.tabs-content.tabs-content_active {
  display: block;
}
.item-input input::placeholder,
.input-phone input::placeholder,
.item-textarea textarea::placeholder {
  font-family: 'GothamProRegular';
  font-weight: 400px;
  color: #777474;
  font-size: 14px;
  line-height: 17px;
  opacity: 1;
}
.btn-2 {
  position: relative;
  overflow: hidden;
  font-family: 'GothamProMedium';
  font-weight: 500;
  color: inherit;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border: 1px solid #f441aa;
  border-radius: 30px;
  padding: 0 25px;
  background-color: rgba(252, 44, 51, 0);
  transition: all .3s;
  z-index: 1;
}
.btn-2:hover {
  border: 1px solid transparent;
}
.btn-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f441aa;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}
.btn-2:hover::before {
  transform: translateX(0);
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
  font-size: 0;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: #fff;
}
.slick-dots li button {
  background-color: transparent;
  border: 0;
}
.slick-dots li.slick-active {
  background-color: #e2306c;
}
/*///////////////////////////////////FONTS///////////////////////////////////////*/
/*Light 300*/
/*Regular, Normal 400*/
/*Medium 500*/
/*Bold 700*/
/*Black 900*/
/*font-family: 'PT Sans', sans-serif;*/
/*
@font-face {
  font-family: 'PantonLight';
  src: url('../fonts/Panton-Light.woff2') format('woff2'),
       url('../fonts/Panton-Light.woff') format('woff');
  font-weight: 300; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PantonRegular';
  src: url('../fonts/Panton-Regular.woff2') format('woff2'),
       url('../fonts/Panton-Regular.woff') format('woff');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PantonBold';
  src: url('../fonts/Panton-Bold.woff2') format('woff2'),
       url('../fonts/Panton-Black.woff') format('woff');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PantonBlack';
  src: url('../fonts/Panton-Black.woff2') format('woff2'),
       url('../fonts/Panton-Black.woff') format('woff');
  font-weight: 900; 
  font-style: normal;
  font-display: swap;
}
*/
@font-face {
  font-family: 'GothamProLight';
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
       url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamProRegular';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
       url('../fonts/GothamPro.woff') format('woff');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamProMedium';
  src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
       url('../fonts/GothamPro-Medium.woff2') format('woff');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamProBold';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
       url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamProBlack';
  src: url('../fonts/GothamPro-Black.woff2') format('woff2'),
       url('../fonts/GothamPro-Black.woff') format('woff');
  font-weight: 900; 
  font-style: normal;
  font-display: swap;
}
/*//////////////////////////////////header//////////////////////////////////*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 13px 0;
  z-index: 10;
  transition: all .3s;
}
.header.fixed {
  position: fixed;
  background-color: #27134b;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__column:first-child {
  flex: 0 1 300px;
  margin: 0px 30px 0px 0px;
}
.header__column:nth-child(2) {
  flex: 0 1 340px;
  margin: 0px 30px 0px 0px;
}
.header__column:last-child {
  flex: 0 0 330px;
}
.header__column-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 118px;
}
.logo img {
  object-fit: contain;
}
.header__select {
  margin: 0px 0px 0px 30px;
}
.header__menu {
  display: flex;
}
.menu-item-has-children {
  position: relative;
  margin: 0px 30px 0px 0px;
}
.menu-item-has-children > a {
  padding: 13px 20px 13px 0;
}
.menu-item-has-children::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  background: url('../img/arrow-down.png') 0 0 no-repeat;
  cursor: pointer;
}
.header__menu li a {
  color: inherit;
  font-size: 15px;
}
.header__menu > li:last-child a {
  position: relative;
}
.header__menu > li:last-child a::after {
  content: "";
  display: block;
  background-color: #ffd443;
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: -2px;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header__menu > li a:hover::after {
  width: 100%;
}
.sub-menu li a {
  color: #082244;
}
.header__phone {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 16px;
  color: inherit;
}
/*
.header__callback {
  position: relative;
  overflow: hidden;
  font-family: 'GothamProMedium';
  font-weight: 500;
  color: inherit;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border: 1px solid #f441aa;
  border-radius: 30px;
  padding: 0 25px;
  background-color: rgba(252, 44, 51, 0);
  transition: all .3s;
}
.header__callback:hover {
  border: 1px solid transparent;
}
.header__callback::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f441aa;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}
.header__callback:hover::before {
  transform: translateX(0);
}
*/
@media (min-width: 1051px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu > li {
    position: relative;
  }
  .header__menu > li:hover .sub-menu {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
  .sub-menu {
    position: absolute;
    width: 180px;
    background-color: transparent;
    top: 25px;
    left: 0px;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
    opacity: 0;
    border-radius: 4px;
    background-color: #fff;
  }
  .sub-menu li a { 
    display: block;
    padding: 10px 10px 10px 20px;
    position: relative;
  }
  .sub-menu li:first-child a {
    border-radius: 3px 3px 0px 0px;
  }
  .sub-menu li:last-child a {
    border-radius: 0px 0px 3px 3px;
  }
  .sub-menu li a:hover {
    color: #fff;
    background-color: #27134b;
  }
}
/*//////////////////////////////////main//////////////////////////////////*/
.page__main {
  padding: 140px 0 100px;
  height: 100vh;
}
.main-page {
  background: #27134b url('../img/main-bg.jpg') center center no-repeat;
  background-size: cover;
}
.main-page__title {
  font-family: 'GothamProBold';
  font-weight: 700;
  max-width: 600px;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 2px;
  margin: 0px 0px 30px 0px;
}
.yellow {
  color: #ffd443;
}
.main-page__list {
  max-width: 435px;
  margin: 0px 0px 50px 0px;
}
.main-page__list li {
  font-size: 24px;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
}
.main-page__list li span {
  font-family: 'GothamProMedium';
  font-weight: 500;
  color: #ffd443;
}
.main-page__img {
  display: none;
}
.main-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 720px;
}
.main-page__box {
  position: relative;
  flex: 0 1 420px;
  margin: 0px 20px 0px 0px;
}
.main-page__box::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  width: 60px;
  height: 50px;
  background: url('../img/heart.png') 0 0 no-repeat;
  z-index: 1;
}
.main-page__box svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}
.main-page__text {
  position: relative;
  z-index: 1;
  color: #082244;
  font-size: 13px;
  line-height: 20px;
  padding: 15px 20px 15px 30px;
  letter-spacing: 1px;
}
/*//////////////////////////////////brand//////////////////////////////////*/
.page__brand {
  padding: 70px 0 120px;
}
.brand-page {
  background: #3f398e url('../img/brand-bg.jpg') 0 0 no-repeat;
  object-fit: cover;
}
.brand-page__title {
  max-width: 870px;
  margin: 0px auto 45px auto;
}
.brand-slider__item {
  position: relative;
  background: rgb(122,157,229);
  background: linear-gradient(90deg, rgba(122,157,229,1) 0%, rgba(123,117,211,1) 100%); 
  border-radius: 6px;
  box-shadow: 0px 12px 14px 0px rgba(39, 33, 130, 0.65);
  padding: 45px 20px 45px 50px;
  margin: 0 12px;
}
.brand-slider__item-title {
  position: relative;
  z-index: 1;
  font-family: 'GothamProBlack';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 0px 0px 30px 0px;
}
.brand-slider__item-text {
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 24px;
  max-width: 330px;
}
.brand-slider__item-img {
  position: absolute;
  bottom: 0;
  right: -12px;
  width: 190px;
}
.brand-slider__item-box {
  /*
  height: 185px;
  overflow-y: auto;
  */
  min-height: 200px;
}
.brand-page__slider.slick-slider .slick-list {
  overflow: visible;
}
/*
.slick-slider .slick-slide.slick-active {
  overflow: visible !important;
}
*/
.brand-slider__btn {
  position: absolute;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  bottom: -90px;
  right: 12px;
  border: none;
  width: 42px;
  height: 42px;
  background-color: rgba(241, 242, 250, 0.2);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 0;
}
.brand-slider__btn img {
  width: 8px;
  height: 15px;
}
.brand-slider__btn-prev {
  right: 77px;
}
.slider__counter {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  bottom: -80px;
  left: 12px;
}
/*//////////////////////////////////process//////////////////////////////////*/
.page__process {
  padding: 50px 0 95px;
}
.process-page {
  background: #3f398e url('../img/process-bg.jpg') 0 0 no-repeat;
  background-size: cover;
}
.process-page__title {
  margin: 0px 0px 50px 0px;
}
.process-page__title .yellow {
  color: #ffd443;
}
.process-page__items {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.process-page__item {
  position: relative;
  flex: 0 0 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  background-color: rgb(56, 51, 132);
  padding: 25px 10px 50px;
}
.process-page__item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 15px;
  top: 25%;
  right: -30%;
  transform: translateY(-50%);
  background: url('../img/arrow-right2.png') 0 0 no-repeat;
}
.process-page__item:last-child::before {
  display: none;
}
.process-page__item.tab_active .process-page__item-number,
.process-page__item:hover .process-page__item-number {
  background: rgb(254,254,255);
  background: linear-gradient(180deg, rgba(254,254,255,1) 0%, rgba(197,195,221,1) 100%);
  box-shadow: 0px 0px 49px 0px rgba(226, 48, 108, 0.86);
  color: #e2306c;
}
.process-page__item.tab_active {
  z-index: 2;
}
.process-page__item-number {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border-radius: 6px;
  background-color: rgb(63, 57, 142);
  margin: 0px 0px 25px 0px;
  transition: all .5s;
}
.process-page__item-title {
  font-family: 'GothamProMedium';
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
}
.process-page__inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 65px 50px 60px;
  background-color: #fff;
  box-shadow: 0px 12px 30px 0px rgba(8, 34, 68, 0.2);
  border-radius: 6px;
  margin: -20px 0px 0px 0px;
}
.process-page__box {
  flex: 0 1 645px;
  margin: 0px 50px 0px 0px;
}
.process-page__box-title {
  font-family: 'GothamProBlack';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #3f398e;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}
.process-page__box article p {
  font-size: 16px;
  line-height: 30px;
  color: #082244;
  margin: 0px 0px 40px 0px;
}
.process-page__box article p a {
  font-family: 'GothamProBold';
  font-weight: 700;
  color: inherit;
}
/*
.process-page__box-text {
  font-size: 16px;
  line-height: 30px;
  color: #082244;
  margin: 0px 0px 40px 0px;
}
.process-page__box-text a {
  font-family: 'GothamProBold';
  font-weight: 700;
  color: inherit;
}
*/
.process-page__form-box {
  display: flex;
  margin: 60px 0px 0px 0px;
}
.process-page__form .btn-main {
  width: 282px;
  cursor: pointer;
}
.process-page__form .buttons-wrapper1 {
  margin: 0px 0px 0px -30px;
}
.process-page__form .input-phone {
  outline: none;
  height: 110%;
  border: 1px solid rgba(203, 201, 224);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: inset 0px 3px 5px 0px rgba(63, 57, 142, 0.35);
  padding: 20px 25px;
  width: 100%;
}
.process-page__form .item-input {
  flex: 0 1 328px;
}
.btn-main {
  border: none;
}
.process-page__img {
  right: 0;
  display: flex;
  align-items: center;
  margin: 0px -50px -35px 0px;
}
.process-page__img img {
  object-fit: contain;
  width: 100%;
}
/*//////////////////////////////////social//////////////////////////////////*/
.page__social {
  padding: 50px 0 105px;
}
.social-page {
  position: relative;
  background: #33165b url('../img/social-bg.jpg') 0 0 no-repeat;
  background-size: cover;
}
.social-page__title {
  margin: 0px 0px 50px 0px;
}
.social-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-page__profile {
  flex: 0 0 720px;
  margin: 0px 30px 0px 0px;
}
.social-page__profile .buttons-wrapper1 {
  display: block;
  margin: 0px 0px 0px auto;
  width: 280px;
}
.social-page__profile-title {
  font-family: 'GothamProBlack';
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
.social-page__profile-subtitle {
  font-family: 'GothamProMedium';
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin: 0px 0px 25px 0px;
}
.social-page__profile-items {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}
.social-page__profile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-profile {
  margin: 0px 20px 0px 0px;
}
.item-profile:last-child {
  margin: 0px 0px 0px 0px;
}
.item-profile__img {
  margin: 0px 0px 10px 0px;
}
.item-profile__title {
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 5px 0px;
}
.item-profile__number {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  color: #e2306c;
  margin: 0px 0px 15px 0px;
}
._subscriber {
  width: 26px;
  height: 24px;
}
._like {
  width: 24px;
  height: 21px;
}
._save {
  width: 19px;
  height: 21px;
}
._comment {
  width: 24px;
  height: 21px;
}
.social-page__stories {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #765f95;
  border-radius: 30px;
  padding: 22px;
  margin: 0px 0px 30px 0px;
}
.social-page__stories::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: -moz-linear-gradient( -45deg, rgb(246,247,247) 0%, rgba(246,247,247,0) 100%);
  background: -webkit-linear-gradient( -45deg, rgb(246,247,247) 0%, rgba(246,247,247,0) 100%);
  background: -ms-linear-gradient( -45deg, rgb(246,247,247) 0%, rgba(246,247,247,0) 100%);
  opacity: 0.5;
  border-radius: 30px;
}
.video-stories {
  /*
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  */
}
.video-stories__slider {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.video-stories__item {
  border-radius: 25px;
  box-shadow: 0px 10px 20px 0px rgba(206, 206, 229, 0.51);
  height: 250px;
  width: 140px;
  margin: 0px 30px 0px 0px;
}
.video-stories__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.social-page__stories-number {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
.social-page__stories-number span,
.social-page__stories-number b {
  display: block;
}
.social-page__stories-number b {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  color: #e2306c;
  margin: 10px 0px 0px 0px;
}
.scroll-images {
  position: relative;
}
.scroll-images__container {
  padding: 0px 50px 0px 0px;
  height: 590px;
}
.scroll-images__container img {
  max-width: none;
}
.scroll-images__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -100px;
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);
}
.scroll-images__text::before,
.scroll-images__text::after {
  content:"";
  position: absolute;
  height: 27px;
  width: 16px;
  transform: rotate(90deg);
}
.scroll-images__text::before {
  top: -4px;
  right: -40px;
  background: url('../img/arrow-top.png') 0 0 no-repeat;
}
.scroll-images__text::after {
  background: url('../img/arrow-bottom.png') 0 0 no-repeat;
  bottom: -7px;
  left: -40px;
  transform: rotate();
}
.social-page__test {
  position: relative;
  padding: 130px 0px 0px 0px;
  z-index: 1;
}
.social-page__images-scroll .mCSB_inside > .mCSB_container {
  margin-right: 0 !important;
}
.social-page__images-scroll .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.social-page__images-scroll .mCS-dark.mCSB_scrollTools .mCSB_draggerRail,
.social-page__images-scroll .mCSB_dragger {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
.social-page__test-title {
  text-align: left;
  line-height: 48px;
  margin: 0px 0px 50px 0px;
}
.social-page__test-title b {
  font-size: 48px;
}
.social-page__test-text {
  max-width: 615px;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 75px 0px;
}
.social-page__test-text span {
  font-family: 'GothamProMedium';
  font-weight: 500;
}
.social-page__test-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 440px;
}
.social-page__test-btn,
.social-page__offer-btn {
  width: 200px;
}
.social-page__offer-btn {
  height: 60px;
  font-size: 16px;
}
.social-page__img {
  position: absolute;
  bottom: 0;
  right: 0;
}
/*//////////////////////////////////team//////////////////////////////////*/
.page__team {
  padding: 65px 0 85px;
}
.team-page {
  background: #3f398e url('../img/team-bg.jpg') 0 0 no-repeat;
  background-size: cover;
}
.team-page__title {
  margin: 0px 0px 10px 0px;
}
.team-page__subtitle {
  font-family: 'GothamProBold';
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  margin: 0px 0px 70px 0px;
}
.team-slider__item {
  margin: 0px 30px;
}
.team-slider__item-img {
  border-radius: 6px;
  box-shadow: 0px 12px 30px 0px rgba(39, 33, 130, 0.65);
  height: 317px;
  position: relative;
  display: flex;
  align-items: center;
  color: #FFF;
  background-clip: padding-box;
  border: solid 10px transparent;
  margin: 0px 0px 30px 0px;
}
.team-slider__item-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px;
  border-radius: inherit;
  background: linear-gradient(to right, #7aa6e9, #7b6ccf);
  background-color: #fff;
}
.team-slider__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-slider__item-name {
  font-family: 'GothamProBlack';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 0px 0px 5px 0px;
}
.team-slider__item-position {
  font-size: 16px;
  line-height: 20px;
}
.team-slider__btn {
  position: absolute;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  top: 45%;
  transform: translateY(-50%);
  border: none;
  width: 42px;
  height: 42px;
  background-color: rgba(241, 242, 250, 0.2);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 0;
}
.team-slider__btn img {
  width: 8px;
  height: 15px;
}
.team-slider__btn-prev {
  left: -45px;
}
.team-slider__btn-next {
  right: -45px;
}
/*//////////////////////////////////attracting//////////////////////////////////*/
.page__attracting {
  padding: 100px 0 65px;
}
.attracting-page {
  background: #34165c url('../img/attracting-bg.jpg') 0 0 no-repeat;
  background-size: cover;
}
.attracting-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.attracting-page__column:first-child {
  flex: 0 1 610px;
}
.attracting-page__column:nth-child(2) {
  flex: 0 0 450px;
  margin: 0px 50px 0px 0px;
}
.attracting-page__title {
  text-align: left;
  line-height: 48px;
  padding: 25px 0px 50px 0px;
}
.attracting-page__text {
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0px 20px 0px;
  max-width: 505px;
}
.attracting-page__text span {
  font-family: 'GothamProMedium';
  font-weight: 500;
}
.attracting-page__items {
  position: relative;
  min-height: 586px;
  background: url('../img/icons/inst-big.svg') 0 center no-repeat;
  object-fit: cover;
}
.attracting-page__item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 114px;
  height: 114px;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(253,253,254,1) 0%, rgba(196,194,220,1) 100%);
  box-shadow: 0 2px 0 rgb(255, 255, 255),
              0px 0px 49px 0px rgba(226, 48, 108, 0.86);
}
.attracting-page__item._item1 {
  left: 0;
  top: 0;
}
.attracting-page__item._item2 {
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
.attracting-page__item._item3 {
  right: -45px;
  top: 48px;
}
.attracting-page__item._item4 {
  left: -70px;
  top: 275px;
}
.attracting-page__item._item5 {
  top: 185px;
  left: 85px;
}
.attracting-page__item._item6 {
  top: 226px;
  right: -66px;
}
.attracting-page__item._item7 {
  top: 430px;
  left: 37px;
}
.attracting-page__item._item8 {
  top: 333px;
  left: 205px;
}
.attracting-page__item._item9 {
  top: 468px;
  left: 355px;
}
.attracting-page__item-title {
  font-family: 'GothamProMedium';
  font-weight: 500;
  color: #301758;
}
.attracting-page__item-img {
  margin: 0px 0px 10px 0px;
}
.attracting-page__item-img img {
  width: 100%;
  height: 100%;
}
.attracting-page__item-img._item1 {
  width: 43px;
  height: 43px;
}
.attracting-page__item-img._item2 {
  width: 40px;
  height: 41px;
}
.attracting-page__item-img._item3 {
  width: 41px;
  height: 37px;
  right: 0;
}
.attracting-page__item-img._item4 {
  width: 29px;
  height: 38px;
}
.attracting-page__item-img._item5 {
  width: 37px;
  height: 37px;
}
.attracting-page__item-img._item6 {
  width: 38px;
  height: 38px;
}
.attracting-page__item-img._item7 {
  width: 39px;
  height: 43px;
}
.attracting-page__item-img._item8 {
  width: 37px;
  height: 37px;
}
.attracting-page__item-img._item9 {
  width: 45px;
  height: 45px;
}
/*//////////////////////////////////adaptive//////////////////////////////////*/
@media(max-width: 1600px) {
  .social-page__img {
    right: -160px;
  }
}
@media(max-width: 1366px) {
  .page__main {
    padding: 120px 0 100px;
  }
  .main-page__title {
    font-size: 50px;
    line-height: 60px;
  }
  .social-page__title {
    margin: 0px 0px 30px 0px;
  }
  .social-page__profile-subtitle,
  .social-page__titles {
    margin: 0px 0px 20px 0px;
  }
  .social-page__profile-items {
    margin: 0px 0px 15px 0px;
  }
  .social-page__title {
    margin: 0px 0px 20px 0px;
  }
  .social-page__profile-title {
    font-size: 22px;
  }
  .item-profile__number {
    font-size: 36px;
  }
  .item-profile__title {
    line-height: 20px;
  }
  .item-profile__number {
    margin: 0px 0px 5px 0px;
  }
  .video-stories__item {
    height: 220px;
  }
  .scroll-images__container {
    height: 580px;
  }
  .social-page__stories {
    margin: 0px 0px 20px 0px;
  }
  .social-page__inner {
    align-items: flex-start;
  }
  .social-page__img {
    right: -240px;
  }
}
@media(max-width: 1250px) {
  .brand-slider__item-img {
    width: 120px;
  }
  .brand-slider__item {
    padding: 25px 20px 25px 30px;
  }
  .brand-slider__item-title {
    font-size: 20px;
    line-height: 26px;
    margin: 0px 0px 15px 0px;
  }
  .process-page__item::before {
    right: -25%;
  }
  .scroll-images__text {
    right: -70px;
  }
  .team-slider__item-name {
    font-size: 20px;
    line-height: 26px;
  }
  .team-slider__item-position {
    font-size: 14px;
  }
  .team-slider__item-img {
    margin: 0px 0px 10px 0px;
  }
  .page__team,
  .page__attracting {
    padding: 40px 0 40px;
  }
  .team-page__subtitle {
    margin: 0px 0px 30px 0px;
  }
  .team-slider__item {
    margin: 0px 15px;
  }
  .attracting-page__column:first-child {
    flex: 0 1 450px;
  }
}
@media(max-width: 1150px) {
  .container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .main-page__title {
    font-size: 40px;
    line-height: 50px;
  }
  .main-page__list li {
    font-size: 20px;
    line-height: 25px;
  }
  .main-page__box {
    margin: 0px 20px 0px 30px;
  }
  .main-page__btn {
    font-size: 14px;
  }
  .main-page__inner {
    align-items: center;
  }
  .process-page__item::before {
    right: -20%;
  }
  .social-page__inner {
    flex-direction: column;
    align-items: center;
  }
  .social-page__profile {
    margin: 0px 0px 30px 0px;
    flex: none;
    max-width: 100%;
  }
  .social-page__profile .buttons-wrapper1 {
    margin: 0 auto;
  }
  .social-page__profile {
    margin: 0px 0px 40px 0px;
  }
  .social-page__img {
    width: 100%;
    right: -300px;
  }
  .team-slider__btn-prev {
    left: -40px;
  }
  .team-slider__btn-next {
    right: -40px;
  }
  .team-slider {
    margin: 0 40px;
  }
  .attracting-page__item._item3 {
    right: -35px;
  }
  .attracting-page__item._item6 {
    right: -50px;
  }
  .attracting-page__item._item4 {
    left: -50px;
  }
  .attracting-page__item._item5 {
    left: 115px;
  }
  .attracting-page__item {
    width: 110px;
    height: 110px;
  }
}
@media(max-width: 1050px) {
  .menu-toggle {
    display: block;
  }
  .header__inner {
    padding: 7px 0;
  }
  .header {
    position: fixed;
    padding: 0;
    background-color: #27134b;
    box-shadow: 0px 40px 26px -29px rgba(146, 149, 158, 0.5);
    z-index: 10;
  }
  .header._active .header__inner{
    background-color: #27134b;
  }
  .header__column:last-child {
    flex: 0 0 auto;
  }
  .header__navigation {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    overflow: auto;
    padding: 100px 0px 0px 0px;
    background: #27134b;
    border-radius: 0;
    transform: translateY(-100%);
    box-shadow: none;
    margin: 0px 0px 0px 0px;
  }
  .header__navigation._active {
    transform: translateY(0);
    width: 100%;
    z-index: -1;
  }
  .header__menu {
    flex-direction: column;
    align-items: center;
  }
  .menu-item-has-children {
    margin: 0;
  }
  .menu-item-has-children > a {
    display: block;
    padding: 0;
    margin: 0px 0px 25px 0px;
  }
  .sub-menu li a {
    display: block;
    color: #fff;
    margin: 0px 0px 25px 0px;
  }
  .menu-item-has-children::before {
    display: none;
  }
  .header__callback {
    width: 163px;
    margin: 30px auto 50px;
  }
  .header__phone {
    margin: 0px 30px 0px 0px;
  }
  .page__main {
    height: auto;
  }
  .header__column:nth-child(2) {
    flex: none;
    margin: 0;
  }
  .header__menu > li:last-child a::after {
    display: none;
  }
  .page__main {
    padding: 100px 0 80px;
  }
  .title,
  .title-2 {
    font-size: 24px;
    line-height: 34px;
  }
  .page__brand {
    padding: 30px 0 100px;
  }
  .brand-slider__btn {
    bottom: -60px;
  }
  .slider__counter {
    bottom: -50px;
  }
  .brand-page__title {
    margin: 0px 0px 30px 0px;
  }
  .page__process {
    padding: 40px 0 40px;
  }
  .process-page__title {
    margin: 0px 0px 30px 0px;
  }
  .process-page__item::before {
    right: -15%;
  }
  .social-page__profile-title {
    font-size: 20px;
  }
  .scroll-images__container {
    height: 450px;
  }
  .social-page__test-title b {
    font-size: 38px;
  }
  .team-page__subtitle {
    font-size: 20px;
  }
  .attracting-page__item._item4 {
    left: -20px;
  }
  .attracting-page__item._item5 {
    left: 140px;
  }
  .attracting-page__column:first-child {
    margin: 0px 40px 0px 0px;
  }
}
@media(max-width: 950px) {
  .brand-slider {
    max-width: 445px;
    margin: 0 auto;
  }
  .process-page__items {
    display: block;
  }
  .process-page__item-title {
    font-size: 16px;
    line-height: 32px;
  }
  .process-page__item {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    flex-direction: row;
  }
  .process-page__item-number {
    margin: 0px 20px 0px 0px;
    width: 43px;
    height: 43px;
  }
  .process-page__inner {
    margin: 0;
    padding: 20px 20px 30px;
  }
  .process-page__box-title {
    font-size: 22px;
    line-height: 26px;
    margin: 0px 0px 10px 0px;
  }
  /*
  .process-page__box-text {
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 10px 0px;
  }
  */
  .process-page__box article p {
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0px 10px 0px;
  }
  .process-page__form .btn-main {
    width: 200px;
    font-size: 14px;
  }
  .process-page__form {
    margin: 30px 0px 0px 0px;
  }
  .process-page__item::before {
    display: none;
  }
  .process-page__form-box {
    margin: 0;
  }
  .social-page__test {
    padding: 60px 0px 0px 0px;
  }
  .attracting-page__title {
    padding: 25px 0px 30px 0px;
  }
  .attracting-page__text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media(max-width: 850px) {
  .attracting-page__inner {
    display: block;
  }
  .attracting-page__title {
    padding: 0px 0px 30px 0px;
    text-align: center;
  }
  .attracting-page__text {
    max-width: 100%;
  }
  .attracting-page__column:first-child {
    margin: 0px 0px 40px 0px;
  }
  .attracting-page__column:nth-child(2) {
    margin: 0;
  }
  .attracting-page__items {
    background: url('../img/icons/inst-big.svg') center center no-repeat;
    object-fit: cover;
  }
  .attracting-page__item._item3 {
    right: 100px;
  }
  .attracting-page__item._item6 {
    right: 80px;
  }
  .attracting-page__item._item1 {
    left: 90px;
  }
  .attracting-page__item._item5 {
    left: 265px;
  }
  .attracting-page__item._item8 {
    left: 375px;
  }
  .attracting-page__item._item9 {
    left: 500px;
  }
  .attracting-page__item._item4 {
    left: 75px;
  }
  .attracting-page__item._item7 {
    left: 185px;
  }
}
@media(max-width: 700px) {
  .process-page__form-box {
    display: block;
  }
  .process-page__form .buttons-wrapper1 {
    margin: 15px 0px 0px 0px;
    width: 100%;
  }
  .process-page__form .input-phone {
    height: 100%;
    padding: 16px 25px;
  }
  .process-page__form .btn-main {
    height: 45px;
    width: 100%;
  }
  .process-page__box {
    margin: 0px 20px 0px 0px;
  }
  .video-stories__item {
    margin: 0px 20px 0px 0px;
  }
  .video-stories__item:last-child {
    margin: 0px 0px 0px 0px;
  }
  .social-page__stories {
    flex-direction: column;
    align-items: center;
  }
  .social-page__stories-number {
    margin: 30px 0px 0px 0px;
  }
  .team-slider__item-name {
    font-size: 18px;
    line-height: 24px;
  }
  .attracting-page__items {
    display: flex;
    flex-wrap: wrap;
    min-height: 260px;
    padding: 20px 0px 0px 0px;
  }
  .attracting-page__item {
    position: static;
    width: calc((100% - 80px) / 5);
    margin: 0px 20px 20px 0px;
  }
  .attracting-page__item:nth-child(5n) {
    margin: 0px 0px 20px 0px;
  }
  .attracting-page__item._item2 {
    transform: none;
  }
  .attracting-page__column:first-child {
    margin: 0px 0px 20px 0px;
  }
  .video-stories {
    width: 100%;
  }
  .video-stories__slider {
    display: block;
    min-width: 0;
  }
  .video-stories__slider-item {
    min-width: 0;
    width: 140px;
    margin: 0px 5px 30px 5px;
    box-shadow: none;
  }
  .social-page__stories-number {
    margin: 10px 0px 0px 0px;
  }
  .video-stories__item {
    width: auto;
  }
}
@media(max-width: 650px) {
  .attracting-page__item {
    position: static;
    width: calc((100% - 60px) / 4);
    margin: 0px 20px 20px 0px;
  }
  .attracting-page__item:nth-child(5n) {
    margin: 0px 20px 20px 0px;
  }
  .attracting-page__item:nth-child(4n) {
    margin: 0px 0px 20px 0px;
  }
}
@media(max-width: 550px) {
  .header__column:last-child {
    flex: 0 1 auto;
  }
  .header__phone {
    white-space: nowrap;
  }
  .header__column:first-child {
    flex: none;
  }
  .header__select {
    margin: 0px 0px 0px 20px;
  }
  .header__phone {
    margin: 0px 20px 0px 0px;
  }
  .logo {
    width: 80px;
  }
  .header__phone {
    font-size: 14px;
  }
  .page__main {
    padding: 80px 0 50px;
  }
  .main-page__inner {
    display: block;
  }
  .main-page__box {
    margin: 0px 0px 40px 30px;
  }
  .main-page__list {
    margin: 0;
  }
  .main-page__list li {
    font-size: 16px;
    line-height: 25px;
    margin: 0px 0px 15px 0px;
    max-width: 340px;
  }
  .main-page {
    background: #27134b url('../img/main-bg.jpg') center center no-repeat;
    background-size: cover;
  }
  .main-page__img {
    /*
    max-width: 605px;
    margin: 0px -50px 0px -50px;
    */
    display: block;
  }
  .page__main {
    height: auto;
  }
  .main-page__inner .buttons-wrapper1 {
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  .title,
  .title-2 {
    font-size: 20px;
    line-height: 28px;
  }
  .brand-slider__item-title {
    font-size: 18px;
  }
  .brand-slider__item-text {
    font-size: 14px;
  }
  .brand-slider__item {
    margin: 0 7px;
  }
  .video-stories__item {
    margin: 0px 20px 20px 0px;
  }
  .social-page__profile-title {
    font-size: 18px;
  }
  .social-page__profile-subtitle {
    margin: 0px 0px 30px 0px;
  }
  .social-page__profile-items { 
    margin: 0px 0px 10px 0px;
  }
  .social-page__profile-item:first-child .item-profile__img {
    margin: 0px 0px 7px 0px;
  }
  .item-profile {
    width: 50%;
    margin: 0px 0px 20px 0px;
  }
  .social-page__profile-items {
    flex-wrap: wrap;
  }
  .social-page__profile-title,
  .social-page__profile-subtitle {
    text-align: center;
  }
  .social-page__stories,
  .video-stories {
    flex-wrap: wrap;
  }
  /*
  .video-stories__item {
    width: calc((100% - 20px) / 2);
    margin: 0px 20px 20px 0px;
  }
  .video-stories__item:nth-child(2n) {
    margin: 0px 0px 20px 0px;
  }
  */
  .social-page__title br {
    display: none;
  }
  .social-page__img {
    position: static;
  }
  .page__social {
    padding: 35px 0 0;
  }
  .social-page__test-title {
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
  .social-page__test-text {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
  .social-page {
    background: #33165b url('../img/social-bg.jpg') right 0 no-repeat;
    background-size: cover;
  }
  .social-page__test-title b {
    font-size: 32px;
  }
  .page__team {
    padding: 30px 0 30px;
  }
  .team-page__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 20px 0px;
  }
  .social-page__test-buttons {
    margin: 0 auto;
  }
}
@media(max-width: 470px) {
  .header__callback {
    margin: 30px auto 30px;
  }
  .header__phone {
    display: block;
    width: 135px;
    margin: 0 auto 50px;
  }
  .main-page__title {
    font-size: 28px;
    line-height: 38px;
  }
  .brand-slider__item-img {
    width: 90px;
  }
  .process-page__inner {
    display: block;
  }
  .process-page__box {
    margin: 0px 0px 30px 0px;
  }
  .process-page__img {
    width: 200px;
    margin: 0 auto;
  }
  .process-page__box {
    margin: 0px 0px 0px 0px;
  }
  .process-page__form {
    margin: 10px 0px 0px 0px;
  }
  .social-page__profile-title {
    max-width: 300px;
    line-height: 26px;
    margin: 0 auto 20px auto;
  }
  .scroll-images__container {
    padding: 0;
  }
  .scroll-images {
    margin: 0px 50px 0px 0px;
  }
  .scroll-images__text {
    right: -120px;
  }
  .social-page__test-buttons {
    margin: 0px 0px -20px 0px;
  }
  .social-page__test-buttons {
    flex-direction: column;
    align-items: center;
  }
  .social-page__offer-btn {
    margin: 25px 0px 0px 0px;
  }
  .social-page__test-btn,
  .social-page__offer-btn {
    width: 280px;
  }
  .social-page__test {
    padding: 40px 0px 0px 0px;
  }
  .social-page__test-title {
    margin: 0px 0px 20px 0px;
  }
  .team-slider__item-name,
  .team-slider__item-position {
    text-align: center;
  }
  .social-page__profile-subtitle {
    line-height: 24px;
    margin: 0px 0px 20px 0px;
  }
  .attracting-page__title {
    padding: 0;
    margin: 0px auto 20px auto;
    max-width: 350px;
  }
  .attracting-page__item {
    position: static;
    width: calc((100% - 40px) / 3);
    margin: 0px 20px 20px 0px;
  }
  .attracting-page__item:nth-child(4n) {
    margin: 0px 20px 20px 0px;
  }
  .attracting-page__item:nth-child(3n) {
    margin: 0px 0px 20px 0px;
  }
  .video-stories__item {
    box-shadow: none;
  }
}
@media(max-width: 360px) {
  .team-slider {
    margin: 0 25px;
  }
  .attracting-page__item {
    position: static;
    width: calc((100% - 20px) / 2);
    margin: 0px 20px 20px 0px;
  }
  .attracting-page__item:nth-child(3n) {
    margin: 0px 20px 20px 0px;
  }
  .attracting-page__item:nth-child(2n) {
    margin: 0px 0px 20px 0px;
  }
}