/*///////////////////////////////////RESET///////////////////////////////////////*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
/*///////////////////////////////////GLOBAl////////////////////////////////////*/
html,
body {
	height: 100%;
}
body {
  font-family: 'GothamProRegular';
  font-weight: 400px;
  font-size: 14px;
  color: #fff;
  overflow-x: hidden;
	min-width: 320px;
}
body._no-scroll {
  position: relative;
  overflow-y: hidden;
}
.wrapper {
  overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
}
.jq-selectbox__select {
  font-family: 'GothamProRegular' !important;
  font-weight: 400px !important;
  font-size: 15px !important;
  color: #fff !important;
  padding: 0 20px 0 0px !important;
  text-shadow: none;
}
.jq-selectbox li {
  font-family: 'GothamProRegular' !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #082244 !important;
}
.jq-selectbox li.selected,
.jq-selectbox li:hover {
  background-color: #27134b !important;
  color: #fff !important;
}
.jq-selectbox__select,
.jq-selectbox__select:hover,
.jq-selectbox.focused {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.jq-selectbox.dropdown.opened .jq-selectbox__trigger {
  transform: rotate(-180deg);
}
.jq-selectbox__trigger {
  border-left: none !important;
}
.jq-selectbox__select-text {
  width: 110px !important;
}
.jq-selectbox__trigger {
  background: url('../img/arrow-down.png') 0 0 no-repeat !important;
  width: 9px !important;
  height: 5px !important;
  top: 15px !important;
  right: 0 !important;
  transition: all .3s;
}
.jq-selectbox__trigger-arrow {
  border: transparent !important;
}
.jq-selectbox__dropdown {
  border: none;
}
.title {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.buttons-wrapper1 {
  display: inline-block;
  position: relative;
}
.buttons-wrapper1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-radius: 30px;
  transition: all .3s;
}
.buttons-wrapper1::before {
  box-shadow: 0 6px 0 #8e1181;
}
.buttons-wrapper1:active::before {
  box-shadow: none;
}
.btn-1 {
  position: relative;
  font-family: 'GothamProMedium';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #fff;
  transition: all .3s;
  z-index: 2;
  padding: 0 20px;
}
.btn-1 {
  border-radius: 30px;
  background: -moz-linear-gradient( -82deg, rgb(249,109,109) 0%, rgb(235,39,209) 47%, rgb(18042,222) 78%, rgb(152,17,193) 100%);
  background: -webkit-linear-gradient( -82deg, rgb(249,109,109) 0%, rgb(235,39,209) 47%, rgb(180,42,222) 78%, rgb(152,17,193) 100%);
  background: -ms-linear-gradient( -82deg, rgb(249,109,109) 0%, rgb(235,39,209) 47%, rgb(18042,222) 78%, rgb(152,17,193) 100%);
  box-shadow: 0px 7px 15px 0px rgba(176, 10, 158, 0.69);
}
.btn-1:active {
  transform: translateY(5px);
}
.btn-1:hover {
  box-shadow: 0px 7px 15px 0px rgba(176, 10, 158, 0.9);
}
.menu-toggle {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  transition: .25s ease-in-out;
}
.menu-toggle .hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}
.menu-toggle .hamburger span {
  display: block;
  background: #f441aa;
  border-radius: 3px;
  width: 30px;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
  margin: 8px 0;
  transition: .25s ease-in-out;
}
.menu-toggle .hamburger span:nth-child(1) {
  margin: 4px 0px 5px 0px;
  transition-delay: .5s;
}
.menu-toggle .hamburger span:nth-child(2) {
  transition-delay: .625s;
}
.menu-toggle .hamburger span:nth-child(3) {
  transition-delay: .75s;
  margin: 0px 0px 4px 0px;
}
.menu-toggle .cross span {
  background: #f441aa;
  transition: .25s ease-in-out;
}
.menu-toggle .cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
.menu-toggle .cross span:nth-child(1) {
  height: 0%;
  width: 2px;
  position: absolute;
  top: -1px;
  left: 14px;
  transition-delay: 0s;
}
.menu-toggle .cross span:nth-child(2) {
  width: 0%;
  height: 2px;
  position: absolute;
  right: -1px;
  top: 14px;
  transition-delay: .25s;
}
.menu-toggle.open .hamburger span {
  width: 0%;
}
.menu-toggle.open .hamburger span:nth-child(1) {
  transition-delay: 0s;
}
.menu-toggle.open .hamburger span:nth-child(2) {
  transition-delay: .125s;
}
.menu-toggle.open .hamburger span:nth-child(3) {
  transition-delay: .25s;
}
.menu-toggle.open .cross span:nth-child(1) {
  height: 32px;
  transition-delay: .625s;
}
.menu-toggle.open .cross span:nth-child(2) {
  width: 32px;
  transition-delay: .375s;
}
.mCSB_inside > .mCSB_container {
  margin-right: 20px !important;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff !important;
  background-color: rgba(255,255,255,.75) !important;
  z-index: 1;
}
/*///////////////////////////////////FONTS///////////////////////////////////////*/
/*Light 300*/
/*Regular, Normal 400*/
/*Medium 500*/
/*Bold 700*/
/*Black 900*/
/*font-family: 'PT Sans', sans-serif;*/
/*
@font-face {
  font-family: 'PantonLight';
  src: url('../fonts/Panton-Light.woff2') format('woff2'),
       url('../fonts/Panton-Light.woff') format('woff');
  font-weight: 300; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PantonRegular';
  src: url('../fonts/Panton-Regular.woff2') format('woff2'),
       url('../fonts/Panton-Regular.woff') format('woff');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PantonBold';
  src: url('../fonts/Panton-Bold.woff2') format('woff2'),
       url('../fonts/Panton-Black.woff') format('woff');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PantonBlack';
  src: url('../fonts/Panton-Black.woff2') format('woff2'),
       url('../fonts/Panton-Black.woff') format('woff');
  font-weight: 900; 
  font-style: normal;
  font-display: swap;
}
*/
@font-face {
  font-family: 'GothamProLight';
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
       url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamProRegular';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
       url('../fonts/GothamPro.woff') format('woff');
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamProMedium';
  src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
       url('../fonts/GothamPro-Medium.woff2') format('woff');
  font-weight: 500; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamProBold';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
       url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700; 
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GhotamBlack';
  src: url('../fonts/GothamPro-Black.woff2') format('woff2'),
       url('../fonts/GothamPro-Black.woff') format('woff');
  font-weight: 900; 
  font-style: normal;
  font-display: swap;
}
/*//////////////////////////////////header//////////////////////////////////*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 13px 0;
  z-index: 10;
  transition: all .3s;
}
.header.fixed {
  position: fixed;
  background-color: #27134b;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__column:first-child {
  flex: 0 1 300px;
  margin: 0px 30px 0px 0px;
}
.header__column:nth-child(2) {
  flex: 0 1 340px;
  margin: 0px 30px 0px 0px;
}
.header__column:last-child {
  flex: 0 0 330px;
}
.header__column-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 118px;
}
.logo img {
  object-fit: contain;
}
.header__select {
  margin: 0px 0px 0px 30px;
}
.header__menu {
  display: flex;
}
.menu-item-has-children {
  position: relative;
  margin: 0px 30px 0px 0px;
}
.menu-item-has-children > a {
  padding: 13px 20px 13px 0;
}
.menu-item-has-children::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  background: url('../img/arrow-down.png') 0 0 no-repeat;
  cursor: pointer;
}
.header__menu li a {
  color: inherit;
  font-size: 15px;
}
.header__menu > li:last-child a {
  position: relative;
}
.header__menu > li:last-child a::after {
  content: "";
  display: block;
  background-color: #ffd443;
  height: 1px;
  width: 0%;
  left: 50%;
  bottom: -2px;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header__menu > li a:hover::after {
  width: 100%;
}
.sub-menu li a {
  color: #082244;
}
.header__phone {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 16px;
  color: inherit;
}
.header__callback {
  position: relative;
  overflow: hidden;
  font-family: 'GothamProMedium';
  font-weight: 500;
  color: inherit;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border: 1px solid #f441aa;
  border-radius: 30px;
  padding: 0 25px;
  background-color: rgba(252, 44, 51, 0);
  transition: all .3s;
}
.header__callback:hover {
  border: 1px solid transparent;
}
.header__callback::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f441aa;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}
.header__callback:hover::before {
  transform: translateX(0);
}
@media (min-width: 1051px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__menu > li {
    position: relative;
  }
  .header__menu > li:hover .sub-menu {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
  .sub-menu {
    position: absolute;
    width: 180px;
    background-color: transparent;
    top: 25px;
    left: 0px;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s;
    opacity: 0;
    border-radius: 4px;
    background-color: #fff;
  }
  .sub-menu li a { 
    display: block;
    padding: 10px 10px 10px 20px;
    position: relative;
  }
  .sub-menu li:first-child a {
    border-radius: 3px 3px 0px 0px;
  }
  .sub-menu li:last-child a {
    border-radius: 0px 0px 3px 3px;
  }
  .sub-menu li a:hover {
    color: #fff;
    background-color: #27134b;
  }
}
/*//////////////////////////////////main//////////////////////////////////*/
.page__main {
  padding: 140px 0 100px;
  height: 100vh;
}
.main-page {
  background: #27134b url('../img/main-bg.jpg') center center no-repeat;
  background-size: cover;
}
.main-page__title {
  font-family: 'GothamProBold';
  font-weight: 700;
  max-width: 600px;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 2px;
  margin: 0px 0px 30px 0px;
}
.yellow {
  color: #ffd443;
}
.main-page__list {
  max-width: 435px;
  margin: 0px 0px 50px 0px;
}
.main-page__list li {
  font-size: 24px;
  line-height: 30px;
  margin: 0px 0px 20px 0px;
}
.main-page__list li span {
  font-family: 'GothamProMedium';
  font-weight: 500;
  color: #ffd443;
}
.main-page__img {
  display: none;
}
.main-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 720px;
}
.main-page__box {
  position: relative;
  flex: 0 1 420px;
  margin: 0px 20px 0px 0px;
}
.main-page__box::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  width: 60px;
  height: 50px;
  background: url('../img/heart.png') 0 0 no-repeat;
  z-index: 1;
}
.main-page__box svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}
.main-page__text {
  position: relative;
  z-index: 1;
  color: #082244;
  font-size: 13px;
  line-height: 20px;
  padding: 15px 20px 15px 30px;
  letter-spacing: 1px;
}
/*//////////////////////////////////brand//////////////////////////////////*/
.page__brand {
  padding: 70px 0 120px;
}
.brand-page {
  background: #3f398e url('../img/brand-bg.jpg') 0 0 no-repeat;
  object-fit: cover;
}
.brand-page__title {
  max-width: 870px;
  margin: 0px auto 45px auto;
}
.brand-slider__item {
  position: relative;
  background: rgb(122,157,229);
  background: linear-gradient(90deg, rgba(122,157,229,1) 0%, rgba(123,117,211,1) 100%); 
  border-radius: 6px;
  box-shadow: 0px 12px 14px 0px rgba(39, 33, 130, 0.65);
  padding: 45px 20px 45px 50px;
  margin: 0 12px;
}
.brand-slider__item-title {
  position: relative;
  z-index: 1;
  font-family: 'GhotamBlack';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 0px 0px 30px 0px;
}
.brand-slider__item-text {
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 24px;
  max-width: 330px;
}
.brand-slider__item-img {
  position: absolute;
  bottom: 0;
  right: -12px;
  width: 190px;
}
.brand-slider__item-box {
  height: 185px;
  overflow-y: auto;
}
.slick-slider .slick-list {
  overflow: visible;
}
/*
.slick-slider .slick-slide.slick-active {
  overflow: visible !important;
}
*/
.brand-slider__btn {
  position: absolute;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  bottom: -90px;
  right: 12px;
  border: none;
  width: 42px;
  height: 42px;
  background-color: rgba(241, 242, 250, 0.2);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 0;
}
.brand-slider__btn img {
  width: 8px;
  height: 15px;
}
.brand-slider__btn-prev {
  right: 77px;
}
.brand-slider__btn-next {
}
.slider__counter {
  font-family: 'GothamProBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  bottom: -80px;
  left: 12px;
}
/*//////////////////////////////////adaptive//////////////////////////////////*/
@media(max-width: 1366px) {
  .page__main {
    padding: 120px 0 100px;
  }
  .main-page__title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media(max-width: 1250px) {
  .brand-slider__item-img {
    width: 120px;
  }
  .brand-slider__item {
    padding: 25px 20px 25px 30px;
  }
  .brand-slider__item-title {
    font-size: 20px;
    line-height: 26px;
    margin: 0px 0px 15px 0px;
  }
}
@media(max-width: 1150px) {
  .container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .main-page__title {
    font-size: 40px;
    line-height: 50px;
  }
  .main-page__list li {
    font-size: 20px;
    line-height: 25px;
  }
  .main-page__box {
    margin: 0px 20px 0px 30px;
  }
  .main-page__btn {
    font-size: 14px;
  }
  .main-page__inner {
    align-items: center;
  }
}
@media(max-width: 1050px) {
  .menu-toggle {
    display: block;
  }
  .header__inner {
    padding: 7px 0;
  }
  .header {
    position: fixed;
    padding: 0;
    background-color: #27134b;
    box-shadow: 0px 40px 26px -29px rgba(146, 149, 158, 0.5);
    z-index: 10;
  }
  .header._active .header__inner{
    background-color: #27134b;
  }
  .header__column:last-child {
    flex: 0 0 auto;
  }
  .header__navigation {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    overflow: auto;
    padding: 100px 0px 0px 0px;
    background: #27134b;
    border-radius: 0;
    transform: translateY(-100%);
    box-shadow: none;
    margin: 0px 0px 0px 0px;
  }
  .header__navigation._active {
    transform: translateY(0);
    width: 100%;
    z-index: -1;
  }
  .header__menu {
    flex-direction: column;
    align-items: center;
  }
  .menu-item-has-children {
    margin: 0;
  }
  .menu-item-has-children > a {
    display: block;
    padding: 0;
    margin: 0px 0px 25px 0px;
  }
  .sub-menu li a {
    display: block;
    color: #fff;
    margin: 0px 0px 25px 0px;
  }
  .menu-item-has-children::before {
    display: none;
  }
  .header__callback {
    width: 163px;
    margin: 30px auto 50px;
  }
  .header__phone {
    margin: 0px 30px 0px 0px;
  }
  .page__main {
    height: auto;
  }
  .header__column:nth-child(2) {
    flex: none;
    margin: 0;
  }
  .header__menu > li:last-child a::after {
    display: none;
  }
  .page__main {
    padding: 100px 0 80px;
  }
  .title {
    font-size: 24px;
    line-height: 34px;
  }
  .page__brand {
    padding: 30px 0 100px;
  }
  .brand-slider__btn {
    bottom: -60px;
  }
  .slider__counter {
    bottom: -50px;
  }
  .brand-page__title {
    margin: 0px 0px 30px 0px;
  }
}
@media(max-width: 950px) {
  .brand-slider {
    max-width: 445px;
    margin: 0 auto;
  }
}
@media(max-width: 550px) {
  .header__column:last-child {
    flex: 0 1 auto;
  }
  .header__phone {
    white-space: nowrap;
  }
  .header__column:first-child {
    flex: none;
  }
  .header__select {
    margin: 0px 0px 0px 20px;
  }
  .header__phone {
    margin: 0px 20px 0px 0px;
  }
  .logo {
    width: 80px;
  }
  .header__phone {
    font-size: 14px;
  }
  .page__main {
    padding: 80px 0 50px;
  }
  .main-page__inner {
    display: block;
  }
  .main-page__box {
    margin: 0px 0px 40px 30px;
  }
  .main-page__list {
    margin: 0;
  }
  .main-page__list li {
    font-size: 16px;
    line-height: 25px;
    margin: 0px 0px 15px 0px;
    max-width: 340px;
  }
  .main-page {
    background: #27134b url('../img/main-bg.jpg') center center no-repeat;
    background-size: cover;
  }
  .main-page__img {
    /*
    max-width: 605px;
    margin: 0px -50px 0px -50px;
    */
    display: block;
  }
  .page__main {
    height: auto;
  }
  .main-page__inner .buttons-wrapper1 {
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  .title {
    font-size: 20px;
    line-height: 28px;
  }
  .brand-slider__item-title {
    font-size: 18px;
  }
  .brand-slider__item-text {
    font-size: 14px;
  }
  .brand-slider__item {
    margin: 0 7px;
  }
}
@media(max-width: 470px) {
  .header__callback {
    margin: 30px auto 30px;
  }
  .header__phone {
    display: block;
    width: 135px;
    margin: 0 auto 50px;
  }
  .main-page__title {
    font-size: 28px;
    line-height: 38px;
  }
  .brand-slider__item-img {
    width: 90px;
  }
}