@charset "UTF-8";

@font-face {
  font-family: CeraProBold;
  font-display: swap;
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CeraProMedium;
  font-display: swap;
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-ok:before {
  content: "\e900";
}

._icon-search:before {
  content: "\e901";
}

._icon-telegram:before {
  content: "\e902";
}

._icon-user:before {
  content: "\e903";
}

._icon-vk:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "CeraProMedium";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "CeraProMedium";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #010407;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 86.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn-1,
.btn-2 {
  display: inline-block;
  background: #cb4f19;
  border-radius: 0.625rem;
  line-height: 1;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.btn-1 {
  font-family: CeraProBold;
  text-transform: uppercase;
  padding: 1.625rem 3.625rem;
}

.btn-2 {
  padding: 0.625rem 0.9375rem;
}

.header {
  position: absolute;
  width: 100%;
  padding: 0.625rem 0;
  z-index: 10;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
}

.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__navigation-list {
  row-gap: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__navigation-link {
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  line-height: 1.5;
}

.header__control {
  font-size: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
  padding: 2.5rem;
}

.menu__link {
  font-family: CeraProBold;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  width: 100%;
}

.menu__link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25rem;
  height: 0.9375rem;
  background: url("../img/icons/arrow.svg") 0 0 no-repeat;
}

.submenu {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  padding-left: 5rem;
  padding-top: 2.1875rem;
  background: #010407;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-webp .submenu::before{
  background: url("../img/decor-line.png") -100% 0 no-repeat; }

.submenu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  opacity: 0.5;
}

.submenu-open .submenu {
  left: 0;
  z-index: 1;
}

.submenu__item {
  position: relative;
  z-index: 1;
}

.submenu__back {
  position: relative;
  font-family: CeraProBold;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 2.8125rem;
}

.submenu__back::before {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: -2.5rem;
  width: 1.5625rem;
  height: 1rem;
  background: url("../img/icons/arrow-grey.svg") 0 0 no-repeat;
}

.submenu__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}

.submenu__category-link {
  font-size: 1rem;
}

.control-header__search,
.control-header__user {
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.icon-menu {
  display: none;
  position: relative;
  z-index: 100;
}

.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}

.main-slider__slider {
  position: relative;
  height: 100%;
}

.main-slider__slide {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.main-slider__decor {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.main-slider__decor img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-main-slider__content {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  max-width: 37.5rem;
}

.slide-main-slider__title {
  font-family: CeraProBold;
  line-height: 0.9166666667;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.slide-main-slider__image-ibg_contain {
  height: 100%;
}

.slide-main-slider.swiper-slide-active {
  z-index: 1;
}

.control-main-slider {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5625rem;
}

.control-main-slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-left: 0.375rem;
}

.control-main-slider__dots .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.control-main-slider__dots .swiper-pagination-bullet-active {
  position: relative;
}

.control-main-slider__dots .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.25rem;
  height: 1.25rem;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
}

.fraction-control {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  line-height: 1.1875;
  min-height: 3.625rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu {
    display: none;
  }

  .main-slider {
    padding-bottom: 3.75rem;
  }

  .main-slider__decor {
    min-height: 51.5625rem;
  }

  .slide-main-slider__image-ibg_contain {
    min-height: 40rem;
  }
}

@media (min-width: 85.375em) {
  .header__navigation-list {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (min-width: 86.875em) {
  .header__navigation {
    padding-left: 3.125rem;
  }

  .header__navigation {
    padding-right: 3.125rem;
  }

  .header__control {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .main-slider {
    padding-top: 7.8125rem;
  }

  .slide-main-slider__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .slide-main-slider__subtitle {
    font-size: 2rem;
  }

  .slide-main-slider__subtitle:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}

@media (min-width: 120em) {
  .slide-main-slider__title {
    font-size: 7.5rem;
  }
}

@media (max-width: 48em) {
  .header__navigation-list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding-top: 3.75rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 10;
    background: #010407;
    background-size: cover;
  }

  .no-webp .menu__body::before{
    background: url("../img/decor-line.png") -100% 0 no-repeat; }

  .menu__body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    opacity: 0.5;
  }

  .menu-open .menu__body {
    left: 0;
    z-index: 1;
  }
}

@media (max-width: 20em) {
  .header__navigation {
    padding-left: 1.875rem;
  }

  .header__navigation {
    padding-right: 1.875rem;
  }

  .header__control {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .main-slider {
    padding-top: 6.875rem;
  }

  .slide-main-slider__title {
    font-size: 3.75rem;
  }

  .slide-main-slider__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .slide-main-slider__subtitle {
    font-size: 1.5rem;
  }

  .slide-main-slider__subtitle:not(:last-child) {
    margin-bottom: 1.4375rem;
  }
}

@media (max-width: 48rem) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
  }

  .icon-menu__wprapper {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.375rem;
  }

  .icon-menu__wprapper span,
  .icon-menu__wprapper::before,
  .icon-menu__wprapper::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu__wprapper::before {
    top: 0;
  }

  .icon-menu__wprapper::after {
    left: 0;
    bottom: 0;
  }

  .icon-menu__wprapper span {
    left: 0;
    top: calc(50% - 0.0625rem);
    width: 70%;
  }

  .menu-open .icon-menu__wprapper span {
    width: 0;
  }

  .menu-open .icon-menu__wprapper::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu__wprapper::after {
    bottom: 47%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header__navigation-list {
    display: none;
  }

  .main-slider__slide {
    display: block;
  }

  .main-slider__decor {
    opacity: 0.8;
  }
}

@media (min-width: 20em) and (max-width: 86.875em) {
@supports (padding-left: clamp( 1.875rem , 1.5011682243rem  +  1.8691588785vw , 3.125rem )) {
    .header__navigation {
      padding-left: clamp( 1.875rem , 1.5011682243rem  +  1.8691588785vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , 1.5011682243rem  +  1.8691588785vw , 3.125rem )) {
    .header__navigation {
      padding-left: calc(1.875rem + 1.25 * (100vw - 20rem) / 66.875);
    }
}

@supports (padding-right: clamp( 1.875rem , 1.5011682243rem  +  1.8691588785vw , 3.125rem )) {
    .header__navigation {
      padding-right: clamp( 1.875rem , 1.5011682243rem  +  1.8691588785vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , 1.5011682243rem  +  1.8691588785vw , 3.125rem )) {
    .header__navigation {
      padding-right: calc(1.875rem + 1.25 * (100vw - 20rem) / 66.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.6892523364rem  +  2.8037383178vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.6892523364rem  +  2.8037383178vw , 3.125rem ))) {
    .header__control {
      -webkit-column-gap: clamp( 1.25rem , 0.6892523364rem  +  2.8037383178vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.6892523364rem  +  2.8037383178vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.6892523364rem  +  2.8037383178vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.6892523364rem  +  2.8037383178vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.6892523364rem  +  2.8037383178vw , 3.125rem ))) {
    .header__control {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 66.875);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 66.875);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 66.875);
    }
}

@supports (padding-top: clamp( 6.875rem , 6.5946261682rem  +  1.4018691589vw , 7.8125rem )) {
    .main-slider {
      padding-top: clamp( 6.875rem , 6.5946261682rem  +  1.4018691589vw , 7.8125rem );
    }
}

@supports not (padding-top: clamp( 6.875rem , 6.5946261682rem  +  1.4018691589vw , 7.8125rem )) {
    .main-slider {
      padding-top: calc(6.875rem + 0.9375 * (100vw - 20rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2511682243rem  +  1.8691588785vw , 1.875rem )) {
    .slide-main-slider__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.2511682243rem  +  1.8691588785vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2511682243rem  +  1.8691588785vw , 1.875rem )) {
    .slide-main-slider__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 66.875);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3504672897rem  +  0.7476635514vw , 2rem )) {
    .slide-main-slider__subtitle {
      font-size: clamp( 1.5rem , 1.3504672897rem  +  0.7476635514vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3504672897rem  +  0.7476635514vw , 2rem )) {
    .slide-main-slider__subtitle {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 66.875);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , 0.9328271028rem  +  2.523364486vw , 3.125rem )) {
    .slide-main-slider__subtitle:not(:last-child) {
      margin-bottom: clamp( 1.4375rem , 0.9328271028rem  +  2.523364486vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 0.9328271028rem  +  2.523364486vw , 3.125rem )) {
    .slide-main-slider__subtitle:not(:last-child) {
      margin-bottom: calc(1.4375rem + 1.6875 * (100vw - 20rem) / 66.875);
    }
}
}

@media (min-width: 48em) and (max-width: 85.375em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -1.1580267559rem  +  5.016722408vw , 3.125rem )) or (column-gap: clamp( 1.25rem , -1.1580267559rem  +  5.016722408vw , 3.125rem ))) {
    .header__navigation-list {
      -webkit-column-gap: clamp( 1.25rem , -1.1580267559rem  +  5.016722408vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , -1.1580267559rem  +  5.016722408vw , 3.125rem );
              column-gap: clamp( 1.25rem , -1.1580267559rem  +  5.016722408vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.1580267559rem  +  5.016722408vw , 3.125rem )) or (column-gap: clamp( 1.25rem , -1.1580267559rem  +  5.016722408vw , 3.125rem ))) {
    .header__navigation-list {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 48rem) / 37.375);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 48rem) / 37.375);
              column-gap: calc(1.25rem + 1.875 * (100vw - 48rem) / 37.375);
    }
}
}

@media (min-width: 20em) and (max-width: 120em) {
@supports (font-size: clamp( 3.75rem , 3rem  +  3.75vw , 7.5rem )) {
    .slide-main-slider__title {
      font-size: clamp( 3.75rem , 3rem  +  3.75vw , 7.5rem );
    }
}

@supports not (font-size: clamp( 3.75rem , 3rem  +  3.75vw , 7.5rem )) {
    .slide-main-slider__title {
      font-size: calc(3.75rem + 3.75 * (100vw - 20rem) / 100);
    }
}
}

@media (any-hover: hover) {
  .btn-1:hover,
  .btn-2:hover {
    background: #ff5e19;
  }

  .header__navigation-link:hover {
    opacity: 0.4;
  }

  .control-header__search:hover,
  .control-header__user:hover {
    opacity: 0.4;
  }
}

.webp .submenu::before{ background: url(../img/decor-line.webp) -100% 0 no-repeat; }

@media (max-width: 48em){

  .webp .menu__body::before{ background: url(../img/decor-line.webp) -100% 0 no-repeat; }
}