@media (max-width: 1870px) {
.authorship-info {
  padding: 170px 0 162px 300px;
  }
  .authorship-slider__btn {
    bottom: 0;
    padding: 27px 35px;
  }
  .experience-slider__btn {
    right: calc(40% - 7px);
  }
  .experience-slider__btnnext {
    right: calc(40% - 93px);
  }
}
@media (max-width: 1800px) {
  .news-slider__item-title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .news-slider__btn {
    right: 27%;
  }
  .news-slider__btnnext {
    right: calc(27% - 86px);
  }
  .info-block__video {
    right: 80px;
  }
  .info-block__img {
    bottom: -1px;
  }
  .authorship-info {
    padding: 170px 0 162px 235px;
  }
  .experience-slider__item-videolink {
    width: 44%;
  }
  .experience-slider__btn {
    right: calc(38% - 7px);
  }
  .experience-slider__btnnext {
    right: calc(38% - 93px);
  }
  .layout-inner {
    margin-left: 200px;
  }
}

@media (max-width: 1730px) {
  .news-slider__item-title {
    margin-top: 0;
  }
  .news-slider__btn {
    right: 28%;
  }
  .news-slider__btnnext {
    right: calc(28% - 86px);
  }
  .info-block__video {
    top: 20px;
    right: 35px;
  }
  .info-block__img {
    bottom: -2px;
  }
  .control-video__link {
    width: 51%;
  }
  authorship-slider__item-img {
    width: 90%;
  }
  .authorship-slider {
    right: 0;
    max-width: 850px;
    max-height: 620px;
  }
  .authorship-slider__item {
    max-height: 620px;
  }
  .authorship-slider__item-wrapper {
    width: 100%;
  }
  .authorship-slider__btnprev {
    left: 0;
  }
  .authorship-slider__btnnext {
    left: 86px;
  }
  .authorship-slider__btn {
    bottom: 0;
    padding: 27px 35px;
  }
  .authorship-slider__item-title {
    margin-left: 137px;
  }
  .authorship-slider__link-info::after {
    right: 65px;
  }
  .authorship-info {
    padding: 170px 0 94px 235px;
  }
  .experience-slider__item-inner {
    align-items: flex-start; 
  }
  .experience-slider__btn {
    right: calc(35% - 7px);
  }
  .experience-slider__btnnext {
    right: calc(35% - 93px);
  }
  .experience-slider__item-title {
    margin-top: 75px;
  }
  .experience-slider__item-videolink {
    width: 46%;
  }
  .experience-slider__item-text {
    margin-bottom: 84px;
  }
}

@media (max-width: 1640px) {
  .news-slider__item-title {
    margin-top: -9px;
    margin-bottom: 15px;
  }
  .news-slider__item-date {
    margin-bottom: 15px;
  }
  .news-slider__btn {
    right: 29.5%;
  }
  .news-slider__btnnext {
    right: calc(29.5% - 86px);
  }
  .comparison-slider__item-info {
    top: 429px;
  }
  .comparison-slider__btn {
    bottom: 321px;
  }
  .comparison-slider__item-btn {
    bottom: 72px;
  }
  .comparison-slider__item {
    min-height: 750px;
  }
  .info-block__video {
    width: 580px;
    padding: 30px 40px;
  }
  .info-block__video-text {
    width: 500px;
  } 
  .info-block__video-title {
    margin-top: 0;
  }
  .info-block {
    margin-bottom: 20px;
  }
  .authorship-info {
    padding: 170px 0 92px 140px;
  }
  .experience-slider__item-title {
    margin-top: 46px;
  }
  .experience-slider .slick-slide img {
    width: 100%;
  }
  .experience-slider__item-btn {
    position: absolute;
    right: 7%;
    bottom: 10%;
  }
  .layout-inner {
    margin-left: 50px;
  }
}

@media (max-width: 1560px) {
  .news-slider__btn {
    right: 31%;
  }
  .news-slider__btnnext {
    right: calc(31% - 86px);
  }
  .news-slider__item-text {
    font-size: 14px;
    line-height: 20px;
    min-height: 140px;
    margin-bottom: 100px;
  }
  .news-slider__item-title {
    margin-top: -7px;
    line-height: 36px;
  }
  .news-slider__item-date {
    margin-bottom: 10px;
  }
  .info-block__video-text {
    font-size: 14px;
    line-height: 20px;
    width: 510px;
  }
  .info-block__img {
    bottom: -3px;
  }
  .social-online__text {
    font-size: 14px;
    width: 410px;
  }
  .contol-info__text,
  .authorship-info__text,
  .experience-slider__item-text {
    font-size: 14px;
  }
  .authorship-info {
    padding: 100px 0 162px 160px;
  }
  .control-info {
    margin-top: 100px;
  }
  .authorship-info__text {
    width: 470px;
  }
  .authorship-slider__item-img {
    width: 100%;
  }
  .authorship-slider {
    right: 0;
    max-width: 680px;
    max-height: 496px;
  }
  .authorship-slider__item {
    max-height: 496px;
  }
  .authorship-slider__item-wrapper {
    width: 100%;
  }
  .authorship-slider__btn {
    bottom: 0;
    padding: 26px 35px;
  }
  .authorship-slider__item-title {
    margin-left: 165px;
  }
  .authorship-slider__link-info::after {
    right: 12px;
  }
  .authorship-info {
    padding: 48px 0 92px 235px;
  }
  .authorship-slider__link {
    margin-right: 35px;
  }
  .experience-slider__btn {
    right: calc(33% - 7px);
  }
  .experience-slider__btnnext {
    right: calc(33% - 93px);
  }
  .experience-slider__item-btn {
    right: 4%;
  }
  .layout-text {
    font-size: 16px;
    line-height: 24px;
    width: 415px;
    margin: 130px 40px 97px 0;
  }
}

@media (max-width: 1489px) {
  .comparison-slider__item-info {
    top: 348px;
  }
  .comparison-slider__btn {
    bottom: 322px;
  }
  .comparison-slider__item-btn {
    bottom: 55px;
    right: 5%;
}
  .comparison-slider__item-title {
    line-height: 36px;
    margin-bottom: 17px;
  }
  .comparison-slider__item {
    min-height: 670px;
  }
  .news-slider__btn {
    right: 32.5%;
  }
  .news-slider__btnnext {
    right: calc(32.5% - 86px);
  }
  .news-slider__item-text {
    letter-spacing: -0.2px;
  }
  .info-block__video {
    width: 500px;
    padding: 30px 40px;
  }
  .info-block__video-text {
    width: 430px;
  }
  .info-block__video-link::before {
    top: 28%;
    left: 40%;
  }
  .info-block__img {
    bottom: -4px;
  }
  .authorship-info {
    padding: 48px 0 92px 190px;
  }
  .experience-slider__btn {
    right: calc(32% - 7px);
  }
  .experience-slider__btnnext {
    right: calc(32% - 93px);
  }
  .experience-slider__item-btn {
    right: 3%;
    bottom: 10.5%;
  }
}

@media (max-width: 1366px) {
  .comparison-slider__item-info {
    left: 150px;
    width: 76%;
  }
  .comparison-slider__item-btn {
    bottom: 80px;
    right: 5%;
  }
  .news-slider__btn {
    right: 35.5%;
  }
  .news-slider__btnnext {
    right: calc(35.5% - 86px);
  }
  .info-block__img {
    bottom: -5px;
  }
  .control-video__link {
    width: 50.2%;
  }
  .control-info {
    margin-top: 50px;
  }
  .authorship-info {
    padding: 48px 0 92px 150px;
  }
  .experience-slider__item-videolink {
    margin: 20px 85px 50px 100px;
  }
  .experience-slider__btn {
    right: calc(34.8% - 7px);
  }
  .experience-slider__btnnext {
    right: calc(34.8% - 93px);
  }
  .experience-slider__item-btn {
    position: static;
  }
  .experience-slider__btn {
    bottom: 49px;
  }
  .experience-slider__item-text {
    min-height: 170px;
    margin-bottom: 37px;
  }
  .layout,
  .more-materials {
    padding-bottom: 80px;
  }
  .questions {
    padding-bottom: 100px;
  }
}

@media (max-width: 1350px) {
  .news-slider__item-inner {
    display: flex;
    flex-wrap: wrap;
  }
  .news-slider__item-block {
    max-width: 78%;
    margin: 0 auto;
}
  .news-slider__item-img img {
    width: 81%;
    margin-right: 70px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .news-slider__item-text {
    letter-spacing: 0;
  }
  .news-slider__item-text {
    min-height: 80px;
  }
  .news-slider__btn {
    right: 50%;
  }
  .news-slider__btnnext {
    right: calc(50% - 86px);
  }
  .info-block__video {
    display: flex;
    justify-content: space-between;
    width: 87%;
    padding: 30px 40px;
    left: 6%;
  }
  .info-block__video-img {
    width: 70%;
  }
  .video-box {
    padding-bottom: 350px;
  }
  .info-block__video-img {
    width: auto;
  }
  .info-block__video {
    top: -300px;
  }
  .info-block__img {
    bottom: -5px;
  }
  .info-block__video-wrapper {
    margin-left: 20px;
  }
  .info-block__video-link::before {
    top: 33%;
    left: 43%;
  }
  .authorship-info {
    padding: 48px 0 121px 35px;
  }
  .control-video__link {
    margin-right: 35px;
  }
  .contol-info__title,
  .authorship-info__title {
    margin-bottom: 20px;
  }
  .contol-info__title {
    margin-top: 20px;
  }
  .contol-info__text,
  .authorship-info__text {
    margin-bottom: 25px;
  }
  .experience {
    margin-bottom: 50px;
  }
  .experience-slider__item-inner {
    flex-direction: column;
    align-items: center;
  }
  .experience-slider__item-videolink {
    margin: 0;
  }
  .experience-title {
    margin-bottom: 100px;
  }
  .experience-slider .slick-slide img {
    width: 620px;
  }
  .experience-slider__btn {
    bottom: 0;
    left: calc(17% - 85px);
  }
  .experience-slider__btnnext {
    left: 17%;
  }
  .experience-slider__item-btn {
    height: 83px;
    box-shadow: 0px -7px 16px 0px rgba(0, 0, 0, 0.1);
  }
  .experience-slider__item-btn:hover {
    height: 83px;
    box-shadow: 0px -7px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .experience-slider__item-text {
    width: 620px;
  }
  .experience-slider__item-videolink {
    width: auto;
  }
  .experience-slider {
    max-width: 700px;
    margin: 0 auto;
  }
  .experience-slider__item-block {
    width: 90%;
  }
  .experience-title {
    width: 360px;
  }
  .layout-inner {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .layout-video__link {
    order: -1;
    max-width: 650px;
    margin-bottom: 40px;
  }
  .layout-video__img {
    width: 100%;
  }
  .layout-wrapper {
    width: 650px;
  }
  .layout-text {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .layout-video__link::before {
    top: 33%;
    right: 40%;
  }
  .experience-slider__item-videolink::before {
    top: 34%;
  }
}

@media (max-width: 1270px) {
  .info-block__video {
    flex-wrap: wrap;
    width: 54%;
    top: -470px;
    left: 23%;
  }
  .info-block__video-img {
    width: 100%;
  }
  .info-block__video-wrapper {
    margin-left: 0;
  }
  .info-block__video-text {
    width: 510px;
  }
  .video-box {
    padding-bottom: 500px;
  }
  .info-block__img {
    bottom: -6px;
  }
  .calc-text {
    font-size: 14px;
    margin: 0;
    margin-bottom: 30px;
  }
  .calc-inner {
    padding: 30px 30px 30px 35px;
    max-width: 840px;
    margin: 0 auto;
  }
  .tabs-wrapper {
    text-align: center;
    margin-bottom: 40px;
  }
  .tab,
  .tab-form,
  .tab-form input,
  .tab-form .jq-selectbox__select-text,
  .jq-selectbox__select-text, 
  .jq-selectbox li, 
  .form-style {
    font-size: 14px 
  }
  .tab-form__label,
  .tab-form__label-box {
    margin: 0 35px 30px 61px;
  }
  .tab-form__label-box {
    margin-bottom: 0;
  }
  .checkbox-btn {
    right: -214px;
  }
  .tab-form__btn {
    margin-top: 30px;
  }
  .calc__tab {
    width: 130px;
  }
  .form-style {
    width: 335px;
  }
  .checkbox-btn {
    right: -153px;
  }
  .control-info {
    margin-top: 30px;
  }
  .authorship-info__text {
    width: 430px;
  }
  .authorship-info {
    padding: 23px 0 122px 35px;
  }
}

@media (max-width: 1195px) {
  .comparison-slider__item-btn {
    bottom: 50px;
  }
  .video-box-items {
    justify-content: space-around;
  }
  .info-block {
    background-size: cover;
  }
  .control {
    margin-bottom: 80px;
  }
  .control-inner {
    flex-direction: column;
    align-items: center;
  }
  .control-video__link {
    margin-right: 0;
  }
  .contol-info__title {
    margin-top: 0;
  }
  .control-info {
    width: 600px;
    margin-top: 10px;
  }
  .control-video__link {
    width: auto;
  }
  .authorship-inner {
    flex-direction: column;
    align-items: center;
  }
  .authorship-slider {
    position: relative;
    order: -1;
    max-width: 600px;
    max-height: 438px;
  }
  .authorship-info__text,
  .contol-info__text, 
  .control-video__img {
    width: 600px;
  }
  .authorship-info {
    width: 600px;
    padding: 23px 0 60px 0;
  }
  .authorship-info__title,
  .contol-info__title {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 400px;
}
  .contol-info__title {
    width: 500px;
  }
  .authorship-slider__item-title, 
  .authorship-slider__link {
    font-size: 18px;
  }
  .authorship-slider__btnnext {
    left: 85px;
  }
  .more-material {
    margin-bottom: 20px;
  }
  .more-material:last-child {
    margin-right: 15px;
  }
  .more-materials {
    justify-content: space-around;
  }
}

@media (max-width: 1112px) {
  .comparison-slider__item-info {
    top: 306px;
    left: 90px;
    width: 83%;
  }
  .comparison-slider__btn {
    bottom: 319px;
  }
  .comparison-slider__item {
    min-height: 625px;
  }
  .footer-block__contacts {
    margin: 100px 0 142px 136px;
  }
}

@media (max-width: 1050px) {
  .project-slider__item-title,
  .comparison-slider__item-title,
  .experience-slider__item-title {
    font-size: 24px;
  }
  .project-slider__item-text,
  .comparison-slider__item-text {
    font-size: 14px;
  }
  .project-slider__item-wrapper,
  .project-slider__btn  {
    margin-left: 15px;
  }
  .project-slider__item-info {
    justify-content: left;
  }
  .project-slider__btnprev {
    left: 0;
  }
  .project-slider__btnnext {
    left: 86px;
  }
  .project-slider__btnnext {
    left: 48px;
  }
  .project-slider__btn, 
  .comparison-slider__btn, 
  .news-slider__btn, 
  .authorship-slider__btn, 
  .experience-slider__btn {
    padding: 9.5px 16px;
  }
  .tab-form__btn,
  .news-slider__item-btn,
  .contol-info__btn,
  .authorship-info__btn,
  .experience-slider__item-btn,
  .layout-form__btn,
  .btn.info-block__video-btn,
  .layout-btn {
    height: 47px;
    width: 120px;
  }
  .btn.info-block__video-btn {
    padding: 12px 20px;
  }
  .project-slider__item-btn {
    position: absolute;
    font-size: 12px;
    bottom: 1px;
    top: inherit;
    right: 35%;
    padding: 10px 20px;
    height: 47px;
    width: 120px;
  }
  .project-slider__item-info {
    padding: 25px 0 60px 0;
    min-height: 210px;
  }
  .project {
    margin-bottom: 40px;
  }
  .comparison__inner-wrapper {
    margin-bottom: 60px;
  }
  .comparison__title {
    margin-bottom: 10px;
  }
  .section-title {
    font-size: 38px;
    text-align: center;
  }
  .btn {
    font-size: 12px;
    padding: 12px 20px;
  }
  .comparison-slider__item-btn {
    right: 7%;
    bottom: 75px;
  }
  .comparison-slider__btnnext {
    right: calc(50% - 47px);
  }
  .comparison-slider__btnnext::before, 
  .news-slider__btnnext::before, 
  .experience-slider__btnnext::before {
    height: 47px;
  }
  .news-slider__btnnext {
    right: calc(50% - 48px);
  }
  .news-slider__item-btn {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  }
  .news-slider__item-btn:hover {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .comparison {
    margin-bottom: 50px;
  }
  .news__title {
    line-height: 35px;
    margin-bottom: 65px;
  }
  .news-slider__item-title {
    font-size: 24px;
  }
  .video-title {
    margin-bottom: 55px;
  }
  .news-slider__item-text {
    margin-bottom: 65px;
  }
  .info-block__video-text {
    width: 100%;
  }
  .info-block__video {
    padding: 20px 25px;
  }
  .social-online__btn:first-child::before, 
  .social-online__btn:nth-child(2)::before {
    top: 14px;
  }
  .info-block {
    margin-bottom: 0;
  }
  .calc {
    padding-top: 60px;
  }
  .calc__tab {
    padding: 10px 0;
  }
  .form-style,
  .jq-selectbox__select {
    height: 35px;
  }
  .jq-selectbox li {
    padding: 8px 17px 8px;
  }
  .jq-selectbox__select-text {
    transform: translateY(0);
  }
  .jq-selectbox__trigger-arrow {
    top: 15px;
  }
  .authorship-slider__btnnext {
    left: 47px;
  }
  .authorship-slider__item-wrapper {
    bottom: 46px;
    padding: 11px 0 11px 0;
  }
  .authorship-slider__item-title {
    margin-left: 90px;
  }
  .authorship-slider__link-info::after {
    right: -5px;
  }
  .authorship-slider__link {
    margin-right: 0;
  }
  .experience-slider__btnnext {
    left: calc(12% - 3px);
  }
  .experience-slider__item-text {
    min-height: 145px;
  }
  .experience-title {
    margin-bottom: 70px;
  }
  .experience-slider__item-title {
    margin-bottom: 20px;
  }
  .layout-title {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .layout-title {
    width: 670px;
  }
  .layout-form__input {
    width: 530px;
    padding: 16px 30px 12px 30px;
  }
  .layout-form {
    margin-bottom: 60px;
  }
  .layout-form__input::placeholder {
    font-size: 16px;
  }
  .layout, 
  .more-materials,
  .title-more,
  .calc {
    padding-bottom: 60px;
  }
  .questions {
    padding-bottom: 80px;
  }
  .calc-wrapper,
  .authorship,
  .questions,
  .map-title,
  .questions-title {
    margin-bottom: 60px;
  }
  .more-materials {
    padding-bottom: 40px;
  }
  .more-material {
    font-size: 24px;
  }
  .more-material:last-child .more-material__link {
    padding-top: 230px;
  }
  .questions-item {
    font-size: 16px;
  }
  .map-personal__item, 
  .map-publications__item, 
  .map-information__item, 
  .map-services__item {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .map-services__list-item {
    font-size: 14px;
  }
  .map-personal__logo, 
  .map-publications__logo, 
  .map-information__logo, 
  .map-services__logo {
    margin-bottom: 15px;
  }
  .footer-inner {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-block__copyright {
    position: absolute;
    bottom: 25px;
    left: 0;
  }
  .footer-block__social-list {
    margin: 0 auto;
  }
  .footer-block__contacts {
    margin: 60px auto 90px auto;
    width: 330px;
  }
  .footer-block__studio {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

@media (max-width: 978px) {
  .comparison-slider__item-info {
    top: 254px;
  }
  .comparison-slider__btn {
    bottom: 257px;
  }
  .comparison-slider__item-btn {
    bottom: 55px;
  }
  .comparison-slider__item-info {
    top: 235px;
    left: 78px;
    min-height: 200px;
    padding: 20px 50px;
  }
  .comparison-slider__item {
    min-height: 492px;
  }
  .footer-inner {
    padding-bottom: 60px;
  }
  .footer-inner::before {
    bottom: 110px;
  }
}

@media (max-width: 930px) {
  .header__bottom-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-search {
    margin: 15px 0;
  }
  .user-list {
    padding: 23px 0;
    padding-bottom: 12px;
  }
  .header__bottom-scroll {
    display: none;
  }
  .logo {
    margin-right: 0;
  }
  .comparison-slider__item {
    min-height: 500px;
  }
  .comparison-slider__btn {
    bottom: 265px;
  }
  .calc-inner {
    max-width: 780px;
  }
  .tab,
  .tab-form,
  .tab-form input,
  .tab-form .jq-selectbox__select-text,
  .jq-selectbox__select-text, 
  .jq-selectbox li, 
  .form-style {
    font-size: 12px 
  }
  .form-style {
    width: 278px;
  }
  .tab-form__label, .tab-form__label-box {
    margin: 0 35px 30px 35px;
  }
  .tab-form__label-box {
    margin-bottom: 0;
  }
  .calc__tab {
    width: 120px;
  }
  .calc-inner {
    max-width: 725px;
  }
  .calc-text {
    width: 100%;
  }
  .checkbox-btn {
    right: -178px;
  }
  .map-inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .map-wrapper, 
  .map-information,
  .map-services {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .map-services {
    margin-bottom: 0;
  }
  .map-wrapper {
    margin-left: 50px;
  }
}

@media (max-width: 815px) {
  .menu-categories {
    display: none;
  }
  .header__top {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  .header__bottom {
    padding-top: 80px;
    margin-bottom: 15px;
  }
  .header__menu-navigation {
    display: none;
  }
  .header__menu-navigation.mobile-active {
    display: block;
  }
  .header__menu-navigation.mobile-active .menu-nav__categories-item {
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0;
  }
  .header-search {
    display: none;
  }
  .user-list {
    padding: 20px 0;
    padding-bottom: 15px;
  }
  .header__top-inner {
    justify-content: space-between;
  }
  .user-list__item:nth-child(n+3) {
    display: none;
  }
  .user-list__item-grid::after {
    display: none;
  }
  .user-list__item.user-list__item-grid,
  .user-list__item + .user-list__item {
    margin-right: 0;
  }
  .menu-mobile__btn {
    display: block;
  }
  .project-slider__item-btn {
    right: 14%;
  }
  .comparison-slider__item-text {
    width: 100%;
  }
  .comparison-slider__item-info {
    top: 200px;
    left: 60px;
  }
  .comparison-slider__btn {
    bottom: 260px;
  }
  .comparison-slider__item-btn {
    bottom: 118px;
    right: 55px;
  }
  .comparison-slider__item-title {
    width: 330px;
  }
  .project-slider__item-text {
    margin-right: 15px;
  }
  .comparison-slider__item {
    min-height: 460px;
  }
  .info-block__video {
    width: 80%;
    left: 10%;
  }
  .info-block__video {
    top: -565px;
  }
  .video-box {
    padding-bottom: 600px;
  }
  .questions-list {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .comparison-slider__item {
    min-height: 482px;
  }
  .comparison-slider__item-btn {
    bottom: 140px;
    right: 55px;
  }
  .comparison-slider__btn {
    bottom: 282px;
  }
  .info-block__video-title {
    font-size: 32px;
    line-height: 38px;
  }
  .calc__tab {
    width: 75px;
  }
  .calc__tab:last-child {
    line-height: 14.5px;
    vertical-align: bottom;
  }
  .form-style {
    width: 160px;
  }
  .jq-selectbox__dropdown {
    width: 173%;
  }
  .tabs-wrapper {
    margin-bottom: 20px;
  }
  .calc-inner {
    max-width: 438px;
  }
  .calc-text {
    font-size: 12px;
  }
  .tab-form__label {
    width: 203px;
    margin: 0;
    margin-right: 5px;
    margin-top: 20px;
    letter-spacing: 0;
  }
  .tab-form__label-box {
    margin: 0;
    margin-top: 20px;
  }
  .checkbox-btn {
    right: -77px;
  }
  .experience-slider .slick-slide img {
    width: 100%;
  }
  .experience-slider__item-videolink {
    box-shadow: none;
  }
  .experience-slider__item-block {
    width: 100%;
  }
  .experience-slider__item-text {
    width: 98%;
  }
  .experience-slider {
    max-width: 90%;
  }
  .experience-slider__btn {
    bottom: 0;
    left: 0;
  }
  .experience-slider__btnnext {
    left: 47px;
  }
  .layout-video__link {
    width: 90%;
  }
  .layout-wrapper,
  .layout-title {
    width: 90%;
  }
  .layout-form {
    width: 90%;
    margin: 0 auto 60px auto;  
  }
  .layout-title {
    width: 93%;
    line-height: 40px;
  }
  .layout-text {
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 671px) {
  .section-title {
    font-size: 32px;
  }
  .comparison__title {
    margin-bottom: 0;
  }
  .section-subtitle {
    font-size: 16px;
  }
  .project-slider__item-info {
    padding: 12px 0 40px 0;
    min-height: 163px;
  }
  .project-slider__item-title,
  .comparison-slider__item-title,
  .news-slider__item-title {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 26px;
  }
  .comparison-slider__item-title {
    width: 296px;
  }
  .project-slider__item-text,
  .comparison-slider__item-text,
  .news-slider__item-text,
  .info-block__video-text,
  .social-online__text,
  .contol-info__text, 
  .authorship-info__text,
  .experience-slider__item-text {
    font-size: 12px;
    line-height: 18px;
  }
  .comparison-slider__item-info {
    top: 163px;
    left: 48px;
    padding: 20px 30px;
    min-height: 160px;
  }
  .comparison-slider__item {
    min-height: 400px;
  }
  .comparison-slider__btn {
    bottom: 237px;
  }
  .comparison-slider__item-btn {
    bottom: 90px;
    right: 26px;
}
  .marker-photo {
    position: absolute;
    top: 15px;
    color: #fff;
    font-family: 'Gilroy-ExtraBold';
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgba(42, 40, 38, 0.8);
    width: 60px;
    height: 28px;
    padding-top: 5px;
  }
  .marker-photo__left {
    right: 10px;
  }
  .marker-photo__right {
    right: calc(0% - 66px);
  }
  .comparison {
    margin-bottom: 25px;
  }
  .video-box {
    padding-bottom: 570px;
  }
  .info-block__video {
    top: -520px;
  }
  .social-online__title {
    margin-bottom: 10px;
  }
  .social-online__text {
    margin-bottom: 30px;
  }
  .experience-slider__item-text {
    min-height: 90px;
  }
  .experience-slider__item-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .layout-text {
    font-size: 14px;
    line-height: 20px;
  }
  .layout-form__input::placeholder {
    font-size: 14px;
  }
  .questions-item {
    font-size: 14px;
  }
  .questions-link {
    padding: 34px 105px 30px 15px;
    line-height: 16px;
  }
  .questions-title {
    width: 100%;
  }
  .map-wrapper {
    margin-left: 20px;
  }
}

@media (max-width: 646px) {
  .comparison-slider__item-btn {
    bottom: 103px;
    right: 35px;
  }
  .info-block__video-link::before {
    top: 30%;
    left: 39%;
  }
  .control-info,
  .control-video__link,
  .authorship-info {
    width: 90%;
  }
  .control-inner,
  .authorship-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .authorship-info__title, 
  .contol-info__title {
    margin-bottom: 20px;
    line-height: 40px;
  }
  .control-video__img,
  .contol-info__text,
  .contol-info__title,
  .authorship-info__text,
  .authorship-info__title {
    width: 100%;
  }
  .control-video__link::before {
    top: 34%;
  }
  .authorship-slider__item {
    margin-bottom: -46px;
  }
  .authorship-slider {
    max-width: 90%;
  }
  .experience-slider__item-videolink::before {
    top: 36%;
    left: 43%;
  }
}

@media (max-width: 590px) {
  .comparison-slider__item {
    min-height: 525px;
}
  .comparison-slider__item-info {
    top: 144px;
    left: 112px;
    width: 60%;
  }
  .comparison-slider__btn {
    bottom: 381px;
  }
  .comparison-slider__item-btn {
    bottom: 25px;
    right: 30%;
  }
  .comparison-slider__item-title {
    width: 205px;
  }
  .news-slider__btnprev {
    right: 78%;
  }
  .news-slider__btnnext {
    right: calc(78% - 48px);
  }
  .comparison-slider__item-text {
    min-height: 110px;
    margin-bottom: 70px;
  }
  .experience-slider__item-videolink::before {
    top: 33%;
    left: 41%;
  }
  .questions-link {
    display: flex;
    align-items: center;
    padding: 0 105px 0 15px;
    min-height: 80px;
  }
  .footer-block__studio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-block__logo-img {
    margin-right: 0;
  }
  .footer-block__information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
  }
  .footer-block__information-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer-inner::before {
    bottom: 180px;
  }
}

@media (max-width: 473px) {
  .comparison-slider__item-info {
    top: 118px;
    left: 92px;
  }
  .comparison-slider__btn {
    bottom: 397px;
  }
  .project-slider__item-text {
    display: none;
  }
  .project-slider__item-info {
    min-height: 55%;
  }
  .comparison-slider__item {
    min-height: 515px;
  }
  .video-box {
    padding-bottom: 550px;
  }
  .info-block__video {
    top: -510px;
  }
  .info-block__video-link::before {
    top: 23%;
    left: 35%;
  }
  .social-online__text {
    width: 100%;
  }
  .calc__tab {
    font-size: 11px;
    letter-spacing: -0.1px;
    width: 54px;
    padding: 5px 0;
  }
  .calc__tab:last-child {
    width: 65px;
  }
  .calc-inner {
    padding: 30px 5px 30px 5px;
    max-width: 290px;
    margin: 0 auto;
  }
  .tab-form__label,
  .tab-form__label-box {
    width: 120px;
    letter-spacing: -0.1px;
  }
  .tab-form__label:first-child,
  .tab-form__label:nth-last-child(4) {
    vertical-align: middle;
  }
  .form-style {
    width: 150px;
  }
  .checkbox-btn {
    top: 0;
    right: -33px;
  }
  .jq-selectbox__dropdown {
    width: 185%;
  }
  .control-video__link::before {
    top: 32%;
    left: 42%;
  }
  .authorship-slider__item-title, 
  .authorship-slider__link {
    font-size: 14px;
  }
  .authorship-slider__link-info::after {
    right: -15px;
  }
  .experience-slider__item-videolink::before {
    top: 31%;
    left: 40%;
  }
  .layout-video__link::before {
    top: 27%;
    right: 36%;
  }
  .more-material,
  .more-material:last-child {
    margin-right: 0;
  }
  .map-services {
    margin-right: 0;
    margin-left: 23px;
  }
}

@media (max-width: 420px) {
  .project-slider__item-title,
  .comparison-slider__item-title,
  .news-slider__item-title {
    font-size: 20px;
  }
  .project-slider__item-title {
    margin-bottom: 0;
  }
  .project-slider__item-text,
  .comparison-slider__item-text,
  .news-slider__item-text {
    line-height: 17px;
    margin-bottom: 12px;
  }
  .comparison-slider__item-text {
    min-height: 110px;
    margin-bottom: 80px;
  }
  .header__menu-navigation.mobile-active .menu-nav__categories-item {
    font-size: 11px;
  }
  .project-slider__item-title {
    margin-bottom: 5px;
  }
  .project-slider__item-info {
    padding: 7px 0 41px 0;
  }
  .comparison-slider__item-info {
    width: 70%;
    left: 63px;
    padding: 10px 20px;
  }
  .marker-photo {
    top: 0px;
  }
  .comparison-slider__item-info {
    top: 100px;
  }
  .news-slider__item-date {
    font-size: 12px;
  }
  .news-slider__item-text {
    margin-bottom: 65px;
  }
  .comparison-slider__btn {
    bottom: 415px;
  }
  .news-slider__btnprev {
    right: calc(75%);
  }
  .news-slider__btnnext {
    right: calc(75% - 48px);
  }
  .project-slider__item-info {
    min-height: 60%;
  }
  .video-box {
    padding-bottom: 520px;
  }
  .info-block__video {
    top: -480px;
  }
  .info-block__video-link::before {
    top: 18%;
    left: 32%;
  }
  .info-block__video {
    padding: 10px 10px;
  }
  .calc-wrapper {
    width: 230px;
  }
  .control-video__link::before {
    top: 28%;
    left: 38%;
  }
  .authorship-slider__item-title, 
  .authorship-slider__link {
    font-size: 11px;
  }
  .authorship-slider__link-info::after {
    right: -12px;
  }
  .authorship-slider__item-title {
    margin-left: 87px;
}
  .authorship-slider__link {
    margin-right: -5px;
  }
  .experience-title {
    width: 260px;
  }
  .layout-form__input {
    padding: 15px 15px 12px 15px;
    width: 61%;
  }
  .footer-block__social-list {
    width: 100%;
  }
  .footer-block__contacts-item {
    width: 290px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer-block__btn {
    width: 245px;
    padding: 24px 0 24px 90px;
  }
  .footer-block__title {
    line-height: 45px;
    text-align: center;
  }
}

@media (max-width: 355px) {
  .project-slider__item-btn {
    right: 5%;
  }
  .comparison-slider__item-btn {
    bottom: 25px;
    right: 23%;
  }
  .comparison-slider__item-info {
    left: 50px;
  }
  .project-slider__item-info {
    min-height: 65%;
  }
  .video-box {
    padding-bottom: 560px;
  }
  .info-block__video {
    top: -520px;
  }
  .info-block__video-link::before {
    top: 17%;
    left: 32%;
  }
  .control-video__link::before {
    left: 35%;
  }
  .experience-slider__item-videolink::before {
    top: 22%;
    left: 34%;
  }
  .layout-video__link::before {
    top: 20%;
    right: 28%;
  }
  .footer {
    overflow-x: hidden;
    max-width: 100%;
  }
}
