/*///////////////////////////////////RESET////////////////////////////////////*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/*///////////////////////////////////GLOBAl////////////////////////////////////*/
html,
body {
	height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'MullerLight';
  font-size: 15px;
  line-height: 24px;
  color: #1b212b;
	min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  height: 67px;
  font-family: MullerMedium;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 62px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 270px;
  border: 0;
  transition: all .3s;
  background: -moz-linear-gradient( -90deg, rgb(240,75,71) 0%, rgb(235,26,35) 100%);
  background: -webkit-linear-gradient( -90deg, rgb(240,75,71) 0%, rgb(235,26,35) 100%);
  background: -ms-linear-gradient( -90deg, rgb(240,75,71) 0%, rgb(235,26,35) 100%);
  box-shadow: 0 6px 0 rgb(195, 20, 27);
}
.btn:active {
  transform: translateY(4px);
  box-shadow: none;
}
.no-scroll {
  overflow: hidden;
}

/*///////////////////////////////////FONTS///////////////////////////////////////*/
@font-face {
  font-family: 'MullerLight';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300; /*Light*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400; /*Regular, Normal*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MullerMedium';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500; /*Medium*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MullerBold';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700; /*Bold*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MullerBlack';
  src: url('../fonts/MullerBlack.woff2') format('woff2'),
       url('../fonts/MullerBlack.woff') format('woff');
  font-weight: 900; /*Black*/
  font-style: normal;
  font-display: swap;
}
/*///////////////////////////////////HEADER//////////////////////////////////////*/
.header {
  padding: 20px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__column {
  display: flex;
  align-items: center;
}
.logo {
  position: relative;
  margin: 0px 55px 0px 0px;
}
.logo-mobile {
  display: none;
}
.logo-mobile img {
  width: 25px;
  height: 43px;
}
.logo img {
  width: 275px;
  height: 43px;
}
.logo span {
  font-family: 'MullerRegular';
  font-weight: 300;
  font-size: 11px;
  display: inline-block;
  color: #2a579c;
  position: absolute;
  bottom: -2px;
  right: 4px;
}
.header__address {
  font-family: 'MullerRegular';
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
.header__phone-box {
  margin: 0px 25px 0px 0px;
}
.header__phone,
.header__call-me {
  display: block;
  text-align: right;
}
.header__phone {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #2a579c;
  margin: 0px 0px 7px 0px;
}
.header__call-me {
  font-size: 13px;
  line-height: 13px;
  color: #e41a22;
  text-decoration: underline;
  width: 105px;
  margin-left: auto;
}
.header__phone-icon {
  display: none;
}
.header__phone-icon img {
  width: 36px;
  height: 36px;
}
.header__btn {
  position: relative;
  border-radius: 6px;
  background-color: #2a579c;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  padding: 0;
}
.header__btn span {
  display: block;
  transform: translateX(50%);
  width: 17px;
  height: 2px;
  background-color: #fff;
  margin: 0px 0px 4px 0px;
}
.header__btn span:last-child {
  margin: 0px 0px 0px 0px;
}
.header__btn.header__btn_active span:first-child {
  position: absolute;
  top: 17px;
  left: 9px;
  transform: rotate(-45deg);
}
.header__btn.header__btn_active span:nth-child(2) {
  opacity: 0;
}
.header__btn.header__btn_active span:last-child {
  position: absolute;
  transform: rotate(45deg);
  top: 17px;
  left: 9px;
}
.header__menu {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  text-align: center;
  background: -moz-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  background: -ms-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.header__menu-list {
  width: 100%;
  padding: 0px 0px 100px 0px !important;
}
.header__menu.header__menu_active {
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}
.header__menu-item {
  padding: 25px 0;
}
.header__menu-link {
  position: relative;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #2a579c;
}
.header__menu-link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #2a579c;
  height: 2px;
  bottom: -5px;
  transition: all .3s;
}
.header__menu-link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}
/*/////////////////////////////////MAIN-PAGE/////////////////////////////////////*/
.main-page {
  position: relative;
  padding: 45px 0px 85px 0px;
}
.main-page::before {
  content: "";
  position: absolute;
  top: -83px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background: -moz-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  background: -ms-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  z-index: -1;
}
.main-page__title {
  font-family: 'MullerBold';
  font-size: 72px;
  line-height: 78px;
  font-weight: 700;
  letter-spacing: 1.8px; /*(25VA * 72px / 1000)*/
  text-transform: uppercase;
}
.main-page__title span,
.main-page__title-text span {
  color: #2a579c;
}
.main-page__title-text {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  margin: 0px 0px 25px 0px;
}
.main-page__text {
  font-family: 'MullerMedium';
  font-weight: 500;
  max-width: 840px;
  margin: 0px 0px 45px 0px;
}
.main-page__box {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 50px 0px;
}
.form-page {
  display: flex;
}
.input-form {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 14px;
  padding: 0 17px;
  border-radius: 8px;
  box-shadow: inset 0px 3px 7px 0px rgba(27, 33, 43, 0.13);
  width: 250px;
  height: 100%;
  margin: 3px 0px 0px 0px;
  border: 0;
}
.input-form::placeholder {
  opacity: 1;
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 14px;
}
.form-page__btn {
  margin: 0px 35px 0px -7px;
}

.main-page__calculate-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: -moz-linear-gradient( -90deg, rgb(31,152,205) 0%, rgb(20,126,175) 100%);
  background: -webkit-linear-gradient( -90deg, rgb(31,152,205) 0%, rgb(20,126,175) 100%);
  background: -ms-linear-gradient( -90deg, rgb(31,152,205) 0%, rgb(20,126,175) 100%);
  box-shadow: 0 6px 0 rgb(8, 100, 145);
  padding: 0 32px;
}
.main-page__features-wrapper {
  padding: 0px 0px 130px 0px;
}
.main-page__features-list {
  margin: 0px 0px 0px 250px;
  max-width: 445px;
}
.main-page__features-item {
  display: flex;
  align-items: center;
  margin: 0px 0px 35px 0px;
}
.main-page__features-item:first-child {
  width: 330px;
}
.main-page__features-item:nth-child(2) {
  width: 400px;
}
.main-page__features-item:last-child {
  width: 430px;
}
.main-page__features-item p {
  font-family: 'MullerRegular';
  font-weight: 400;
}
.main-page__features-item:last-child {
  margin: 0px 0px 0px 0px;
}
.main-page__features-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 58px;
  height: 58px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 20px 0px 0px;
}
.main-page__features-item img {
  object-fit: cover;
  width: 34px;
  height: 34px;
}
.main-page__img {
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
.main-page__img_bg1 {
  width: 485px;
  height: 544px;
  top: 220px;
  left: -10px;
}
.main-page__img_bg2 {
  width: 1031px;
  height: 708px;
  right: 0;
  top: 10px;
}
.main-page__objects-title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 25px 0px;
}
.main-page__objects-inner {
  padding: 15px 15px 25px;
  background-color: #fff;
}
.main-page__objects-tabs {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 23px 0px;
}
.main-page__objects-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  width: 327px;
  height: 70px;
  background-color: #2a579c;
  border-radius: 8px;
  transition: all .3s;
  margin: 0px 5px 0px 0px;
  padding: 0 10px;
  text-align: center;
}
.main-page__objects-tab:last-child {
  margin: 0px 0px 0px 0px;
}
.main-page__objects-tab:hover {
  background-color: #1e95ca;
}
.objects-content__tab {
  display: flex;
  justify-content: space-between;
}
.objects-content__text {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
  padding: 20px 0px 45px 0px;
  max-width: 710px;
  margin: 0px 15px 0px 0px;
}
.objects-content__img img {
  object-fit: contain;
  border-radius: 10px;
  width: 563px;
  height: 353px;
}
.objects-content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}
.main-page__objects-tab.tab_active {
  background-color: #1e95ca;
}
/*ТАБЫ*/
.tabs-content {
  display: none;
}
.tabs-content.tabs-content_active {
  display: block;
}
/*//////////////////////////////////////ADVANTAGES////////////////////////////////////*/
.advantages {
  position: relative;
  padding: 50px 0 60px;
}
.advantages__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 20px 0px;
}
.advantages__subtitle {
  font-family: 'MullerMedium';
  font-weight: 500;
  margin: 0px 0px 45px 0px;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 25px;
  margin: 0px 0px 55px 0px;
}
.advantages__list-item {
  max-width: 360px;
}
.advantages__list-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0px 30px 0px;
}
.advantages__list-title span {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 24px;
  color: #2a579c;
  padding: 14px 12px;
  background-color: #f6f9fc;
  border-radius: 50%;
  margin: 0px 12px 0px 0px;
}
.advantages__list-text {
  font-family: 'MullerRegular';
  font-weight: 400;
}
.advantages__list-text a {
  color: inherit;
  text-decoration: underline;
}
.advantages__form {
  margin: 0px 0px 0px 0px;
  padding: 60px 77px 60px;
  background-color: #f6f9fc;
}
.advantages__form-input {
  width: 310px;
  height: 64px;
  margin: 0px 0px 0px 0px;
}
.advantages__form-btn {
  max-width: 340px;
  padding: 0 20px;
  margin: 0 0px 0px -10px;
}
.advantages__img {
  position: absolute;
  width: 793px;
  height: 594px;
  bottom: 60px;
  right: 0;
}
/*//////////////////////////////////////BANNER/////////////////////////////////////////////*/
.banner-page {
  padding: 0px 0px 55px 0px;
}
.banner-page__inner {
  position: relative;
  background: url('../img/form-img1.png') 0 0 no-repeat;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 553px;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
}
.banner-page__inner::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 430px;
  background: url('../img/men.png') center no-repeat;
  width: 353px;
  height: 534px;
  z-index: 2;
}
.banner-page__info {
  max-width: 905px;
  padding: 110px 0px 140px 45px;
  border-radius: 15px;
}
.banner-page__info-text {
  max-width: 620px;
  margin: 0px 0px 55px 0px;
}
.banner-page__info-text p {
  font-family: 'MullerMedium';
  font-weight: 500;
  color: #fff;
  font-size: 40px;
}
.banner-page__info-text2,
.banner-page__info-text3 {
  font-family: 'MullerBlack';
  font-weight: 900;
  text-transform: uppercase;
}
.banner-page__info-text1 {
  line-height: 60px;
}
.banner-page__info-text2 {
  padding: 9px 21px 0px;
  background: url('../img/red-line.png') center no-repeat;
  line-height: 55px;
  margin: 0px 0px 0px -20px;
}
.banner-page__info-text3 {
  font-size: 50px;
  line-height: 60px;
}
.banner-page__info-title span:last-child {
  font-size: 50px;
  line-height: 60px;
}
.banner-page__info-list {
  display: flex;
  justify-content: space-between;
  width: 620px;
}
.banner-page__info-item span {
  margin: 0px 0px 0px -12px;
  color: #ef4442;
}
.banner-page__info-item {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
  padding: 0px 0px 0px 12px;
}
.banner-page__info-item:first-child {
  max-width: 315px;
}
.banner-page__info-item:last-child {
  max-width: 260px;
  margin: 0px 0px 0px 0px;
}
.form-banner {
  max-width: 425px;
  height: 465px;
  margin: 45px 32px 45px 0px;
  padding: 44px 62px 50px 62px;
  background-color: #2a579c;
  border-radius: 8px;
}
.form-banner__text {
  margin: 0px 0px 23px 0px;
}
.form-banner__text p {
  text-align: center;
  color: #fff;
}
.form-banner__text1 {
  font-family: 'MullerBold';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.form-banner__text2 {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: lowercase;
}
.form-banner input {
  margin: 0px 0px 16px 0px;
  width: 100%;
}
.form-banner__input-name,
.form-banner__input-phone {
  display: block;
  height: 50px;
}
.form-banner__input-btn {
  max-width: 100%;
  padding: 0;
  margin: 0px 0px 50px 0px !important;
}
.form-banner__label {
  color: #fff;
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 14px;
}
.form-banner__label span {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 1px solid #b9c9df;
  vertical-align: middle;
  margin: 0px 5px 0px -32px;
}
.form-banner__input-checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
input:checked + label span::before {
  content:"";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 8px;
  height: 5px;
  background: url('../img/icons/checked.svg') center no-repeat;
}
/*//////////////////////////////////////FEATURES/////////////////////////////////////////////*/
.page-features {
  background-color: #f6f9fc;
}
.page-features__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  padding: 35px 0;
}
.page-features__title span {
  font-family: 'MullerBold';
  font-weight: 700;
  color: #2a579c;
}
.page-features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page-features__item {
  position: relative;
  max-width: 350px;
  margin: 0px 30px 40px 0px;
}
.page-features__item .page-features__item-title {
  display: block;
  color: #1b212b;
  font-size: 18px;
  line-height: 24px;
  -webkit-text-stroke: 0;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
}
.page-features__item:nth-child(3),
.page-features__item:last-child {
  margin: 0px 0px 0px 0px;
}
.page-features__item span {
  display: inline-block;
  font-family: 'MullerMedium';
  font-weight: 500;
  -webkit-text-stroke: 2px #d2e9f0;
  font-size: 90px;
  line-height: 80px;
  color: transparent;
  padding: 0px 0px 0px 35px;
}
.page-features__item-img {
  position: absolute;
  display: inline-block;
  top: 3px;
  width: 60px;
  height: 60px;
  padding: 14px;
  border-radius: 50%;
  background-color: #fff;
}
.page-features__item-img img {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.page-features__form {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 40px;
}
.page-features__input {
  height: 64px;
}
.page-features__input-btn {
  margin: 0px 0px 0px -15px;
}
.page__brand {
  padding: 50px 0px 90px 0px;
}
.brand-page__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  padding: 0px 0px 60px 0px;
  max-width: 1170px;
}
.brand-page__title span {
  font-family: 'MullerBold';
  font-weight: 700;
  color: #2a579c;
}
.brand-page__slider {
  position: relative;
  min-width: 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.brand-page__slider-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 253px;
  height: 160px;
  border: 1px solid #daeef2;
  cursor: pointer;
}
.brand-page__slider-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  padding: 0;
}
.brand-page__slider-btnprev {
  left: 0;
}
.brand-page__slider-btnnext {
  right: 0;
}
.brand-page__slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slick-dots {
  position: absolute;
  bottom: -43px;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li {
  display: inline-block;
  margin: 0 6px;
  font-size: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #2a579c;
}
.slick-dots li button {
  background-color: transparent;
  border: 0;
}
.slick-dots li.slick-active {
  background-color: #1e95ca;
}
/*//////////////////////////////////////FOOTER/////////////////////////////////////////////*/
.footer {
  position: relative;
  background-color: #142d53;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 0 40px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.footer__column:nth-child(2) {

}
.footer__top a {
  color: #fff;
}
.footer__logo {
  display: block;
  position: relative;
}
.footer__logo img {
  width: 275px;
  height: 43px;
}
.logo__footer-span {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 100px;
  width: 180px;
  font-family: 'MullerRegular';
  font-weight: 300;
  font-size: 11px;
  color: #fff;
}
.footer__services-item {
  margin: 0px 0px 25px 0px;
}
.footer__services-link {
  position: relative;
}
.footer__column {
  margin: 0px 35px 0px 0px;
}
.footer__column:last-child {
  margin: 0px 0px 0px 0px;
}
.footer__navigation-list {

}
.footer__navigation-item {
  margin: 0px 0px 25px 0px;
}
.footer__navigation-item:last-child {
  margin: 0px 0px 0px 0px;
}
.footer__social-img_vk {
  width: 17px;
  height: 9px;
}
.footer__social-img_inst {
  width: 16px;
  height: 16px;
}
.footer__social-img_vk,
.footer__social-img_inst {
  transition: all .3s;
}
.footer__social-item:hover .footer__social-img_vk,
.footer__social-item:hover .footer__social-img_inst {
  transform: scale(1.2);
}
.footer__street {
  margin: 0px 0px 25px 0px;
}
.footer__adress {
  margin: 0px 0px 30px 0px;
}
.footer__social-list {
  display: flex;
  align-items: center;
}
.footer__social-item {
  margin: 0px 12px 0px 0px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #4d5f7a;
}
.footer__line {
  position: absolute;
  bottom: 64px;
  width: 100%;
  height: 1px;
  background-color: #435775;
}
.footer__bottom {
  padding: 20px 0;
  max-width: 830px;
}
.footer__bottom-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__bottom-confidentiality,
.footer__bottom-copyright {
  margin: 0px 30px 0px 0px;
}
.footer__bottom-development {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 145px;
  margin: -3px 0px 0px 0px;
}
.footer__bottom a,
.footer__bottom-copyright {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}
.footer__navigation-link {
  position: relative;
}
.footer__navigation-link::before,
.footer__services-link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #fff;
  height: 1px;
  bottom: -5px;
  transition: all .3s;
}
.footer__navigation-link:hover::before,
.footer__services-link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}


/*//////////////////////////////////////ADAPTIVE/////////////////////////////////////////////*/
@media (max-width: 1800px) {
  .main-page__img {
    object-fit: contain;
  }
  .main-page__img_bg1 {
    width: 388px;
    height: 544px;
  }
  .main-page__img_bg2 {
    width: 866px;
    height: 708px;
  }
  .main-page__features-wrapper {
    padding: 0px 0px 80px 0px;
  }
  .advantages__img {
    width: 45%;
    height: auto;
  }
}
@media (max-width: 1650px) {
  .main-page__img_bg1 {
    width: 320px;
    height: 544px;
  }
  .main-page__img_bg2 {
    top: 65px;
    width: 662px;
    height: 708px;
  }
}
@media (max-width: 1366px) {
  .banner-page__info-list {
    display: block;
  }
  .banner-page__info-item {
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 1350px) {
  .main-page__img_bg1 {
    display: none;
  }
  .main-page__features-list {
    margin: 0px 0px 0px 0px;
  }
  .advantages__form {
    padding: 60px 20px 60px;
  }
  .advantages__form-input {
    width: 220px;
  }
  .banner-page__info {
    max-width: 530px;
  }
  .banner-page__info-text {
    max-width: 480px;
    margin: 0px 0px 55px 0px;
  }
  .banner-page__info-text p {
    font-size: 32px;
  }
  .banner-page__info-text1 {
    line-height: 50px;
  }
  .banner-page__info-text2 {
    line-height: 45px;
    background-size: contain;
    background-position: top;
  }
  .banner-page__info-text3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 1200px) {
  .main-page__img_bg2 {
    top: 112px;
    width: 512px;
    height: 708px;
  }
  .main-page__features-wrapper {
    padding: 0px 0px 40px 0px;
  }
  .main-page__objects-title {
    text-align: center;
  }
  .objects-content__tab {
    align-items: flex-start;
  }
  .objects-content__img {
    padding: 20px 0px 0px 0px;
  }
  .objects-content__img img {
    width: 100%;
    height: auto;
  }
  .objects-content__text {
    padding: 20px 0px 20px 0px;
  }
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 25px;
    margin: 0px 0px 55px 0px;
  }
  .advantages__list-item {
    max-width: 100%;
  }
  .advantages__img {
    z-index: 0;
    width: 40%;
  }
  .advantages__form {
    position: relative;
    z-index: 0;
  }
  .advantages__list-item {
    position: relative;
    z-index: 1;
  }
  .banner-page__inner::before {
    display: none;
  }
  .page-features__item {
    max-width: 465px;
  }
  .page-features__item,
  .page-features__item:nth-child(3), 
  .page-features__item:last-child {
    margin: 0px 30px 40px 0px;
  }
}
@media (min-width: 1200px) {
  .brand-page__slider-img img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .5s;
  }
  .brand-page__slider-img:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
@media (max-width: 1024px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .main-page {
    position: relative;
    padding: 125px 0px 65px 0px;
  }
  .main-page__img_bg2 {
    display: none;
  }
  .main-page__features-list {
    max-width: 100%;
  }
  .main-page__features-item:first-child, 
  .main-page__features-item:nth-child(2), 
  .main-page__features-item:last-child {
    width: 100%;
  }
  .main-page__title {
    font-size: 64px;
    text-align: center;
  }
  .main-page__title-text {
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    margin: 0px 0px 15px 0px;
  }
  .main-page__text {
    margin: 0px auto 25px auto;
  }
  .main-page__box {
    justify-content: center;
    margin: 0px 0px 25px 0px;
  }
  .main-page__features-wrapper {
    margin: 0 auto;
    max-width: 840px;
  }
  .main-page__form {
    margin: 0px 0px 25px 0px;
  }
  .input-form,
  .input-form::placeholder {
    font-size: 16px;
  }
  .advantages__img {
    display: none;
  }
  .banner-page__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1024px;
    padding: 35px 45px;
  }
  .banner-page__inner {
    display: block;
  }
  .banner-page__info-list {
    max-width: 315px;
  }
  .banner-page__info-text {
    margin: 0px 0px 15px 0px;
  }
  .banner-page__info-text p {
    flex: 0 0 700px;
  }
  .banner-page__info-text p,
  .banner-page__info-item {
    color: #1b212b;
  }
  .form-banner {
    max-width: 100%;
    height: 465px;
    margin: 0 45px 35px;
  }
  .banner-page__info-list,
  .banner-page__info-item:first-child,
  .banner-page__info-item:last-child {
    max-width: 100%;
  }
  .form-banner__label span {
    margin: 0px 5px 0px 0px;
  }
  .page-features__list {
    display: block;
  }
  .page-features__item,
  .page-features__item:nth-child(3), 
  .page-features__item:last-child {
    margin: 0px 0px 40px 0px;
  }
  .page-features__item {
    max-width: 100%;
  }
  .page-features__title {
    padding: 0px 0px 35px;
  }
  .banner-page {
    padding: 0px 0px 40px 0px;
  }
  .page-features__title {
    font-size: 34px;
    line-height: 40px;
    padding: 0px 0px 25px;
  }
  .page-features__item, 
  .page-features__item:nth-child(3), 
  .page-features__item:last-child {
    margin: 0px 0px 20px 0px;
  }
  .page__brand {
    padding: 20px 0px 70px 0px;
  }
  .brand-page__title {
    font-size: 34px;
    line-height: 46px;
    padding: 0px 0px 40px 0px;
  }
  .brand-page__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0px 0px 25px 0px;
  }
  .footer__column,
  .footer__column:last-child {
    flex: 0 0 305px;
    margin: 0px 35px 25px 0px;
  }
  .footer__top {
    justify-content: space-around;
  }
  .footer__navigation-item,
  .footer__street,
  .footer__services-link,
  .footer__services-item {
    margin: 0px 0px 15px 0px;
  }
  .footer__services-link:last-child {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 800px) {
  .header__phone,
  .header__call-me {
    display: none;
  }
  .header__phone-icon {
    display: block;
  }
  .main-page__title {
    font-size: 45px;
    line-height: 52px;
    text-align: center;
  }
  .main-page__title-text {
    font-size: 26px;
  }
  .objects-content__tab {
    flex-direction: column;
  }
  .objects-content__img {
    width: 100%;
    order: -1;
  }
  .objects-content__img img {
    width: 100%;
  }
  .main-page__objects-title {
    font-size: 26px;
  }
  .advantages__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px 25px;
    margin: 0px 0px 30px 0px;
  }
  .main-page__features-item {
    margin: 0px 0px 20px 0px;
  }
  .main-page__features-wrapper {
    padding: 0px 0px 30px 0px;
  }
  .main-page {
    padding: 125px 0px 30px 0px;
  }
  .advantages {
    padding: 20px 0 20px;
  }
  .advantages__title {
    font-size: 26px;
    line-height: 30px;
  }
  .advantages__subtitle {
    margin: 0px 0px 25px 0px;
  }
  .advantages__list-title {
    margin: 0px 0px 10px 0px;
  }
  .page-features__title {
    font-size: 26px;
  }
  .brand-page__title {
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .header .logo {
    display: none;
  }
  .logo-mobile {
    display: block;
    margin: 0px 25px 0px 0px;
  }
  .advantages__form-input {
    width: 100%;
    margin: 0px 0px 25px 0px;
  }
  .advantages__form-btn {
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .advantages__form {
    padding: 20px 20px 30px 20px;
  }
  .banner-page__info-text p {
    font-size: 30px;
  }
  .banner-page__info-text3 {
    font-size: 38px;
  }
  .footer__column:last-child {
    margin: 0px 35px 0px 0px;
  }
  .footer__bottom-confidentiality, 
  .footer__bottom-copyright,
  .footer__bottom-development {
    margin: 0px 30px 15px 0px;
  }
  .footer__line {
    display: none;
  }
  .footer__bottom {
    border-top: 1px solid #435775;
  }
}
@media (max-width: 580px) {
  .form-page {
    display: block;
  }
  .form-page__input {
    height: 67px;
    width: 100%;
    margin: 0px 0px 25px 0px;
  }
  .form-page__btn {
    margin: 0px 0px 0px 0px;
  }
  .main-page__box {
    display: block;
    margin: 0px auto 50px auto;
  }
  .form-page .btn,
  .main-page__calculate-btn {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
  .main-page__objects-tabs {
    display: block;
  }
  .main-page__objects-tab {
    margin: 0px 0px 15px 0px;
    width: 100%;
  }
  .objects-content__btn {
    max-width: 100%;
    width: 100%;
  }
  .main-page__objects-title {
    line-height: 30px;
  }
  .banner-page__inner {
    background-image: none;
  }
  .banner-page__info {
    padding: 0px 20px 35px;
  }
  .form-banner {
    margin: 0;
  }
  .banner-page__info-text2 {
    background: none;
    padding: 0;
    margin: 0;
  }
  .banner-page__info-text p {
    font-size: 26px;
  }
  .banner-page__info-text3 {
    font-size: 36px;
  }
  .banner-page__info {
    padding: 0px 0px 20px 0px;
  }
  .form-banner {
    padding: 44px 30px 50px 30px;
  }
  .form-banner__input-btn {
    margin: 0px 0px 30px 0px !important;
  }
  .page-features__input {
    display: block;
    width: 100%;
    margin: 0px 0px 25px 0px;
  }
  .page-features__input-btn {
    width: 100%;
    max-width: 100%;
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 430px) {
  .main-page__title {
    font-size: 38px;
    line-height: 43px;
  }
  .main-page__title-text,
  .main-page__objects-title,
  .advantages__title {
    font-size: 22px;
  }
  .advantages__form-btn {
    white-space: normal;
  }
  .banner-page__info-text p {
    font-size: 22px;
  }
  .banner-page__info-text3 {
    font-size: 32px;
  }
  .page-features__title {
    font-size: 26px;
  }
}
@media (max-width: 380px) {
  .header__box {
    display: none;
  }
  .main-page__title {
    font-size: 32px;
    line-height: 43px;
  }
  .main-page__title-text {
    font-size: 18px;
  }
  .banner-page__info-text p {
    font-size: 20px;
  }
  .banner-page__info-text3 {
    font-size: 30px;
  }
  .form-banner__text1 {
    font-size: 21px;
  }
  .form-banner {
    padding: 44px 20px 50px 20px;
  }
  .page-features__title {
    font-size: 22px;
    line-height: 30px;
  }
  .brand-page__title {
    font-size: 22px;
    line-height: 30px;
  }
  .footer__column,
  .footer__column:last-child {
    flex: 1 1 auto;
    margin: 0px 0px 25px 0px;
  }
  .footer__column:last-child {
    margin: 0px 0px 0px 0px;
}
