/*///////////////////////////////////RESET////////////////////////////////////*/
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/*///////////////////////////////////GLOBAl////////////////////////////////////*/
html,
body {
	height: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'MullerLight';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #1b212b;
	min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.page {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  height: 67px;
  font-family: MullerMedium;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 62px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 270px;
  border: 0;
  transition: all .3s;
  background: -moz-linear-gradient( -90deg, rgb(240,75,71) 0%, rgb(235,26,35) 100%);
  background: -webkit-linear-gradient( -90deg, rgb(240,75,71) 0%, rgb(235,26,35) 100%);
  background: -ms-linear-gradient( -90deg, rgb(240,75,71) 0%, rgb(235,26,35) 100%);
  box-shadow: 0 6px 0 rgb(195, 20, 27);
}
.btn:active {
  transform: translateY(4px);
  box-shadow: none;
}
.no-scroll {
  overflow: hidden;
}
.top-btn {
  display: none;	
  position: relative;
  filter: alpha(opacity=50);
  opacity: 0.8;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;			
  transition: all .3s;
  background-color: #1e95ca;
  border: 1px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
}
.top-btn::before,
.top-btn::after {
  content:"";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #fff;
}
.top-btn::before {
  left: 12px;
  transform: rotate(-45deg);
}
.top-btn::after {
  right: 12px;
  transform: rotate(45deg);
}
.top-btn:hover {
  transform: translateY(-5px);
}
.top-btn.top-btn_disabled {
  display: none !important;
}
/*///////////////////////////////////FONTS///////////////////////////////////////*/
@font-face {
  font-family: 'MullerLight';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300; /*Light*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400; /*Regular, Normal*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MullerMedium';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500; /*Medium*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MullerBold';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700; /*Bold*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MullerBlack';
  src: url('../fonts/MullerBlack.woff2') format('woff2'),
       url('../fonts/MullerBlack.woff') format('woff');
  font-weight: 900; /*Black*/
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GothamProRegular';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
       url('../fonts/GothamPro.woff') format('woff');
  font-weight: 400; /*Black*/
  font-style: normal;
  font-display: swap;
}
/*///////////////////////////////////HEADER//////////////////////////////////////*/
.header {
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #d3f1ff;
  align-items: center;
}
.header.header-page {
  background-color: #E0F6FF;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__column {
  display: flex;
  align-items: center;
}
.logo {
  position: relative;
  margin: 0px 55px 0px 0px;
}
.logo-mobile {
  display: none;
}
.logo-mobile img {
  width: 25px;
  height: 43px;
}
.logo img {
  width: 275px;
  height: 43px;
}
.logo span {
  font-family: 'MullerRegular';
  font-weight: 300;
  font-size: 11px;
  display: inline-block;
  color: #2a579c;
  position: absolute;
  bottom: -2px;
  right: 4px;
}
.header__address {
  font-family: 'MullerRegular';
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
.header__phone-box {
  margin: 0px 25px 0px 0px;
}
.header__phone,
.header__call-me {
  display: block;
  text-align: right;
}
.header__phone {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #2a579c;
  margin: 0px 0px 7px 0px;
}
.header__call-me {
  font-size: 13px;
  line-height: 13px;
  color: #e41a22;
  text-decoration: underline;
  width: 105px;
  margin-left: auto;
}
.header__phone-icon {
  display: none;
}
.header__phone-icon img {
  width: 36px;
  height: 36px;
}
.header__btn {
  position: relative;
  border-radius: 6px;
  background-color: #2a579c;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  padding: 0;
}
.header__btn span {
  display: block;
  transform: translateX(50%);
  width: 17px;
  height: 2px;
  background-color: #fff;
  margin: 0px 0px 4px 0px;
}
.header__btn span:last-child {
  margin: 0px 0px 0px 0px;
}
.header__btn.header__btn_active span:first-child {
  position: absolute;
  top: 17px;
  left: 9px;
  transform: rotate(-45deg);
}
.header__btn.header__btn_active span:nth-child(2) {
  opacity: 0;
}
.header__btn.header__btn_active span:last-child {
  position: absolute;
  transform: rotate(45deg);
  top: 17px;
  left: 9px;
}
.header__menu {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  height: 100%;
  text-align: center;
  background: -moz-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  background: -ms-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.header__menu.header__menu-page {
  top: 92px;
  background: #E0F6FF;
}
.header__menu-list {
  width: 100%;
  padding: 0px 0px 130px 0px !important;
}
.header__menu.header__menu_active {
  opacity: 1;
  visibility: visible;
  overflow-y: auto;
}
.header__menu-item {
  padding: 25px 0;
}
.header__menu-link {
  position: relative;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #2a579c;
}
.header__menu-link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #2a579c;
  height: 2px;
  bottom: -5px;
  transition: all .3s;
}
.header__menu-link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}
/*/////////////////////////////////MAIN-PAGE/////////////////////////////////////*/
.main-page {
  position: relative;
  padding: 143px 0px 85px 0px;
  max-width: 1920px;
  margin: 0 auto;
}
.main-page::before {
  content: "";
  position: absolute;
  top: -83px;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background: -moz-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  background: -ms-linear-gradient( 90deg, rgb(247,247,249) 0%, rgb(208,241,255) 100%);
  z-index: -1;
}
.main-page__title {
  font-family: 'MullerBold';
  font-size: 72px;
  line-height: 78px;
  font-weight: 700;
  letter-spacing: 1.8px; /*(25VA * 72px / 1000)*/
  text-transform: uppercase;
}
.main-page__title span,
.main-page__title-text span {
  color: #2a579c;
}
.main-page__title-text {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  margin: 0px 0px 25px 0px;
}
.main-page__text {
  font-family: 'MullerMedium';
  font-weight: 500;
  max-width: 840px;
  margin: 0px 0px 45px 0px;
}
.main-page__box {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 50px 0px;
}
.form-page {
  display: flex;
}
.input-form {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 14px;
  padding: 0 17px;
  border-radius: 8px;
  box-shadow: inset 0px 3px 7px 0px rgba(27, 33, 43, 0.13);
  width: 250px;
  height: 100%;
  margin: 3px 0px 0px 0px;
  border: 0;
}
.input-form::placeholder {
  opacity: 1;
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 14px;
}
.form-page__btn {
  margin: 0px 35px 0px -7px;
}

.main-page__calculate-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: -moz-linear-gradient( -90deg, rgb(31,152,205) 0%, rgb(20,126,175) 100%);
  background: -webkit-linear-gradient( -90deg, rgb(31,152,205) 0%, rgb(20,126,175) 100%);
  background: -ms-linear-gradient( -90deg, rgb(31,152,205) 0%, rgb(20,126,175) 100%);
  box-shadow: 0 6px 0 rgb(8, 100, 145);
  padding: 0 32px;
}
.main-page__features-wrapper {
  padding: 0px 0px 130px 0px;
}
.main-page__features-list {
  margin: 0px 0px 0px 250px;
  max-width: 445px;
}
.main-page__features-item {
  display: flex;
  align-items: center;
  margin: 0px 0px 35px 0px;
}
.main-page__features-item:first-child {
  width: 330px;
}
.main-page__features-item:nth-child(2) {
  width: 400px;
}
.main-page__features-item:last-child {
  width: 430px;
}
.main-page__features-item p {
  font-family: 'MullerRegular';
  font-weight: 400;
}
.main-page__features-item:last-child {
  margin: 0px 0px 0px 0px;
}
.main-page__features-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 58px;
  height: 58px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 20px 0px 0px;
}
.main-page__features-item img {
  object-fit: cover;
  width: 34px;
  height: 34px;
}
.main-page__img {
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
.main-page__img_bg1 {
  width: 485px;
  height: 544px;
  top: 318px;
  left: -10px;
}
.main-page__img_bg2 {
  width: 1031px;
  height: 708px;
  right: 0;
  top: 108px;
}
.main-page__objects-title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 25px 0px;
}
.main-page__objects-inner {
  padding: 15px 15px 25px;
  background-color: #fff;
}
.main-page__objects-tabs {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 23px 0px;
}
.main-page__objects-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  width: 327px;
  height: 70px;
  background-color: #2a579c;
  border-radius: 8px;
  transition: all .3s;
  margin: 0px 5px 0px 0px;
  padding: 0 10px;
  text-align: center;
}
.main-page__objects-tab:last-child {
  margin: 0px 0px 0px 0px;
}
.main-page__objects-tab:hover {
  background-color: #1e95ca;
}
.objects-content__tab {
  display: flex;
  justify-content: space-between;
}
.objects-content__text {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
  padding: 20px 0px 45px 0px;
  max-width: 710px;
  margin: 0px 15px 0px 0px;
}
.objects-content__img img {
  object-fit: contain;
  border-radius: 10px;
  width: 563px;
  height: 353px;
}
.objects-content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}
.main-page__objects-tab.tab_active {
  background-color: #1e95ca;
}
/*ТАБЫ*/
.tabs-content {
  display: none;
}
.tabs-content.tabs-content_active {
  display: block;
}
/*//////////////////////////////////////ADVANTAGES////////////////////////////////////*/
.advantages {
  position: relative;
  padding: 50px 0 60px;
  max-width: 1920px;
  margin: 0 auto;
}
.advantages__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 20px 0px;
}
.advantages__subtitle {
  font-family: 'MullerMedium';
  font-weight: 500;
  margin: 0px 0px 45px 0px;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 25px;
  margin: 0px 0px 55px 0px;
}
.advantages__list-item {
  max-width: 360px;
}
.advantages__list-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0px 30px 0px;
}
.advantages__list-title span {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 24px;
  color: #2a579c;
  padding: 14px 12px;
  background-color: #f6f9fc;
  border-radius: 50%;
  margin: 0px 12px 0px 0px;
}
.advantages__list-text {
  font-family: 'MullerRegular';
  font-weight: 400;
}
.advantages__list-text a {
  color: inherit;
  text-decoration: underline;
}
.advantages__form {
  margin: 0px 0px 0px 0px;
  padding: 60px 77px 60px;
  background-color: #f6f9fc;
}
.advantages__form-input {
  width: 310px;
  height: 64px;
  margin: 0px 0px 0px 0px;
}
.advantages__form-btn {
  max-width: 340px;
  padding: 0 20px;
  margin: 0 0px 0px -10px;
}
.advantages__img {
  position: absolute;
  width: 793px;
  height: 594px;
  bottom: 60px;
  right: 0;
}
/*//////////////////////////////////////BANNER/////////////////////////////////////////////*/
.banner-page {
  padding: 0px 0px 55px 0px;
}
.banner-page__inner {
  position: relative;
  background: url('../img/form-img1.png') 0 0 no-repeat;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 553px;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
}
.banner-page__inner::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 430px;
  background: url('../img/men.png') center no-repeat;
  width: 353px;
  height: 534px;
  z-index: 2;
}
.banner-page__info {
  max-width: 905px;
  padding: 110px 0px 140px 45px;
  border-radius: 15px;
}
.banner-page__info-text {
  max-width: 620px;
  margin: 0px 0px 55px 0px;
}
.banner-page__info-text p {
  font-family: 'MullerMedium';
  font-weight: 500;
  color: #fff;
  font-size: 40px;
}
.banner-page__info-text2,
.banner-page__info-text3 {
  font-family: 'MullerBlack';
  font-weight: 900;
  text-transform: uppercase;
}
.banner-page__info-text1 {
  line-height: 60px;
}
.banner-page__info-text2 {
  padding: 9px 21px 0px;
  background: url('../img/red-line.png') center no-repeat;
  line-height: 55px;
  margin: 0px 0px 0px -20px;
}
.banner-page__info-text3 {
  font-size: 50px;
  line-height: 60px;
}
.banner-page__info-title span:last-child {
  font-size: 50px;
  line-height: 60px;
}
.banner-page__info-list {
  display: flex;
  justify-content: space-between;
  width: 620px;
}
.banner-page__info-item span {
  margin: 0px 0px 0px -12px;
  color: #ef4442;
}
.banner-page__info-item {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
  padding: 0px 0px 0px 12px;
}
.banner-page__info-item:first-child {
  max-width: 315px;
}
.banner-page__info-item:last-child {
  max-width: 260px;
  margin: 0px 0px 0px 0px;
}
.form-banner {
  max-width: 425px;
  height: 465px;
  margin: 45px 32px 45px 0px;
  padding: 44px 62px 50px 62px;
  background-color: #2a579c;
  border-radius: 8px;
}
.form-banner__text {
  margin: 0px 0px 23px 0px;
}
.form-banner__text p {
  text-align: center;
  color: #fff;
}
.form-banner__text1 {
  font-family: 'MullerBold';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.form-banner__text2 {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: lowercase;
}
.form-banner input {
  margin: 0px 0px 16px 0px;
  width: 100%;
}
.form-banner__input-name,
.form-banner__input-phone {
  display: block;
  height: 50px;
}
.form-banner__input-btn {
  max-width: 100%;
  padding: 0;
  margin: 0px 0px 50px 0px !important;
}
.form-banner__label {
  color: #fff;
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 14px;
}
.form-banner__label span {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 1px solid #b9c9df;
  vertical-align: middle;
  margin: 0px 5px 0px -32px;
}
.form-banner__input-checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
input:checked + label span::before {
  content:"";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 8px;
  height: 5px;
  background: url('../img/icons/checked.svg') center no-repeat;
}
/*//////////////////////////////////////FEATURES/////////////////////////////////////////////*/
.page-features {
  background-color: #f6f9fc;
}
.page-features__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  padding: 35px 0;
}
.page-features__title span {
  font-family: 'MullerBold';
  font-weight: 700;
  color: #2a579c;
}
.page-features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page-features__item {
  position: relative;
  max-width: 350px;
  margin: 0px 30px 40px 0px;
}
.page-features__item .page-features__item-title {
  display: block;
  color: #1b212b;
  font-size: 18px;
  line-height: 24px;
  -webkit-text-stroke: 0;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
}
.page-features__item:nth-child(3),
.page-features__item:last-child {
  margin: 0px 0px 0px 0px;
}
.page-features__item span {
  display: inline-block;
  font-family: 'MullerMedium';
  font-weight: 500;
  -webkit-text-stroke: 2px #d2e9f0;
  font-size: 90px;
  line-height: 80px;
  color: transparent;
  padding: 0px 0px 0px 35px;
}
.page-features__item-img {
  position: absolute;
  display: inline-block;
  top: 3px;
  width: 60px;
  height: 60px;
  padding: 14px;
  border-radius: 50%;
  background-color: #fff;
}
.page-features__item-img img {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.page-features__form {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 40px;
}
.page-features__input {
  height: 64px;
}
.page-features__input-btn {
  margin: 0px 0px 0px -15px;
}
.page__brand {
  padding: 50px 0px 90px 0px;
}
.brand-page__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  padding: 0px 0px 60px 0px;
  max-width: 1170px;
}
.brand-page__title span {
  font-family: 'MullerBold';
  font-weight: 700;
  color: #2a579c;
}
.brand-page__slider {
  position: relative;
  min-width: 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.brand-page__slider-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 253px;
  height: 160px;
  border: 1px solid #daeef2;
  cursor: pointer;
  padding: 10px 0;
}
.brand-page__slider-img img {
  object-fit: contain;
}
.brand-page__slider-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  padding: 0;
}
.brand-page__slider-btnprev {
  left: 0;
}
.brand-page__slider-btnnext {
  right: 0;
}
.brand-page__slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slick-dots {
  position: absolute;
  bottom: -43px;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots li {
  display: inline-block;
  margin: 0 6px;
  font-size: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #2a579c;
}
.slick-dots li button {
  background-color: transparent;
  border: 0;
}
.slick-dots li.slick-active {
  background-color: #1e95ca;
}
/*//////////////////////////////////////FOOTER/////////////////////////////////////////////*/
.footer {
  position: relative;
  background-color: #142d53;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 27px 0 40px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.footer__top a {
  color: #fff;
}
.footer__logo {
  display: block;
  position: relative;
}
.footer__logo img {
  width: 275px;
  height: 43px;
}
.logo__footer-span {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 100px;
  width: 180px;
  font-family: 'MullerRegular';
  font-weight: 300;
  font-size: 11px;
  color: #fff;
}
.footer__services-item {
  margin: 0px 0px 25px 0px;
}
.footer__services-link {
  position: relative;
}
.footer__column {
  margin: 0px 35px 0px 0px;
}
.footer__column:last-child {
  margin: 0px 0px 0px 0px;
}
.footer__navigation-item {
  margin: 0px 0px 25px 0px;
}
.footer__navigation-item:last-child {
  margin: 0px 0px 0px 0px;
}
.footer__social-img_vk {
  width: 17px;
  height: 9px;
}
.footer__social-img_inst {
  width: 16px;
  height: 16px;
}
.footer__social-img_vk,
.footer__social-img_inst {
  transition: all .3s;
}
.footer__social-item:hover .footer__social-img_vk,
.footer__social-item:hover .footer__social-img_inst {
  transform: scale(1.2);
}
.footer__street {
  margin: 0px 0px 25px 0px;
}
.footer__adress {
  margin: 0px 0px 30px 0px;
}
.footer__social-list {
  display: flex;
  align-items: center;
}
.footer__social-item {
  margin: 0px 12px 0px 0px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #4d5f7a;
}
.footer__line {
  position: absolute;
  bottom: 64px;
  width: 100%;
  height: 1px;
  background-color: #435775;
}
.footer__bottom {
  padding: 20px 0;
  max-width: 830px;
}
.footer__bottom-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__bottom-confidentiality,
.footer__bottom-copyright {
  margin: 0px 30px 0px 0px;
}
.footer__bottom-development {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 145px;
  margin: -3px 0px 0px 0px;
}
.footer__bottom a,
.footer__bottom-copyright {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}
.footer__navigation-link {
  position: relative;
}
.footer__navigation-link::before,
.footer__services-link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #fff;
  height: 1px;
  bottom: -5px;
  transition: all .3s;
}
.footer__navigation-link:hover::before,
.footer__services-link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}
/*//////////////////////////////////////BREADCRUMBS/////////////////////////////////////////////*/
.breadcrumbs {
  padding: 10px 0;
  border-bottom: 1px solid #E9EBEC;
}
.breadcrumbs__item {
  position: relative;
  margin: 0px 35px 0px 0px;
}
.breadcrumbs__item::before {
  position: absolute;
  content: "/";
  right: -20px;
  color: #ABB3B7;
}
.breadcrumbs__item:last-child::before {
  content: "";
}
.breadcrumbs__link {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ABB3B7;
}
.breadcrumbs__list {
  display: flex;
  overflow-x: auto;
  margin: 93px 0px 0px 0px;
}
/*//////////////////////////////////////SERVICES/////////////////////////////////////////////*/
.services-page {
  background-color: #f6f9fc;
  padding: 93px 0 60px;
}
.services-page__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 28px 0px;
}
.services-page__catalog {
  display: flex;
}
.services-page__item {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0px 50px 0px 0px;
}
.services-page__item:last-child {
  margin: 0px 0px 0px 0px;
}
.services-page__item-title {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.services-page__item-img {
  overflow: hidden;
  margin: 0px 0px 25px 0px;
  height: 274px;
  border-radius: 10px;
}
.services-page__item-img img {
  width: 348px;
  min-height: 274px;
  border-radius: 10px;
  object-fit: cover;
  transition: all .3s;
}
.services-page__item-btn:hover + .services-page__item-img img {
  transform: scale(1.05);
}
.services-page__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;
  padding: 0 10px;
  margin: 0 auto;
  order: 1;
}
/*//////////////////////////////////////INFORMATION/////////////////////////////////////////////*/
.page__information {
  padding: 48px 0 56px;
}
.page__information-title {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  margin: 0px 0px 10px 0px;
}
.page__information-text {
  max-width: 900px;
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
}
/*//////////////////////////////////////INFO-COMPANY/////////////////////////////////////////////*/
.page__company-info {
  background-color: #F6F9FC;
  padding: 50px 0 55px;
}
.info-company__title {
  font-family: 'MullerMedium';
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 25px 0px;
}
.info-company__text-box {
  max-width: 785px;
  font-size: 16px;
  line-height: 26px;
  margin: 0px 30px 0px 0px;
}
.info-company__text,
.info-company__text-list {
  max-width: 785px;
}
.info-company__img img {
  border-radius: 10px;
  width: 550px;
  height: 372px;
  object-fit: contain;
}
.info-company__inner {
  display: flex;
}
.info-company__text1,
.info-company__text-list,
.info-company__text-item {
  margin: 0px 0px 10px 0px;
}
.info-company__text-item:last-child {
  margin: 0px 0px 0px 0px;
}
.advantages.advantages-about {
  padding: 60px 0px 50px 0px;
}
.advantages__form.advantages__form-hidden {
  visibility: hidden;
}
/*//////////////////////////////////////PAGE-COMMAND/////////////////////////////////////////////*/
.page__command {
  padding: 0px 0px 60px 0px;
}
.page__command-title,
.page__command-text {
  font-family: 'MullerMedium';
  font-weight: 500;
}
.page__command-title {
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 5px 0px;
}
.page__command-text {
  font-size: 15px;
  line-height: 23px;
  max-width: 560px;
  margin: 0px 0px 36px 0px;
}
.page__command-box {
  display: flex;
}
.page__command-item {
  margin: 0px 30px 0px 0px;
}
.page__command-item:last-child {
  margin: 0px 0px 0px 0px;
}
.page__command-img {
  border-radius: 10px;
}
.brand-page.brand-page_about {
  background-color: #F6F9FC;
}
/*//////////////////////////////////////REWIEWS-PAGE/////////////////////////////////////////*/
.page__reviews {
  padding: 50px 0 100px;
}
.reviews-page__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 25px 0px;
}
.reviews-page__slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.reviews-page__slider-item {
  margin: 10px 0px 20px 0px;
  opacity: 0.3;
}
.reviews-page__slider .slick-track {
  margin-left: -300px;
}
.reviews-page__slider-item.slick-center,
.reviews-page__slider-item.slick-center + .reviews-page__slider-item {
  opacity: 1;
}
.reviews-page__slider-inner {
  display: flex;
  width: 550px;
  box-shadow: 0px 5px 20px rgba(216, 216, 216, 0.3);
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto;
}
.reviews-page__slider-box {
  margin: 0px 20px 0px 0px;
  flex: 0 0 100px;
}
.reviews-page__slider-img {
  padding: 5px 0;
  margin: 0px 0px 5px 0px;
}
.reviews-page__slider-img img {
  object-fit: contain;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.reviews-page__slider-date {
  display: block;
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ABB3B7;
  text-align: center;
}
.reviews-page__slider-comment {
  overflow-y: auto;
  height: 155px;
}
.reviews-page__slider-name {
  display: block;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0px 0px 10px 0px;
}
.reviews-page__slider-text {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.reviews-page__slider-btn {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  padding: 0;
}
.reviews-page__slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.reviews-page__slider-btnprev {
  left: 17%;
}
.reviews-page__slider-btnnext {
  right: 17%;
}
/*//////////////////////////////////////REFUELING-BANNER////////////////////////////////////*/
.banner-page.banner-page__refueling {
  padding: 60px 0 50px;
}
.banner-page.banner-page__refueling .banner-page__inner::before {
  display: none;
}
.banner-page.banner-page__refueling .banner-page__info-text {
}
.banner-page.banner-page__refueling .banner-page__info-text3 {
  font-size: 45px;
}
.banner-page__info-text.banner-page__info-text_refueling p:last-child {
  margin: 30px 0px 0px 0px;
}
.banner-page__info-price {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  background: url('../img/red-line-small.png') center no-repeat;
  padding: 15px 25px 10px;
  margin: 0px 0px 0px -20px;
}
.price {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 30px;
}
.banner-page.banner-page__refueling .banner-page__info {
  padding: 150px 0px 0px 145px;
}

/*//////////////////////////////////////REFUELING/////////////////////////////////////////////*/
.page__refueling {
  padding: 0px 0px 60px 0px;
}
.page__refueling-title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 20px 0px;
}
.page__refueling-inner {
  display: flex;
}
.page__refueling-text {
  max-width: 785px;
  margin: 0px 30px 0px 0px;
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.page__refueling-list,
.page__refueling-text p {
  max-width: 785px;
}
.page__refueling-item span {
  color: #ef4442;
}
.page__refueling-item {
  margin: 0px 0px 10px 0px;
}
.page__refueling-img img {
  object-fit: contain;
  border-radius: 8px;
}
/*//////////////////////////////////////INSTALLATION/////////////////////////////////////////////*/

.installation-page {
  padding: 50px 0 60px;
}
.installation-page__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 25px 0px;
}
.installation-page__inner {
  display: flex;
  justify-content: space-between;
}
.installation-page__item {
  display: flex;
  align-items: center;
  margin: 0px 15px 0px 0px;
}
.installation-page__item:last-child {
  margin: 0px 0px 0px 0px;
}
.installation-page__item-img {
  flex: 1 0 auto;
  margin: 0px 30px 0px 0px;
}
.installation-page__item-img img {
  width: 288px;
  height: 244px;
  object-fit: contain;
  border-radius: 8px 0px 0px 8px;
}
.installation-page__item-box {
  max-width: 320px;
}
.installation-page__item-title {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 10px 0px;
}
.installation-page__item-text {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 15px 0px;
}
.installation-page__item-text span {
  color: #ef4442;
}
.installation-page__item-text2 {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
}
.installation-page__item-price {
  font-family: 'MullerBold';
  font-weight: 700;
  color: #ef4442;
}
.advantages.advantages-refuelling {
  padding: 0px 0 60px;
}
/*//////////////////////////////////////DOCUMENTATION/////////////////////////////////////////////*/
.page__documentation {
  padding: 50px 0 35px;
  background-color: #f6f9fc;
}
.page__documentation-title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 35px 0px;
}
.page__documentation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page__documentation-item {
  background-color: #fff;
  padding: 25px;
  margin: 0px 14px 25px 0px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(216, 216, 216, 0.3);
}
.page__documentation-link img {
  transition: all .3s;
}
.page__documentation-item:hover .page__documentation-link img {
  transform: scale(1.05);
}

/*//////////////////////////////////////NEWS/////////////////////////////////////////////////*/
.news-page {
  background-color: #f6f9fc;
  padding: 50px 0 60px;
}
.news-page__title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 30px 0px;
}
.news-page__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-page__item {
  max-width: 434px;
  margin: 0px 6px 30px 0px;
  box-shadow: 0px 5px 20px rgba(216, 216, 216, 0.3);
  border-radius: 0px 0px 10px 10px;
}
.news-page__item-info {
  border-radius: 0px 0px 10px 10px;
}
.news-page__item-img img {
  width: 434px;
  height: 220px;
  object-fit: contain;
  border-radius: 10px 10px 0px 0px;
}
.news-page__item-info {
  background-color: #fff;
  padding: 25px 30px 30px;
}
.news-page__item-date {
  font-family: 'MullerRegular';
  font-weight: 400;
  display: block;
  font-size: 15px;
  line-height: 24px;
  color: #ABB3B7;
  margin: 0px 0px 5px 0px;
}
.news-page__item-title {
  display: block;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1B212B;
  margin: 0px 0px 10px 0px;
}
.news-page__item-text {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 15px 0px;
}
.news-page__item-more {
  position: relative;
  font-family: 'GothamProRegular';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #EB1C25;
  display: inline-block;
  border-bottom: 1px solid #EB1C25;
  transition: all .5s;
}
.news-page__item-more::after {
  content:"";
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('../img/icons/arrow-right.svg') 0 0 no-repeat;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.news-page__item-more:hover {
  border: transparent;
}
/*//////////////////////////////////////PAGINATION///////////////////////////////////////////*/
.pagination {
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__list {
  display: flex;
}
.pagination__list-num,
.pagination__arrow {
  font-family: 'MullerMedium';
  font-weight: 500;
  color: #433F4F;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  margin: 0 5px;
}
.pagination__arrow.pagination__arrow_disabled img {
  opacity: 0.3;
}
.pagination__list-num.pagination__list-num_active {
  background: #2A579C;
  color: #fff;
}
.pagination__list-num {
  transition: all .3s;
}
.pagination__list-num:hover {
  background: #2A579C;
  color: #fff;
}
/*//////////////////////////////////////ARTICLES/////////////////////////////////////////////*/
.articles-page {
  padding: 50px 0 60px;
}
.articles-page__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.articles-page__article {
  max-width: 898px;
}
.articles-page__article-title {
  font-family: 'MullerMedium';
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
  margin: 0px 0px 30px 0px;
}
.articles-page__article-img {
  position: relative;
  margin: 0px 0px 30px 0px;
}
.articles-page__article-img img {
  object-fit: contain;
  border-radius: 10px;
}
.articles-page__article-date {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  bottom: 0;
  right: 0;
  background: #2A579C;
  border-radius: 8px 0px;
  width: 80px;
  height: 83px;
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  overflow: hidden;
  padding: 5px 5px 5px 15px;
  text-align: left;
}
.articles-page__article-date span {
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}
.articles-page__article-box {
  margin: 0px 0px 20px 0px;
}
.articles-page__article-subtitle {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 28px;
  line-height: 50px;
  margin: 0px 0px 7px 0px;
}
.articles-page__article-subtitle_3 {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
}
.articles-page__article-text {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.articles-page__article-text_2 {
  margin: 0px 0px 18px 0px;
}
.articles-page__article-text_1 {
  margin: 0px 0px 17px 0px;
}
.articles-page__article-box_1 {
  margin: 0px 0px 14px 0px;
}
.articles-page__article-box_2 {
  margin: 0px 0px 5px 0px;
}
.articles-page__article-subtitle_2 {
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  margin: 0px 0px 5px 0px;
}
.articles-page__article-inner {
  display: flex;
  justify-content: space-between;
}
.articles-page__article-list {
}
.articles-page__article-item {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 18px 0px;
  max-width: 435px;
}
.articles-page__article-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  flex: 0 0 auto;
  background: #E0F6FF;
  color: #2389FC;
  border-radius: 50%;
  margin: 0px 15px 0px 0px;
}
.articles-page__article-item span img {
  width: 14px;
  height: 10px;
}
.articles-page__article-box_3 {
}
.sidebar-articles {
  padding: 30px;
  max-width: 435px;
  background: #F7F9FF;
  box-shadow: 0px 5px 20px rgba(216, 216, 216, 0.3);
  border-radius: 10px;
  flex: 0 0 auto;
  margin: 130px 0px 0px 0px;
}
.sidebar-articles__news {
}
.sidebar-articles__news-item {
  padding: 30px 0px 32px 0px;
  border-bottom: 1px solid #E9EBEC;
}
.sidebar-articles__news-item:first-child {
  padding: 0px 0px 32px 0px;
}
.sidebar-articles__news-item:last-child {
  padding: 30px 0px 0px 0px;
  border-bottom: 0;
}
.sidebar-articles__news-img {
  display: block;
  margin: 0px 0px 15px 0px;
}
.sidebar-articles__news-img {
  object-fit: contain;
}
.sidebar-articles__news-info {
}
.sidebar-articles__news-date {
  font-family: 'MullerRegular';
  font-weight: 400;
  display: block;
  font-size: 15px;
  line-height: 24px;
  color: #ABB3B7;
  margin: 0px 0px 5px 0px;
}
.sidebar-articles__news-title {
  display: block;
  font-family: 'MullerBold';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1B212B;
  margin: 0px 0px 10px 0px;
}
.sidebar-articles__news-text {
  font-family: 'MullerRegular';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 15px 0px;
}
.sidebar-articles__news-more {
  position: relative;
  font-family: 'GothamProRegular';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #EB1C25;
  display: inline-block;
  border-bottom: 1px solid #EB1C25;
  transition: all .5s;
}
.sidebar-articles__news-more::after {
  content:"";
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('../img/icons/arrow-right.svg') 0 0 no-repeat;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-articles__news-more:hover {
  border: transparent;
}
/*//////////////////////////////////////ADAPTIVE/////////////////////////////////////////////*/
@media (max-width: 1850px) {
  .reviews-page__slider-item.slick-center + .reviews-page__slider-item {
    opacity: 0.3;
  }
  .reviews-page__slider .slick-track {
    margin-left: 0px;
  }
  .reviews-page__slider-btnprev {
    left: 33%;
  }
  .reviews-page__slider-btnnext {
    right: 33%;
  }
}
@media (max-width: 1800px) {
  .main-page__img {
    object-fit: contain;
  }
  .main-page__img_bg1 {
    width: 388px;
    height: 544px;
  }
  .main-page__img_bg2 {
    width: 866px;
    height: 708px;
  }
  .main-page__features-wrapper {
    padding: 0px 0px 80px 0px;
  }
  .advantages__img {
    width: 45%;
    height: auto;
  }
  .reviews-page__slider .slick-track {
    margin-left: -425px;
  }
  .reviews-page__slider-btnprev {
    left: 20%;
  }
  .reviews-page__slider-btnnext {
    right: 25%;
  }
}
@media (max-width: 1650px) {
  .main-page__img_bg1 {
    width: 320px;
    height: 544px;
  }
  .main-page__img_bg2 {
    top: 163px;
    width: 662px;
    height: 708px;
  }
  .reviews-page__slider .slick-track {
    margin-left: -380px;
  }
}
@media (max-width: 1450px) {
  .reviews-page__slider .slick-track {
    margin-left: -340px;
  }
  .reviews-page__slider-btnprev {
    left: 25%;
  }
  .reviews-page__slider-btnnext {
    right: 27%;
  }
}
@media (max-width: 1366px) {
  .banner-page__info-list {
    display: block;
  }
  .banner-page__info-item {
    margin: 0px 0px 10px 0px;
  }
  .reviews-page__slider .slick-track {
    margin-left: -320px;
  }
  .reviews-page__slider-btnprev {
    left: 25%;
  }
  .reviews-page__slider-btnnext {
    right: 26%;
  }
}
@media (max-width: 1350px) {
  .main-page__img_bg1 {
    display: none;
  }
  .main-page__features-list {
    margin: 0px 0px 0px 0px;
  }
  .advantages__form {
    padding: 60px 20px 60px;
  }
  .advantages__form-input {
    width: 220px;
  }
  .banner-page__info {
    max-width: 530px;
  }
  .banner-page__info-text {
    max-width: 480px;
    margin: 0px 0px 55px 0px;
  }
  .banner-page__info-text p {
    font-size: 32px;
  }
  .banner-page__info-text1 {
    line-height: 50px;
  }
  .banner-page__info-text2 {
    line-height: 45px;
    background-size: contain;
    background-position: top;
  }
  .banner-page__info-text3 {
    font-size: 40px;
    line-height: 50px;
  }
  .reviews-page__slider .slick-track {
    margin-left: -300px;
  }
  .reviews-page__slider-btnprev {
    left: 23%;
  }
  .reviews-page__slider-btnnext {
    right: 24%;
  }
  .banner-page.banner-page__refueling .banner-page__info-text3 {
    font-size: 38px;
  }
  .banner-page.banner-page__refueling .banner-page__info {
    max-width: 700px;
  }
  .banner-page.banner-page__refueling .banner-page__info-text {
    max-width: 495px;
  }
  .news-page__item {
    max-width: 580px;
    margin: 0px 6px 30px 0px;
  }
  .news-page__item-img img {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 1250px) {
  .reviews-page__slider .slick-track {
    margin-left: 0;
  }
  .reviews-page__slider-btnprev {
    left: 20%;
  }
  .reviews-page__slider-btnnext {
    right: 21%;
  }
  .news-page__item {
    margin: 0px 5px 30px 0px;
  }
}
@media (max-width: 1200px) {
  .main-page__img_bg2 {
    top: 210px;
    width: 512px;
    height: 708px;
  }
  .main-page__features-wrapper {
    padding: 0px 0px 40px 0px;
  }
  .main-page__objects-title {
    text-align: center;
  }
  .objects-content__tab {
    align-items: flex-start;
  }
  .objects-content__img {
    padding: 20px 0px 0px 0px;
  }
  .objects-content__img img {
    width: 100%;
    height: auto;
  }
  .objects-content__text {
    padding: 20px 0px 20px 0px;
  }
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 25px;
    margin: 0px 0px 55px 0px;
  }
  .advantages__list-item {
    max-width: 100%;
  }
  .advantages__img {
    z-index: 0;
    width: 40%;
  }
  .advantages__form {
    position: relative;
    z-index: 0;
  }
  .advantages__list-item {
    position: relative;
    z-index: 1;
  }
  .banner-page__inner::before {
    display: none;
  }
  .page-features__item {
    max-width: 465px;
  }
  .page-features__item,
  .page-features__item:nth-child(3), 
  .page-features__item:last-child {
    margin: 0px 30px 40px 0px;
  }
  .info-company__img img {
    width: 100%;
    height: auto;
  }
  .banner-page.banner-page__refueling .banner-page__info {
    padding: 150px 0px 0px 35px;
  }
  .installation-page__inner {
    flex-wrap: wrap;
  }
  .installation-page__item {
    margin: 0px 0px 30px 0px;
  }
  .installation-page__item-box {
    max-width: 100%;
  }
  .news-page__item {
    max-width: 450px;
  }
  .news-page__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .brand-page__slider-img img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .5s;
  }
  .brand-page__slider-img:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
@media (max-width: 1024px) {
  .main-page {
    position: relative;
    padding: 125px 0px 65px 0px;
  }
  .main-page__img_bg2 {
    display: none;
  }
  .main-page__features-list {
    max-width: 100%;
  }
  .main-page__features-item:first-child, 
  .main-page__features-item:nth-child(2), 
  .main-page__features-item:last-child {
    width: 100%;
  }
  .main-page__title {
    font-size: 64px;
    text-align: center;
  }
  .main-page__title-text {
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    margin: 0px 0px 15px 0px;
  }
  .main-page__text {
    margin: 0px auto 25px auto;
  }
  .main-page__box {
    justify-content: center;
    margin: 0px 0px 25px 0px;
  }
  .main-page__features-wrapper {
    margin: 0 auto;
    max-width: 840px;
  }
  .main-page__form {
    margin: 0px 0px 25px 0px;
  }
  .input-form,
  .input-form::placeholder {
    font-size: 16px;
  }
  .advantages__img {
    display: none;
  }
  .banner-page__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1024px;
    padding: 35px 45px;
  }
  .banner-page__inner {
    display: block;
  }
  .banner-page__info-list {
    max-width: 315px;
  }
  .banner-page__info-text {
    margin: 0px 0px 15px 0px;
  }
  .banner-page__info-text p {
    flex: 0 0 700px;
  }
  .banner-page__info-text p,
  .banner-page__info-item {
    color: #1b212b;
  }
  .form-banner {
    max-width: 100%;
    height: 465px;
    margin: 0 45px 35px;
  }
  .banner-page__info-list,
  .banner-page__info-item:first-child,
  .banner-page__info-item:last-child {
    max-width: 100%;
  }
  .form-banner__label span {
    margin: 0px 5px 0px 0px;
  }
  .page-features__list {
    display: block;
  }
  .page-features__item,
  .page-features__item:nth-child(3), 
  .page-features__item:last-child {
    margin: 0px 0px 40px 0px;
  }
  .page-features__item {
    max-width: 100%;
  }
  .page-features__title {
    padding: 0px 0px 35px;
  }
  .banner-page {
    padding: 0px 0px 40px 0px;
  }
  .page-features__title {
    font-size: 34px;
    line-height: 40px;
    padding: 0px 0px 25px;
  }
  .page-features__item, 
  .page-features__item:nth-child(3), 
  .page-features__item:last-child {
    margin: 0px 0px 20px 0px;
  }
  .page__brand {
    padding: 20px 0px 70px 0px;
  }
  .brand-page__title {
    font-size: 34px;
    line-height: 46px;
    padding: 0px 0px 40px 0px;
  }
  .brand-page__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0px 0px 25px 0px;
  }
  .footer__column,
  .footer__column:last-child {
    flex: 0 0 305px;
    margin: 0px 35px 25px 0px;
  }
  .footer__top {
    justify-content: space-around;
  }
  .footer__navigation-item,
  .footer__street,
  .footer__services-link,
  .footer__services-item {
    margin: 0px 0px 15px 0px;
  }
  .footer__services-link:last-child {
    margin: 0px 0px 0px 0px;
  }
  .advantages__form.advantages__form-hidden {
    display: none;
  }
  .top-btn {
    bottom: 80px;
  }
  .reviews-page__slider-btnprev {
    left: 9%;
  }
  .reviews-page__slider-btnnext {
    right: 9%;
  }
  .brand-page.brand-page_about {
    padding: 40px 0px 70px 0px;
  }
  .banner-page.banner-page__refueling .banner-page__info {
    padding: 35px 45px;
  }
  .page__documentation-list {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .page__documentation-item {
    display: flex;
  }
}
@media (max-width: 940px) {
  .news-page__item {
    max-width: 100%;
    margin: 0px 0px 30px 0px;
  }
  .news-page__item-img img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 800px) {
  .header__phone,
  .header__call-me {
    display: none;
  }
  .header__phone-icon {
    display: block;
  }
  .main-page__title {
    font-size: 45px;
    line-height: 52px;
    text-align: center;
  }
  .main-page__title-text,
  .main-page__objects-title,
  .advantages__title,
  .page-features__title,
  .brand-page__title,
  .services-page__title,
  .info-company__title,
  .page__command-title,
  .reviews-page__title,
  .advantages__title,
  .page__refueling-title,
  .installation-page__title,
  .page__documentation-title,
  .news-page__title {
    font-size: 26px;
  }
  .objects-content__tab {
    flex-direction: column;
  }
  .objects-content__img {
    width: 100%;
    order: -1;
  }
  .objects-content__img img {
    width: 100%;
  }
  .advantages__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px 25px;
    margin: 0px 0px 30px 0px;
  }
  .main-page__features-item {
    margin: 0px 0px 20px 0px;
  }
  .main-page__features-wrapper {
    padding: 0px 0px 30px 0px;
  }
  .main-page {
    padding: 125px 0px 30px 0px;
  }
  .advantages {
    padding: 20px 0 20px;
  }
  .advantages__title {
    line-height: 30px;
  }
  .advantages__subtitle {
    margin: 0px 0px 25px 0px;
  }
  .advantages__list-title {
    margin: 0px 0px 10px 0px;
  }
  .services-page {
    padding: 30px 0 40px;
  }
  .services-page__item-title {
    font-size: 20px;
  }
  .services-page__title {
    margin: 0px 0px 20px 0px;
  }
  .page__information {
    padding: 20px 0 40px;
  }
  .page__information-title {
    font-size: 24px;
  }
  .info-company__inner {
    flex-wrap: wrap;
  }
  .info-company__img {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .info-company__text-box {
    order: 1;
  }
  .page__company-info {
    padding: 40px 0 45px;
  }
  .advantages.advantages-about {
    padding: 40px 0 20px;
  }
  .page__reviews {
    padding: 40px 0 70px;
  }
  .reviews-page__title {
    line-height: 34px;
  }
  .reviews-page__title {
    margin: 0px 0px 10px 0px;
  }
  .page__refueling-inner {
    flex-direction: column;
  }
  .page__refueling-text {
    order: 1;
    margin: 0px 0px 0px 0px;
  }
  .page__refueling-img {
    margin: 0px 0px 20px 0px;
  }
  .page__refueling-img img {
    width: 100%;
  }
  .page__documentation {
    padding: 40px 0 35px;
  }
  .news-page {
    padding: 40px 0 50px;
  }
}
@media (max-width: 700px) {
  .header .logo {
    display: none;
  }
  .logo-mobile {
    display: block;
    margin: 0px 25px 0px 0px;
  }
  .advantages__form-input {
    width: 100%;
    margin: 0px 0px 25px 0px;
  }
  .advantages__form-btn {
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .advantages__form {
    padding: 20px 20px 30px 20px;
  }
  .banner-page__info-text p {
    font-size: 30px;
  }
  .banner-page__info-text3 {
    font-size: 38px;
  }
  .footer__column:last-child {
    margin: 0px 35px 0px 0px;
  }
  .footer__bottom-confidentiality, 
  .footer__bottom-copyright,
  .footer__bottom-development {
    margin: 0px 30px 15px 0px;
  }
  .footer__line {
    display: none;
  }
  .footer__bottom {
    border-top: 1px solid #435775;
  }
  .services-page__item {
    margin: 0px 25px 0px 0px;
  }
  .reviews-page__slider-inner {
    display: block;
    width: 320px;
  }
  .reviews-page__slider-comment {
    height: auto;
  }
  .reviews-page__slider-img img {
    margin: 0 auto;
  }
  .page__command-box {
    position: relative;
    z-index: 1;
    overflow-x: scroll;
  }
  .page__command-item {
    flex: 0 0 205px;
  }
  .page__command-img {
    object-fit: contain;
  }
  .banner-page.banner-page__refueling .banner-page__info-text3 {
    font-size: 36px;
  }
  .page__refueling {
    padding: 0px 0px 30px 0px;
  }
  .installation-page {
    padding: 25px 0 60px;
  }
  .news-page__item-info {
    padding: 15px 10px;
  }
}
@media (max-width: 580px) {
  .form-page {
    display: block;
  }
  .form-page__input {
    height: 67px;
    width: 100%;
    margin: 0px 0px 25px 0px;
  }
  .form-page__btn {
    margin: 0px 0px 0px 0px;
  }
  .main-page__box {
    display: block;
    margin: 0px auto 50px auto;
  }
  .form-page .btn,
  .main-page__calculate-btn {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
  .main-page__objects-tabs {
    display: block;
  }
  .main-page__objects-tab {
    margin: 0px 0px 15px 0px;
    width: 100%;
  }
  .objects-content__btn {
    max-width: 100%;
    width: 100%;
  }
  .main-page__objects-title {
    line-height: 30px;
  }
  .banner-page__inner {
    background-image: none;
  }
  .banner-page__info {
    padding: 0px 20px 35px;
  }
  .form-banner {
    margin: 0;
  }
  .banner-page__info-text2 {
    background: none;
    padding: 0;
    margin: 0;
  }
  .banner-page__info-text p {
    font-size: 26px;
  }
  .banner-page__info-text3 {
    font-size: 36px;
  }
  .banner-page__info {
    padding: 0px 0px 20px 0px;
  }
  .form-banner {
    padding: 44px 30px 50px 30px;
  }
  .form-banner__input-btn {
    margin: 0px 0px 30px 0px !important;
  }
  .page-features__input {
    display: block;
    width: 100%;
    margin: 0px 0px 25px 0px;
  }
  .page-features__input-btn {
    width: 100%;
    max-width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .services-page__catalog {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services-page__item {
    margin: 0px 0px 30px 0px;
  }
  .page__information-title {
    line-height: 35px;
  }
  .banner-page__info-price {
    background: none;
  }
  .banner-page.banner-page__refueling .banner-page__info {
    padding: 0px 0px 35px 0px;
  }
  .installation-page__item {
    display: block;
    margin-right: 0;
  }
  .installation-page__item-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .installation-page__item-img {
    margin: 0px 0px 30px 0px;
  }
  .page__documentation-item {
    margin: 0px 0px 25px 0px
  }
}
@media (max-width: 430px) {
  .main-page__title {
    font-size: 38px;
    line-height: 43px;
  }
  .main-page__title-text,
  .banner-page__info-text p {
    font-size: 22px;
  }
  .advantages__form-btn {
    white-space: normal;
  }
  .banner-page__info-text3 {
    font-size: 32px;
  }
  .page-features__title {
    font-size: 26px;
  }
  .reviews-page__slider-inner {
    width: 100%;
  }
  .reviews-page__slider-item {
    opacity: 1;
    padding: 0 30px;
  }
  .reviews-page__slider-btnprev {
    left: 10px;
  }
  .reviews-page__slider-btnnext {
    right: 10px;
  }
  .banner-page.banner-page__refueling .banner-page__info-text3 {
    font-size: 32px;
  }
}
@media (max-width: 380px) {
  .header__box {
    display: none;
  }
  .main-page__title {
    font-size: 32px;
    line-height: 43px;
  }
  .main-page__title-text {
    font-size: 18px;
  }
  .banner-page__info-text p {
    font-size: 20px;
  }
  .banner-page__info-text3 {
    font-size: 30px;
  }
  .form-banner__text1 {
    font-size: 21px;
  }
  .form-banner {
    padding: 44px 20px 50px 20px;
  }
  .page-features__title {
    font-size: 22px;
    line-height: 30px;
  }
  .brand-page__title {
    font-size: 22px;
    line-height: 30px;
  }
  .footer__column,
  .footer__column:last-child {
    flex: 1 1 auto;
    margin: 0px 0px 25px 0px;
  }
  .footer__column:last-child {
    margin: 0px 0px 0px 0px;
  }
  .banner-page.banner-page__refueling .banner-page__info-text3 {
    font-size: 30px;
  }
}