@media (max-width: 1350px) {
  .ellipse-5::before,
  .ellipse-6::after {
    display: none;
  }
}

@media (max-width: 1240px) {
  .header-item__info {
    right: -40px;
  }
  .header-item__price {
    left: -10px;
  }
  .main__header-item {
    margin-left: 0;
  }
  .menu__list {
    margin-left: 23px;
    justify-content: space-around;
  }
  .page-social__title {
    width: 500px;
  }
  .page-social__info {
    margin-right: 41px;
  }
  .page-social__inner {
    justify-content: center;
  }
  .page-social__info {
    width: 475px;
    margin-right: 41px;
  }
  .discount-inner {
    display: block;
  }
  .discount-inner__form {
    text-align: center;
  }
  .discount-inner__text {
    font-size: 33px;
    line-height: 45px;
    margin: 0px auto 20px auto;
  }
  .discount__btn-subscription {
    position: relative;
    margin-bottom: 45px;
  }
  .discount__title {
    padding: 45px 0 15px 0;
    margin: 0 auto;
    max-width: 500px;
  }
  .discount-inner__form {
    margin-bottom: 0;
  }
  .slick-dots {
    text-align: center;
  }
  .slick-dots li{
    display: inline-block;
    padding: 0 5px;
  }

  .slick-dots button {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 0;
    width: 11px;
    height: 11px;
    background-color: #C4C4C4;
    padding: 0;
    margin: 0;
  }
  .product__slider .slick-dots .slick-active button {
    background-color: #D4B098;
    border: 1px solid #D4B098;
  }
  .product-item__wrapper, .product__slider-item {
    position: relative;
    margin-bottom: 15px;
  }
  .product-card__sliders {
    margin-right: 20px;
  }
}

@media (max-width: 1180px) {
  .products__popular-more{
    margin-right: 50px;
  }
  .products__popular-items {
    justify-content: space-around;
  }
  .products__popular-item:nth-child(2) {
    width: 560px;
    padding: 0 20px 0 50px;
  }
  .products__popular-item:nth-child(2) .products__popular-img::before {
    right: 30px;
}
  .product__slider-more {
    margin-left: auto;
  }
  .products__popular-item:nth-child(3), .products__popular-item:last-child {
    width: 464px;
    padding: 0 55px 0 190px;
  }
  .main__header, 
  .catalog__header,
  .page-section,
  .page-social {
    margin-bottom: 40px;
  }
  .page-section__slider {
    margin-right: 45px;
  }
  .products {
    margin-bottom: 40px;
  }
  .page-social__title {
    padding-top: 0;
  }
  .page-social__text {
    padding-top: 20px;
  }
  .page-social__list {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .product-item__wrapper,
  .product__slider-item {
    margin-right: 15px;
  }
  .product-item__banner {
    margin-right: 15px;
  }
  .catalog__inner-list {
    justify-content: space-around;
  }
  .product__slider-items .product-item__favorite {
    left: 300px;
  }
  .product__slider-items .product-item__basket {
    left: 335px;
  }
  .product-card__tab {
    font-size: 15px;
    line-height: 22px;
  }
  .tab-content__text {
    width: 380px;
    font-size: 12px;
  }
  .product-card__inner {
    flex-wrap: wrap;
  }
  .product-card__content {
    margin: 30px auto 0 auto;
  }
  .product-card__sliders {
    margin: 0 auto;
  }
  .product-card {
    margin-bottom: 40px;
  }
}

@media (max-width: 1050px) {
  .header-item__img {
    width: 100%;
  }
  .header-item__info {
    right: 425px;
    width: 130px;
  }
  .header-item__line::before {
    left: 15px;
  }
  .sl-count {
    position: absolute;
    left: 480px;
    top: 56%;
  }
  .page-section__description {
    margin-left: 40px;
  }
  .page-social__info {
    margin-right: 0;
  }
  .product__slider-item,
  .product-item__banner {
    margin-bottom: 20px;
  }
  .catalog,
  .discount {
    margin-bottom: 40px;
  }
  .product-card__price {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #686868;
    margin-bottom: 20px;
  }
}

@media (max-width: 1007px) {
  .products__popular-items {
    justify-content: space-around;
  }
  .main__header-item::before {
    display: none;
  }
  .products-info {
    margin-left: 66px;
    margin-top: 67px;
  }
  .products-info h2 {
    font-size: 35px;
    line-height: 45px;
    margin-right: 120px;
  }
  .products-info h2::before {
    top: 24px;
  }
  .products-info h2 {
    min-width: 270px;
  }
  .menu__list {
    margin-left: 70px;
    justify-content: start;
  }
  .menu__list-item {
    margin-right: 25px;
  }
  .header-item__price {
    left: -45px;
  }
  .header-item__info {
    right: 415px;
  }
  .products__popular-item:first-child .products__popular-img::before {
    background: url("../images/Ellipse4.png");
    background-repeat: no-repeat;
    height: 225px;
    width: 225px;
    top: 10px;
  }
  .products__popular-item:nth-child(2) .products__popular-img::before {
    background: url("../images/Ellipse4.png");
    background-repeat: no-repeat;
    top: 10px;
    left: 0;
    height: 225px;
  }
  .products__popular-item:first-child,
  .products__popular-item:nth-child(2),
  .products__popular-item:nth-child(3),
  .products__popular-item:last-child {
    width: 360px;
    min-height: 234px;
    padding: 0;
    margin-bottom: 20px;
    padding: 0 20px 0 120px;
  }
  .products__popular-item:first-child .products__popular-img img,
  .products__popular-item:nth-child(2) .products__popular-img img {
    padding-top: 20px;
    width: 200px;
  }

  .products__popular-item:nth-child(2) .products__popular-itemtitle {
    font-size: 14px;
    line-height: 24px;
  }
  .products__popular-item:nth-child(2) .products__popular-price {
    font-size: 12px;
    line-height: 16px;
  }
  .products__popular-item:nth-child(2) .products__popular-line::before {
    width: 30px;
    left: -45px;
  }
  .products__popular-item:first-child .products__popular-text,
  .products__popular-item:nth-child(2) .products__popular-text,
  .products__popular-item:nth-child(3) .products__popular-text, 
  .products__popular-item:last-child .products__popular-text {
    bottom: 20px;
    left: 65px;
  }
  .products__popular-item:nth-child(2) .products__popular-unit img{
    width: 8px;
    height: 10px;
  }
  .products__popular-title {
    font-size: 30px;
    line-height: 40px;
  }
  .products__popular-item:first-child .products__popular-itemtitle,
  .products__popular-item:nth-child(2) .products__popular-itemtitle,
  .products__popular-item:nth-child(3) .products__popular-itemtitle, 
  .products__popular-item:last-child .products__popular-itemtitle {
    top: 20px;
    left: 20px;
  }
  .products__popular-item:first-child .products__popular-price,
  .products__popular-item:nth-child(2) .products__popular-price,
  .products__popular-item:nth-child(3) .products__popular-price, 
  .products__popular-item:last-child .products__popular-price {
    top: 50px;
    left: 20px;
  }
  .products__popular-item:last-child {
    max-height: 235px;
  }
  .products__popular-item {
    margin-right: 15px;
  }
}

@media (max-width: 940px) {
  .header-item__info {
    right: 375px;
  }
  .header-item__price {
    left: -65px;
  }
  .footer-inner {
    justify-content: center;
  }
}

@media (max-width: 909px) {
  .footer-item:nth-child(2) {
    margin-bottom: 20px;
  }
  .pagination {
    justify-content: center;
    margin-left: 0;
  }
}

@media (max-width: 882px) {
  main__header-bottom {
    flex-wrap: wrap;
  }
  .header-item__price,
  .header-item__info {
    display: none;
  }
  .products-info h2 {
    margin-right: 0;
  }
  .menu__list {
    margin-left: 25px;
  }
  .header-item__img {
    margin-left: 15px;
  }
  .product-item__wrapper {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .menu__btn {
    display: block;
  }
  .main__header-logo {
    margin-left: 25px;
  }
  .header-item__img {
    margin-top: 100px;
  }
  .page-section__slider {
    margin-right: 0;
    margin-left: 40px;
  }
  .sl-count {
    left: 442px;
  }
  .products__popular-items {
    flex-wrap: wrap;
  }
  .page-social__gallery-item:first-child {
    padding-bottom: 6px;
    padding-right: 0;
  }
  .page-social__gallery-item {
    width: 30%;
  }
  .page-social__gallery-item img {
    width: 100%;
  }
  .page-social__gallery {
    flex-direction: row;
    justify-content: space-around;
    width: 635px;
    height: auto;
  }
  .page-social__gallery-item:last-child {
    width: 23%;
  }
  .catalog__menu-list {
    justify-content: center;
  }
  .catalog__menu-list--item {
    margin-right: 30px;
  }
  .catalog__menu-list--item:last-child {
    margin-right: 0;
  }
  .mobile-overflow {
    width: 1000px; /*скролл для хлебных крошек*/
  }
  .breadcrumbs__inner {
    overflow-x: scroll; /*скролл для хлебных крошек*/
  }
  .discount__ellipse {
    display: none;
  }
  .product__slider-item .product-item {
    width: 98%;
  }
  .product__slider-items .product-item__favorite {
    left: -90px;
  }
  .product__slider-items .product-item__basket {
    left: -55px;
  }
  .products__popular-item:first-child,
  .products__popular-item:nth-child(2),
  .products__popular-item:nth-child(3),
  .products__popular-item:last-child {
    flex: 0 0 100%;
    padding: 0;
    margin-right: 0;
  }
  .products__popular-img {
    display: flex;
    justify-content: center;
  }
  .products__popular-img::before {
    left: 50% !important;
    transform: translateX(-50%);
  }
  .products__popular-more {
    margin-right: 0;
  }
  .menu-mobile__list.menu-mobile__list--active {
    overflow-y: scroll;
    height: 100%;
    z-index: 10;
    opacity: 1;
    visibility: visible;
  }
  .menu__list {
    display: none;
  }
}

@media (max-width: 620px) {
  .header-item__img {
    display: none;
  }
  .page-section__slider {
    max-width: 100%;
  }
  .page-section__slider-img {
    max-width: 100%;
  }
  .products__popular-more {
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
  }
  .page-section__slider {
    max-width: 86%;
    margin-right: 0;
  }
  .sl-count {
    left: 90px;
    top: 55%;
  }
  .page-section__inner::before {
    display: none;
  }
  .catalog__menu-list {
    display: none;
  }
  .menu.menu--catalog {
    display: block;
  }
  .catalog__header-logo {
    padding-top: 5px;
    margin-left: 25px;
  }
  .user-list__catalog {
    padding-top: 5px;
  }
  .user-list.user-list__catalog {
    margin-left: auto;
  }
  .catalog__wrapper {
    display: block;
  }
  .catalog__title {
    margin-bottom: 20px;
  }
  .catalog__filter-btn {
    margin-bottom: 30px;
  }
  .catalog__filter-btn,
  .aside-filter__content {
    position: relative;
    z-index: 0;
  }
  .catalog__inner {
    display: block;
  }
  .catalog__aside {
    margin-right: 0;
  }
  .aside__btn {
    display: block;
    text-align: center;
  }
  .catalog__aside {
    display: none;
  }
  .filter-btn__reset {
    margin-bottom: 40px;
  }
  .product-item__wrapper, .product__slider-item, .product-item__banner {
    margin-right: 13.5px;
  }
  .product-item__wrapper-catalog {
    margin-right: 0;
  }
  .main__header-bottom {
    justify-content: center;
    text-align: center;
  }
  .catalog-btn {
    margin-bottom: 70px;
  }
  .social-list {
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    width: 80px;
  }
  .products-info {
    margin-left: 0;
  }
  .product__slider-item .product-item {
    width: 97%;
  }
}

@media (max-width: 591px) {
  .product-card__slider2 {
    width: 420px;
  }
  .card-slider1-img {
    width: 97%;
  }
  .product-card__content {
    padding: 25px 0px 25px 40px;
  }
  .product-card__content .product-item__favorite::before {
    top: -25px;
  }
  .product-card__slider1 {
    margin: 0 auto;
    width: 370px;
  }
}


@media (max-width: 560px) {
  .sl-count {
    top: 52%;
  }
  .page-social__title,
  .page-social__text  {
    width: 310px;
  }
  .products__popular-item:first-child::before {
    width: 225px;
    height: 225px;
    right: 15px;
  }
  .page-social__info {
    margin-left: 30px;
  }
  .page-social__text {
    font-size: 14px;
    line-height: 20px;
  }
  .page-social__title {
    font-style: 30px;
    line-height: 40px;
  }
  .footer-list {
    display: block;
  }
  .products__popular-item {
    margin-right: 0;
  }
  .catalog__inner-list {
    justify-content: center;
  }
  .discount-inner__text {
    font-size: 26px;
    line-height: 35px; 
  }
  .discount::before {
    display: none;
  }
  .product-card__title {
    width: 360px;
  }
  .tab-content__text {
    width: 290px;
  }
}

@media (max-width: 529px) {
  .discount-inner__form {
    text-align: left;
  }
  .discount-inner__form-input {
    margin-bottom: 20px;
  }
  .products__popular-img::before {
    display: none;
  }
}

@media (max-width: 469px) {
  .products-info h2::before {
    display: none;
  }
  .sl-count {
    top: 49%;
  }
  .page-section__slider {
    margin-left: 20px;
  }
  .page-section__description {
    margin-left: 20px;
  }
  .page-section__description-title {
    padding-top: 58px;
    font-size: 30px;
  }
  .page-section__description-text {
    font-size: 14px;
    line-height: 20px;
    width: 350px;
  }
  .page-social__title {
    font-size: 28px;
    line-height: 38px;
  }
  .page-social__title, .page-social__text {
    width: 278px;
  }
  .page-social__info {
    margin-left: 20px;
  }
  .footer__contacts {
    margin-bottom: 25px;
  }
  .footer-item {
    width: 100%;
    margin: 0;
  }
  .footer__contacts {
    text-align: center;
  }
  .footer-list {
    display: none;
    padding-bottom: 15px;
  }
  .footer-item__title {
    padding-bottom: 0;
  }
  .footer-item {
    border-top: 1px solid #fff;
  }
  .footer-item:last-child {
    border-bottom: 1px solid #fff;
  }
  .footer-item__title.footer__drop {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
  }
  .footer__drop {
    position: relative;
    pointer-events: auto; /*Включение выпадания списка*/
  }
  .footer__drop::before {
    content: "";
    position: absolute;
    background-image: url('../images/arrow-down-white.svg');
    width: 11px;
    height: 11px;
    top: 20px;
    right: 1px;
    background-repeat: no-repeat;
  }
  .footer__drop--active::before {
    transform: rotate(180deg);
    top: 15px;
  }
  .footer-item:nth-child(2) {
    margin-bottom: 0;
  }
  .card-slider1-img {
    width: 100%;
  }
  .product-card__slider1 {
    width: 211px;
}
  .product-card__slider2 {
    width: 290px;
  }
  .product-card__tab {
    margin-right: 10px;
  }
  .product-card__content {
    padding: 10px 0px 25px 20px;
  }
  .product-card__content .product-item__favorite::before {
    top: -40px;
  }
  .product-card__title {
    width: 265px;
  }
  .product-card__tab-content {
    min-height: 310px;
  }
  .product__slider-item .product-item {
    width: 97%;
  }
}

@media (max-width: 390px) {
  .products-info {
    margin-left: 0px;
    margin-top: 40px;
  }
  .products-info__title {
    margin-bottom: 15px;
  }
  .products-info__text {
    margin-bottom: 30px;
  }
  .products__popular-img {
    justify-content: flex-end;
  }
  .page-section__description-title {
    padding-bottom: 20px;
    font-size: 28px;
    width: 277px;
  }
  .page-section__description-text {
    font-size: 14px;
    line-height: 20px;
    width: 255px;
  }
  .sl-count {
    top: 44%;
  }
  .discount-inner__form-input {
    margin-right: 0;
  }
  .product-card__slider2 {
    width: 280px;
  }
  .tab-content__text {
    width: 258px;
  }
  .product-card__tab {
    font-size: 13px;
  }
  .product-card__tab-content {
    min-height: 330px;
  }
  .product__slider-item .product-item {
    width: 95%;
  }
}
