html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

body.noscroll {
  overflow: hidden;
}

.container-header {
  max-width: 1285px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main__header,
.catalog__header {
  position: relative;
  padding-top: 30px;
  margin-bottom: 80px;
  background-color: #FDFDFB;
  z-index: 2;
}

.catalog__header {
  background-color: #fff;
  margin-bottom: 60px;
}

.menu__btn {
  z-index: 10;
  position: relative;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
}

.menu__btn.menu__btn--active {
  position: relative;
  z-index: 20;
}

.menu__btn-line {
  width: 18px;
  height: 1px;
  border-radius: 1px;
  background-color: #1B1A17;
  margin: 8px 0;
  opacity: 1;
  transition: opacity 1s;
}

.btn-line-1, 
.btn-line-3 {
  transition: transform .3s;
}

.menu__btn.menu__btn--active .btn-line-2 {
  opacity: 0;
  transition: opacity 0s;
}

.menu__btn.menu__btn--active .btn-line-1 {
  transform: translateY(10px) rotate(-135deg);
}

.menu__btn.menu__btn--active .btn-line-3 {
  transform: translateY(-8px) rotate(135deg);
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
  margin-left: 93px;
  transform: translateY(-60px);
  width: 430px;
}

.catalog__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  margin: 0 auto;
}

.menu__list-active {
  transform: translateY(0);
}

.menu__list-item,
.catalog__menu-list--item {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}

.catalog__menu-list--item {
  margin-right: 0;
}

.catalog__menu-list--item.catalog__menu-list--itemactive {
  color: #A69876;
}

.catalog__menu-list--itemactive a:before {
  display: none;
}

.menu__list-item a::before,
.catalog__menu-list--item a:before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  right: 0;
  background-color: #8B8371;
  height: 1px;
  bottom: -2px;
  transition: all .3s;
}

.menu__list-item a:hover::before,
.catalog__menu-list--item a:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.main__header-top,
.catalog__header-inner {
  display: flex;
  position: relative;
  z-index: 3;
}

.main__header-bottom {
  display: flex;
}

.user-list {
  display: flex;
  margin-left: auto;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

.user-list.user-list__catalog {
  margin-left: 0;
}

.hearth,
.basket {
  position: relative;
  display: inline-block;
}

.hearth__num,
.basket__num {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #1B1A17;
  font-size: 8px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background-color: #E6C8B4;
  text-align: center;
  line-height: 12px;
  top: -4px;
  right: -7px;
}

.main__header-logo {
  margin-left: 25px;
}

.catalog__header-logo {
  margin: 0;
}

.main__header-logo img {
  padding-top: 5px;
}

.header-item__img {
  position: relative;
  z-index: 2;
}

.main__header-item {
  position: relative;
  margin-top: -65px;
  margin-left: 140px;
}

.main__header-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url('../images/Ellipse.png');
  background-repeat: no-repeat;
  width: 500px;
  height: 768px;
  left: -193px;
  top: 0;
}

.social-list {
  align-self: center;
  text-align: center;
}

.social-list__item {
  position: relative;
  z-index: 5;
  margin-bottom: 13px;
}

.products-info {
  position: relative;
  z-index: 3;
  margin-top: 180px;
  margin-left: 112px;
}

.products-info h2 {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 45px;
  line-height: 60px;
  color: #1B1A17;
  margin-bottom: 10px;
}

.products-info h2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 33px;
  left: -65px;
  background-repeat: no-repeat;
}

.products-info__title {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #1B1A17;
  margin-bottom: 40px;
}

.products-info__text {
  width: 258px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 65px;
}

.catalog-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 26px 38px;
  background-color: #444240;
}

.header-item__price {
  position: absolute;
  z-index: 2;
  top: 140px;
  left: -75px;
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.header-item__unit {
  position: relative;
  margin-left: 5px;
}

.header-item__unit::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  top: 9px;
  left: 25px;
  background-repeat: no-repeat;
}

.header-item__info {
  position: absolute;
  z-index: 2;
  bottom: 140px;
  right: -95px;
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.header-item__line {
  position: relative;
}

.header-item__line::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 1px;
  top: 10px;
  left: -185px;
  background-color: #8B8371;
  background-repeat: no-repeat;
}

.products {
  margin-bottom: 80px;
}

.products__popular-title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  text-align: center;
}

.products__popular-more,
.product__slider-more {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.product__slider-item .product-item__favorite {
  right: 80px;
  top: 37px;
}

.products__popular-more {
  display: block;
  text-align: right;
  margin-bottom: 30px;
}

.products__popular-more::before,
.product__slider-more::before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  height: 1px;
  width: 102px;
  background-color:#C4C0B6;
}

.products__popular-items {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__popular-item {
  background-color: #FDFDFB;
  position: relative;
  z-index: 1;
}

.products__popular-itemtitle, 
.products__popular-price {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 150px;
}

.products__popular-itemtitle {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
}

.products__popular-price {
  top: 75px;
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}

.products__popular-text {
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
}

.products__popular-item:first-child {
  width: 370px;
  padding: 90px 30px 65px 30px;
}

.products__popular-item:nth-child(2) {
  width: 760px;
  padding: 0 40px 0 200px;
}

.products__popular-item:first-child,
.products__popular-item:nth-child(2) {
  min-height: 478px;
  margin-bottom: 40px;
}

.products__popular-item:nth-child(3),
.products__popular-item:last-child {
  width: 565px;
  padding: 0 115px 0 230px;
  min-height: 234px;
}

.products__popular-item .products__popular-line::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -45px;
  width: 30px;
  height: 1px;
  background-color: #8B8371;
  background-repeat: no-repeat;
}


.products__popular-item:nth-child(2) 
.products__popular-line::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -66px;
  width: 50px;
  height: 1px;
  background-color: #8B8371;
  background-repeat: no-repeat;
}


.products__popular-item:nth-child(2) .products__popular-itemtitle {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  top: 55px;
  left: 55px;
}

.products__popular-item:nth-child(2) .products__popular-price {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(27, 26, 23, 0.82);
  top: 85px;
  left: 55px;
}

.products__popular-item:first-child .products__popular-text,
.products__popular-item:nth-child(3) .products__popular-text,
.products__popular-item:last-child .products__popular-text {
  bottom: 40px;
  left: 90px;
}

.products__popular-item:nth-child(2) .products__popular-text {
  bottom: 50px;
  left: 120px;
}

.products__popular-img {
  position: relative;
}

.products__popular-item .products__popular-img::before {
  content: "";
  position: absolute;
  z-index: -1;
}

.products__popular-item:nth-child(2) .products__popular-img::before {
  background: url("../images/Ellipse2.png");
  width: 239px;
  height: 467px;
  right: 60px;
  top: 0;
  background-repeat: no-repeat;
}

.products__popular-item:first-child .products__popular-img::before {
  background: url("../images/Ellipse3.png");
  width: 315px;
  height: 315px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.products__popular-item:nth-child(3) .products__popular-img::before,
.products__popular-item:last-child .products__popular-img::before {
  background: url("../images/Ellipse4.png");
  width: 225px;
  height: 225px;
  top: 10px;
  left: 0;
  background-repeat: no-repeat;
}

.page-section {
  margin-bottom: 80px;
}

.page-section__inner {
  position: relative;
  background-color: #FDFDFB;
  padding: 52px 0 52px;
}


.page-section__inner::before {
  content:"";
  position: absolute;
  background-color: #F7F5EF;
  margin-left: auto;
  width: 35%;
  height: 519px;
  top: 0;
  left: 0;
}

.page-section__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.page-section__slider {
  max-width: 520px;
  margin-left: 80px;
  margin-right: 70px;
}

.sl-count {
  position: absolute;
  left: 480px;
  bottom: -35px;

}

.sl-count__current {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}

.page-section__slider-btn {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 5;
  bottom: -35px;
}

.page-section__slider-btnprev {
  right: 138px;
}

.page-section__slider-btnnext {
  right: 80px;
}

.page-section__description-title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  padding-top: 88px;
  padding-bottom: 38px;
  width: 350px;
}

.page-section__description-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #444240;
  width: 376px;
  padding-bottom: 45px;
}

.page-section__description-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background-color: #D4B098;
  padding: 26px 38px;
}

.ellipse-5::before {
  content: "";
  position: absolute;
  width: 223px;
  height: 223px;
  background: url('../images/Ellipse5.png');
  top: -5px;
  right: 0;
  background-repeat: no-repeat;
}

.ellipse-6::after {
  content: "";
  position: absolute;
  width: 226px;
  height: 481px;
  background: url('../images/Ellipse6.png');
  top: -13px;
  right: -367px;
  background-repeat: no-repeat;
  top: 40px;
  right: 0;
}

.page-social {
  margin-bottom: 80px;
}

.page-social__inner {
  display: flex;
  flex-wrap: wrap;
}

.page-social__info {
  width: 475px;
  margin-right: 60px;
}

.page-social__title {
  width: 471px;
  padding-top: 140px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.page-social__text {
  width: 380px;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
}

.page-social__list {
  display: flex;
  padding-top: 50px;
  width: 95px;
  justify-content: space-between;
  align-items: center;
}

.page-social__gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 635px;
  height: 465px;
}

.page-social__gallery-item:first-child {
  padding-bottom: 5px;
  padding-right: 5px;
}

.footer {
  background-color: #444240;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__contacts,
.footer-item {
  width: 200px;
  margin-right: 20px;
}

.footer-item {
  margin-top: 15px;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer__contacts-phone {
  padding-bottom: 10px;
}

.footer__contacts-phone,
.footer__contacts-email,
.footer-list__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
  padding-left: 5px;
}

.footer-item__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.footer-list__item {
  padding-left: 0;
  padding-bottom: 15px;
}

.footer-list__item:last-child {
  padding-bottom: 0;
}

.page-social__list-item {
  padding-right: 18px;
}

.page-social__list-item a,
.social-list__item a,
.footer-list__item a,
.footer__contacts-phone,
.footer__contacts-email,
.catalog-btn,
.page-section__description-btn,
.products__popular-item,
.menu__list {
  transition: all .3s;
}

.page-social__list-item a:hover,
.social-list__item a:hover {
  transform: scale(1.2);
  position: relative;
}

.footer-list__item a:hover,
.footer__contacts-phone:hover,
.footer__contacts-email:hover {
  color: #E6C8B4;
}

.page-section__description-btn:hover,
.aside__btn:hover {
  box-shadow: 5px 5px 5px 2px  rgba(50, 50, 50, 0.25);
}

.catalog-btn:hover {
  box-shadow: 5px 5px 5px 2px  rgba(50, 50, 50, 0.35);
}

.products__popular-item:hover {
  box-shadow: 0 0 15px rgba(50, 50, 50, 0.25);
}

.breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs__inner {
  margin-left: 3px;
}

.breadcrumbs__list-item {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #B3B3B3;
  }

.breadcrumbs__list-item::after {
  content:"";
  position: absolute;
  right: 10px;
  background-image: url('../images/breadcrumbs-arrow.svg');
  background-repeat: no-repeat;
  width: 6px;
  height: 10px;
  bottom: 3px;
}

.breadcrumbs__list-item:last-child {
  color: #555248;
}

.breadcrumbs__list-item:last-child::after {
  display: none;
}

.catalog {
  margin-bottom: 80px;
}

.catalog__title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  margin-bottom: 40px;
}

.catalog__aside {
  min-width: 230px;
  margin-right: 93px;
}

.aside-filter__item-drop {
  margin-bottom: 20px;
}

.aside-filter__item-drop:nth-child(5) {
  margin-bottom: 35px;
}

.aside-filter__item-drop:last-child {
  margin-bottom: 0;
}

.aside-filter__item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #444240;
}

.aside-filter__content-label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0;
  color: #6F6E6D;
}

.aside-filter__content {
  padding-top: 20px;
}

.aside-filter__content-box {
  padding-bottom: 20px;
}

.aside-filter__content-box label {
  cursor: pointer;
}

.filter__item-drop {
  position: relative;
  cursor: pointer;
}

.filter__item-drop::after {
  content: "—";
  position: absolute;
  top: 0;
  right: 0;
}

.filter__item-drop--active::after {
  content: "";
  position: absolute;
  background-image: url('../images/plus.svg');
  width: 11px;
  height: 10px;
  top: 0;
  right: 0;
}

.aside-filter__content.aside-filter__content-closed {
  display: none;
}

.filter-btn__reset {
  padding: 24px 51px;
  border: 2px solid #E7E0CF;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1D1A1A;
  cursor: pointer;
  transition: all .3s;
}

.filter-btn__reset:hover {
  box-shadow: 5px 5px 5px 2px rgba(50, 50, 50, 0.25);
}

.irs-with-grid .irs-grid{
  display: none;
}

.irs-from, 
.irs-to, 
.irs-single {
  top: 20px;
}

.irs--flat .irs-from::before, .irs--flat .irs-to::before, .irs--flat .irs-single::before {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(27, 26, 23, 0.82);
  background-color: transparent;
}

.irs--flat .irs-from::after, .irs--flat .irs-to::after, .irs--flat .irs-single::after {
  content: "";
  position: absolute;
  background-image: url('../images/ruble-litle.svg');
  width: 12px;
  height: 12px;
  top: 2px;
  right: -12px;
  background-repeat: no-repeat;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-line {
  top: 10px;
  height: 1px;
  background-color: #D4D4D4;
}

.irs--flat .irs-bar {
  top: 10px;
  height: 1px;
  background-color: #1B1A17;
}

.irs--flat .irs-handle > i:first-child {
  background-color: #FFFFFF;
  border: 1px solid #1B1A17;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: -4px;
  top: -16px;
}

.irs--flat .irs-handle.state_hover > i:first-child, .irs--flat .irs-handle:hover > i:first-child {
  background-color: #fff;
}

.aside-filter__item-drop:first-child {
  margin-bottom: 20px;
}

.jq-checkbox {
  border-radius: 0;
}

.jq-checkbox, .jq-radio {
  vertical-align: -4px;
  width: 13px;
  height: 13px;
  margin: 0 16px 2px 0;
  border: 1px solid #909090;
  background: transparent;
  box-shadow: none;
  background-color: #fff;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 7px;
  height: 6px;
  margin: 3px 0 0 2px;
  border-bottom: none;
  border-left: none;
  transform: rotate(0);
  background-image: url('../images/checked.svg');
}

.jq-checkbox.focused, .jq-radio.focused {
  border: 1px solid #909090;
}

.jq-checkbox.checked,
.jq-radio.checked {
  background-color: #6F6E6D;
  border: 1px solid #6F6E6D;
}

.jq-radio.checked .jq-radio__div {
  width: 14px;
  height: 14px;
  margin: -1px;
  border-radius: 50%;
  box-shadow: none;
  background: none;
}

.catalog__wrapper {
  display: flex;
}

.catalog__filter-btn {
  margin-left: auto;
  margin-top: 7px;
}

.catalog__filter-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #BDB9B5;
}

.jq-selectbox__select-text {
  overflow: visible;
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 22px 0 10px;
  border: none;
  border-bottom-color: none;
  border-radius: none;
  background: none;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1B1A17;
  text-shadow: none;
  margin-bottom: 2px;
  text-transform: lowercase;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox__select:hover {
  background: none;
}

.jq-selectbox__select:active {
  box-shadow: none;
}

.jq-selectbox li:hover {
  background-color: #6F6E6D;
}

.jq-selectbox li.selected {
  background-color: #6F6E6D;
  color: #FFF;
}

.jq-selectbox__dropdown {
  border: 1px solid #CCC;
  border-radius: 0;
  background: #FFF;
  box-shadow: none;
  top: 30px;
}

.jq-selectbox__trigger {
    background-image: url('../images/arrow-down.svg');
    border-left: none;
    background-repeat: no-repeat;
    top: 13px;
    right: 0;
    width: 11px;
    height: 11px;
}

.jq-selectbox__trigger-arrow {
  border: none;
}

.catalog__inner {
  display: flex;
}

.product-item__wrapper {
  width: 250px;
}

.product-item__wrapper,
.product__slider-item {
  position: relative;
  margin-bottom: 40px;
}

.product-item__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #444240;
  margin-bottom: 5px;
}

.product-item__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #636261;
}

.product-item__title,
.product-item__price {
  width: 165px;
}

.product-item {
  width: 100%;
  min-height: 312px;
  background-color: #FDFDFB;
  transition: all .3s;
  outline: none;
  padding: 20px 20px 0 20px;
}

.product-item__img {
  display: flex;
  justify-content: center;
}

.product-item__img img {
  width: auto;
}

.product-item__favorite, 
.product-item__basket {
  position: absolute;
}

.product-item__basket {
  right: 20px;
  top: 20px;
  width: 20px;
  height: 18px;
  background: transparent url('../images/basket.svg') center no-repeat;
  border: none;
  cursor: pointer;
}

.product-item__favorite {
  right: 54px;
  top: 20px;
  width: 18px;
  height: 16px;
  border: none;
  background: transparent;
}

.product-item__favorite::before {
  content: "";
  position: absolute;
  background-image: url('../images/favorite.svg');
  width: 20px;
  height: 17px;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
}

.product-item__favorite--active::before {
  background-image: url('../images/favorite-active.svg');
  top: 1px;
  right: -1px;
}

.catalog__inner-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item:hover {
  box-shadow: 0 0 15px rgba(50, 50, 50, 0.25);
}

.pagination {
  display: flex;
  justify-content: right;
  margin-left: 90%;
}

.pagination-list {
  display: flex;
  position: relative;
  margin-right: 22px;
}

.pagintation-list__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #B6B6B6;
  padding-left: 8px;
}

.pagintation-list__item.active {
  color: #1B1A17;
}

.pagination-list::before {
  content: "";
  position: absolute;
  background-image: url('../images/arrow-left.svg');
  width: 6px;
  height: 11px;
  top: 4px;
  right: 97px;
}

.pagination-list::after {
  content: "";
  position: absolute;
  background-image: url('../images/arrow-right.svg');
  width: 6px;
  height: 11px;
  top: 4px;
  right: -20px;
}

.discount {
  position: relative;
  background-color: rgba(234, 228, 213, 0.38);
  margin-bottom: 80px;
}

.discount__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #818181;
  padding: 66px 0 15px 43px;
}

.discount-inner__text {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #1B1A17;
  margin: 0 123px 77px 40px;
  max-width: 505px;
}

.discount-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.discount-inner__form {
  position: relative;
  margin-bottom: 20px;
}

.discount-inner__form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1B1A17;
  width: 280px;
  margin-right: 33px;
  padding-bottom: 20px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444240;
}

.discount-inner__form-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444240;
  opacity: 1;
}

.discount__btn-subscription {
  position: absolute;
  bottom: 0;
  background: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 25px 42px 25px 46px;
  background-color: #31302C;
  transition: all .3s;
  cursor: pointer;
}

.discount__btn-subscription:hover {
  box-shadow: 5px 5px 5px 2px rgba(50, 50, 50, 0.40);
}

.discount::before {
  content: "";
  position: absolute;
  background-image: url('../images/Ellipse7.png');
  width: 367px;
  height: 293px;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
}

.ellipse-8::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  background-image: url('../images/Ellipse8.png');
  width: 274px;
  height: 122px;
}

.ellipse-9::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../images/Ellipse9.png');
  width: 113px;
  height: 127px;
}

.product__slider {
  margin-bottom: 60px;
}

.product__slider-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.product__slider-title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  margin-left: 13px;
}

.product__slider-item .product-item {
  width: 360px;
  min-height: 382px;
  margin-left: 15px;
  margin-top: 15px;
}

.product__slider-item .product-item__price {
  display: flex;
}

.product__slider-item .product-item__price span {
  padding: 3px 0 0 7px;
}

.product__slider-item .product-item__basket {
  right: 43px;
  top: 36px;
}

.product__slider-section-btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product__slider-section-btnprev,
.product__slider-section-btnnext {
  position: absolute;
  top: 43%;
  outline: none;
}

.product__slider-section-btnprev {
  left: -42px;
}

.product__slider-section-btnnext {
  right: -40px;
}

.product__slider-section-btnnext.product-card__slider1-btnnext {
  right: -83px;
}

.product-item__favorite, .product-item__basket {
  outline: none;
}

.product-card {
  margin-bottom: 80px;
}

.product-card__slider1 {
  width: 445px;
}

.product-card__sliders {
  margin-right: 40px;
}

.product-card__slider1 {
  margin-left: 40px;
}

.product-card__slider2 {
  width: 560px;
  cursor: pointer;
}

.card-slider2-item {
  margin-left: 17px;
  background-color: rgba(100, 100, 100, 0.15);
  transition: all .3s;
  outline: none;
}

.card-slider2-item:hover {
  background-color: #fff;
}

/*выбранный активнный слайд (класс в slick) */
.slick-current { 
  background-color: #fff;
}

.product-card__inner {
  display: flex;
}

.product-card__content {
  margin-top: 30px;
  background-color: #FDFDFB;
}

.product-card__content {
  position: relative;
  padding: 50px 70px 50px 60px;
}

.product-card__title {
  width: 430px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #444240;
  margin-bottom: 15px;
}

.product-card__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #686868;
  margin-bottom: 45px;
}

.product-card__tab {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444240;
  margin: 0 40px 30px 0;
}

.tab-content__text {
  width: 440px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 25px;
}

.tab-content__text:last-child {
  margin-bottom: 0;
}

.product-card__btn button{
  margin-top: 45px;
  padding: 25px 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #31302C;
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.product-card__btn button:hover {
  box-shadow: 5px 5px 5px 2px rgba(50, 50, 50, 0.40);
}

.product-card__tab-content {
  min-height: 234px;
}

.product-card__tab.tab--active {
  border-bottom: 1px solid #C4C0B6;
  padding-bottom: 10px;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.product-card__btn.product-item__favorite {
  top: 60px;
  right: 40px;
}

.product__slider-title.product__slider-title-2 {
  margin-bottom: 30px;
}

.menu-mobile__list {
  position: fixed;
  background-color: rgba(234, 227, 212);
  transition: all .5s;
  top: 100px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  z-index: 10;
  padding: 100px 0;
  opacity: 0;
  visibility: hidden;
}

.menu-mobile__item {
  border-bottom: 2px solid #8B8371;
}

.menu-mobile__item:first-child {
  border-top: 2px solid #8B8371;
}

.menu-mobile__item:last-child {
  margin-bottom: 200px;
}

.menu__mobile-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #444240;
  padding: 20px 40px 20px 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.footer__drop {
  pointer-events: none; /*Отключение выпадания списка*/
}

.menu.menu--catalog {
  display: none;
}

.product-item__banner {
  margin-bottom: 40px;
  width: 252px;
}

.aside__btn {
  display: none;
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: #6F6E6D;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all .3s;
}

.catalog__aside--active {
  display: block;
}
